@layer components {
  .fr-accordion {
    --accordion-title-padding: 1rem 0;
    --accordion-title-font-weight: 500;
    --accordion-title-color: var(--fr-background-f);
    --accordion-title-hover-decoration: underline;

    --accordion-icon-transition-duration: 300ms;

    --accordion-content-color: var(--fr-muted-f);
  }

  .fr-accordion-item-title {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    padding: var(--accordion-title-padding);
    color: var(--accordion-title-color);
    font-weight: var(--accordion-title-font-weight);
    text-align: start;
    transition: color 150ms ease-in-out;
    cursor: pointer;
  }

  .fr-accordion-item-title:hover {
    text-decoration: var(--accordion-title-hover-decoration);
  }

  .fr-accordion-item-title fr-icon {
    flex-shrink: 0;
    transition: transform var(--accordion-icon-transition-duration) ease-in-out;
  }

  fr-accordion-item[open] .fr-accordion-item-title fr-icon {
    transform: rotate(180deg);
  }

  .fr-accordion-item-content {
    color: var(--accordion-content-color);
  }
}
