@layer components {
  .uk-accordion {
    --uk-accordion-border: var(--uk-border);
    --uk-accordion-border-o: 10%;

    --uk-accordion-border-computed: color-mix(
      in srgb,
      var(--uk-accordion-border) var(--uk-accordion-border-o),
      transparent
    );
  }
  .uk-accordion-title {
    display: flex;
    justify-content: space-between;
    align-items: start;
    overflow: hidden;
    padding: 1rem 0 1rem 0;
    font-weight: 500;
  }
  .uk-accordion-title:hover {
    text-decoration: underline;
  }
  .uk-accordion-icon {
    flex: none;
    transition: 300ms transform;
    color: var(--uk-muted-f);
  }
  .uk-open > .uk-accordion-title > .uk-accordion-icon {
    transform: rotate(180deg);
  }
  .uk-accordion-content {
    display: flow-root;
    padding: 0 0 1rem 0;
  }
  .uk-accordion-content[hidden] {
    display: none;
  }
  .uk-accordion > li {
    border-width: var(--uk-accordion-border-w, 0 0 1px 0);
    border-style: var(--uk-accordion-border-style, solid);
    border-color: var(--uk-accordion-border-computed);
  }
}
