@layer components {
  .uk-alert {
    --uk-alert-bg: var(--uk-muted);
    --uk-alert-bg-o: 4%;
    --uk-alert-color: var(--uk-muted-f);
    --uk-alert-color-o: 100%;
    --uk-alert-border: var(--uk-border);
    --uk-alert-border-o: 10%;

    --uk-alert-bg-computed: color-mix(
      in srgb,
      var(--uk-alert-bg) var(--uk-alert-bg-o, 100%),
      transparent
    );
    --uk-alert-color-computed: color-mix(
      in srgb,
      var(--uk-alert-color) var(--uk-alert-color-o, 100%),
      transparent
    );
    --uk-alert-border-computed: color-mix(
      in srgb,
      var(--uk-alert-border) var(--uk-alert-border-o),
      transparent
    );

    position: relative;
    padding: 1rem 2rem 1rem 1rem;
    background-color: var(--uk-alert-bg-computed);
    color: var(--uk-alert-color-computed);
    border-radius: var(--radius-md);
    border-width: 1px;
    border-style: solid;
    border-color: var(--uk-alert-border-computed);
  }

  .uk-alert-close {
    position: absolute;
    inset: 1rem 1rem auto auto;
  }

  .uk-alert-danger {
    --uk-alert-bg: var(--uk-danger);
    --uk-alert-bg-o: 4%;
    --uk-alert-border: var(--uk-danger);
    --uk-alert-border-o: 32%;
  }

  .uk-alert-warning {
    --uk-alert-bg: var(--uk-warning);
    --uk-alert-bg-o: 4%;
    --uk-alert-border: var(--uk-warning);
    --uk-alert-border-o: 32%;
  }

  .uk-alert-info {
    --uk-alert-bg: var(--uk-info);
    --uk-alert-bg-o: 4%;
    --uk-alert-border: var(--uk-info);
    --uk-alert-border-o: 32%;
  }

  .uk-alert-success {
    --uk-alert-bg: var(--uk-success);
    --uk-alert-bg-o: 4%;
    --uk-alert-border: var(--uk-success);
    --uk-alert-border-o: 32%;
  }

  .uk-alert a:not([class]) {
    font-weight: 500;
    text-decoration-line: underline;
    text-underline-offset: 4px;
  }
}
