@layer components {
  .uk-badge {
    --uk-badge-bg: var(--uk-bg);
    --uk-badge-bg-o: 100%;
    --uk-badge-color: var(--uk-bg-f);
    --uk-badge-color-o: 100%;
    --uk-badge-border: var(--uk-border);
    --uk-badge-border-o: 10%;

    --uk-badge-bg-computed: color-mix(
      in srgb,
      var(--uk-badge-bg) var(--uk-badge-bg-o, 100%),
      transparent
    );
    --uk-badge-color-computed: color-mix(
      in srgb,
      var(--uk-badge-color) var(--uk-badge-color-o, 100%),
      transparent
    );
    --uk-badge-border-computed: color-mix(
      in srgb,
      var(--uk-badge-border) var(--uk-badge-border-o),
      transparent
    );

    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 1.25rem;
    min-width: 1.25rem;
    padding: 0 0.375rem;
    font-size: var(--font-size-sm);
    line-height: var(--font-size-sm--line-height);
    font-weight: 600;
    border-radius: 9999px;
    box-shadow: var(--uk-badge-shadow, --shadow-sm);
    border-width: 1px;
    border-style: solid;
    border-color: var(--uk-badge-border-computed);
    background-color: var(--uk-badge-bg-computed);
    color: var(--uk-badge-color-computed);
  }

  .uk-badge:hover {
    transition-property: background-color;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
    opacity: 80%;
  }

  .uk-badge-danger {
    --uk-badge-bg: var(--uk-danger);
    --uk-badge-bg-o: 4%;
    --uk-badge-color: var(--uk-danger);
    --uk-badge-border: var(--uk-danger);
    --uk-badge-border-o: 32%;
  }

  .uk-badge-warning {
    --uk-badge-bg: var(--uk-warning);
    --uk-badge-bg-o: 4%;
    --uk-badge-color: var(--uk-warning);
    --uk-badge-border: var(--uk-warning);
    --uk-badge-border-o: 32%;
  }

  .uk-badge-info {
    --uk-badge-bg: var(--uk-info);
    --uk-badge-bg-o: 4%;
    --uk-badge-color: var(--uk-info);
    --uk-badge-border: var(--uk-info);
    --uk-badge-border-o: 32%;
  }

  .uk-badge-success {
    --uk-badge-bg: var(--uk-success);
    --uk-badge-bg-o: 4%;
    --uk-badge-color: var(--uk-success);
    --uk-badge-border: var(--uk-success);
    --uk-badge-border-o: 32%;
  }
}
