@layer components {
  .uk-breadcrumb > * {
    display: contents;
  }

  .uk-breadcrumb > * > * {
    display: inline-flex;
    align-items: center;
    color: var(--uk-muted-f);
  }

  .uk-breadcrumb > * > :hover {
    text-decoration: none;
    color: var(--uk-bg-f);

    transition-property: color;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
  }

  .uk-breadcrumb > :last-child > span,
  .uk-breadcrumb > :last-child > a:not([href]) {
    font-weight: 500;
    color: var(--uk-bg-f);
  }

  .uk-breadcrumb > :nth-child(n + 2):not(.uk-first-column)::before {
    content: var(--uk-breadcrumb-divider, '/');
    display: inline-block;
    margin-inline: var(--uk-breadcrumb-divider-margin-start, 0.5rem)
      var(--uk-breadcrumb-divider-margin-end, 0.75rem);
    color: var(--uk-muted-f);
  }

  .uk-breadcrumb > .uk-disabled > * {
    opacity: var(--uk-breadcrumb-disabled-opacity, 0.5);
    pointer-events: none;
  }
}
