@layer components {
  .fr-breadcrumb > * {
    display: contents;
  }
  .fr-breadcrumb > * > * {
    display: inline-flex;
    align-items: center;
    color: var(--fr-muted-f);
  }
  .fr-breadcrumb > * > :hover {
    text-decoration: none;
    color: var(--fr-background-f);

    transition-property: color;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
  }
  .fr-breadcrumb > :last-child > span,
  .fr-breadcrumb > :last-child > a:not([href]) {
    font-weight: 500;
    color: var(--fr-background-f);
  }
  .fr-breadcrumb > :nth-child(n + 2):not(.fr-first-column)::before {
    content: var(--fr-breadcrumb-divider, '/');
    display: inline-block;
    margin-inline: var(--fr-breadcrumb-divider-margin-start, 0.5rem)
      var(--fr-breadcrumb-divider-margin-end, 0.75rem);
    color: var(--fr-muted-f);
  }
  .fr-breadcrumb > .fr-disabled > * {
    opacity: var(--fr-breadcrumb-disabled-opacity, 0.5);
    pointer-events: none;
  }
}
