@layer components {
  /* ========================================================================
   Component: Container
 ========================================================================== */
  /*
 * 1. Box sizing has to be `content-box` so the max-width is always the same and
 *    unaffected by the padding on different breakpoints. It's important for the size modifiers.
 */
  .uk-container {
    display: flow-root;
    /* 1 */
    box-sizing: content-box;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  /* Phone landscape and bigger */
  @media (min-width: 40rem) {
    .uk-container {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  /* Tablet landscape and bigger */
  @media (min-width: 60rem) {
    .uk-container {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
  /*
 * Remove margin from the last-child
 */
  .uk-container > :last-child {
    margin-bottom: 0;
  }
  /*
 * Remove padding from nested containers
 */
  .uk-container .uk-container {
    padding-left: 0;
    padding-right: 0;
  }
  /* Size modifier
 ========================================================================== */
  .uk-container-xsmall {
    max-width: 750px;
  }
  .uk-container-small {
    max-width: 900px;
  }
  .uk-container-large {
    max-width: 1400px;
  }
  .uk-container-xlarge {
    max-width: 1600px;
  }
  .uk-container-expand {
    max-width: none;
  }
  /* Expand modifier
 ========================================================================== */
  /*
 * Expand one side only
 */
  .uk-container-expand-left {
    margin-left: 0;
  }
  .uk-container-expand-right {
    margin-right: 0;
  }
  /* Phone landscape and bigger */
  @media (min-width: 40rem) {
    .uk-container-expand-left.uk-container-xsmall,
    .uk-container-expand-right.uk-container-xsmall {
      max-width: calc(50% + (750px / 2) - 30px);
    }
    .uk-container-expand-left.uk-container-small,
    .uk-container-expand-right.uk-container-small {
      max-width: calc(50% + (900px / 2) - 30px);
    }
  }
  /* Tablet landscape and bigger */
  @media (min-width: 60rem) {
    .uk-container-expand-left,
    .uk-container-expand-right {
      max-width: calc(50% + (1200px / 2) - 40px);
    }
    .uk-container-expand-left.uk-container-xsmall,
    .uk-container-expand-right.uk-container-xsmall {
      max-width: calc(50% + (750px / 2) - 40px);
    }
    .uk-container-expand-left.uk-container-small,
    .uk-container-expand-right.uk-container-small {
      max-width: calc(50% + (900px / 2) - 40px);
    }
    .uk-container-expand-left.uk-container-large,
    .uk-container-expand-right.uk-container-large {
      max-width: calc(50% + (1400px / 2) - 40px);
    }
    .uk-container-expand-left.uk-container-xlarge,
    .uk-container-expand-right.uk-container-xlarge {
      max-width: calc(50% + (1600px / 2) - 40px);
    }
  }
  /* Item
 ========================================================================== */
  /*
 * Utility classes to reset container padding on the left or right side
 * Note: It has to be negative margin on the item, because it's specific to the item.
 */
  .uk-container-item-padding-remove-left,
  .uk-container-item-padding-remove-right {
    width: calc(100% + 15px);
  }
  .uk-container-item-padding-remove-left {
    margin-left: -15px;
  }
  .uk-container-item-padding-remove-right {
    margin-right: -15px;
  }
  /* Phone landscape and bigger */
  @media (min-width: 40rem) {
    .uk-container-item-padding-remove-left,
    .uk-container-item-padding-remove-right {
      width: calc(100% + 30px);
    }
    .uk-container-item-padding-remove-left {
      margin-left: -30px;
    }
    .uk-container-item-padding-remove-right {
      margin-right: -30px;
    }
  }
  /* Tablet landscape and bigger */
  @media (min-width: 60rem) {
    .uk-container-item-padding-remove-left,
    .uk-container-item-padding-remove-right {
      width: calc(100% + 40px);
    }
    .uk-container-item-padding-remove-left {
      margin-left: -40px;
    }
    .uk-container-item-padding-remove-right {
      margin-right: -40px;
    }
  }
}
