@layer components {
  /* ========================================================================
   Component: Position
 ========================================================================== */
  :root {
    --uk-position-margin-offset: 0px;
  }
  /* Directions
 ========================================================================== */
  /*
 * 1. Prevent content overflow.
 */
  [class*='uk-position-top'],
  [class*='uk-position-bottom'],
  [class*='uk-position-left'],
  [class*='uk-position-right'],
  [class*='uk-position-center'] {
    position: absolute !important;
    /* 1 */
    max-width: calc(100% - (var(--uk-position-margin-offset) * 2));
    box-sizing: border-box;
  }
  /*
 * Edges
 * Don't use `width: 100%` because it's wrong if the parent has padding.
 */
  .uk-position-top {
    top: 0;
    left: 0;
    right: 0;
  }
  .uk-position-bottom {
    bottom: 0;
    left: 0;
    right: 0;
  }
  .uk-position-left {
    top: 0;
    bottom: 0;
    left: 0;
  }
  .uk-position-right {
    top: 0;
    bottom: 0;
    right: 0;
  }
  /*
 * Corners
 */
  .uk-position-top-left {
    top: 0;
    left: 0;
  }
  .uk-position-top-right {
    top: 0;
    right: 0;
  }
  .uk-position-bottom-left {
    bottom: 0;
    left: 0;
  }
  .uk-position-bottom-right {
    bottom: 0;
    right: 0;
  }
  /*
 * Center
 * 1. Fix text wrapping if content is larger than 50% of the container.
 *    Using `max-content` requires `max-width` of 100% which is set generally.
 */
  .uk-position-center {
    top: calc(50% - var(--uk-position-margin-offset));
    left: calc(50% - var(--uk-position-margin-offset));
    --uk-position-translate-x: -50%;
    --uk-position-translate-y: -50%;
    transform: translate(
      var(--uk-position-translate-x),
      var(--uk-position-translate-y)
    );
    /* 1 */
    width: max-content;
  }
  /* Vertical */
  [class*='uk-position-center-left'],
  [class*='uk-position-center-right'],
  .uk-position-center-vertical {
    top: calc(50% - var(--uk-position-margin-offset));
    --uk-position-translate-y: -50%;
    transform: translate(0, var(--uk-position-translate-y));
  }
  .uk-position-center-left {
    left: 0;
  }
  .uk-position-center-right {
    right: 0;
  }
  .uk-position-center-vertical {
    left: 0;
    right: 0;
  }
  .uk-position-center-left-out {
    right: 100%;
    width: max-content;
  }
  .uk-position-center-right-out {
    left: 100%;
    width: max-content;
  }
  /* Horizontal */
  .uk-position-top-center,
  .uk-position-bottom-center,
  .uk-position-center-horizontal {
    left: calc(50% - var(--uk-position-margin-offset));
    --uk-position-translate-x: -50%;
    transform: translate(var(--uk-position-translate-x), 0);
    /* 1 */
    width: max-content;
  }
  .uk-position-top-center {
    top: 0;
  }
  .uk-position-bottom-center {
    bottom: 0;
  }
  .uk-position-center-horizontal {
    top: 0;
    bottom: 0;
  }
  /*
 * Cover
 */
  .uk-position-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  /* Margin
 ========================================================================== */
  .uk-position-small {
    margin: 0.5rem;
    --uk-position-margin-offset: 0.5rem;
  }
  .uk-position-medium {
    margin: 2.5rem;
    --uk-position-margin-offset: 2.5rem;
  }
  .uk-position-large {
    margin: 5rem;
    --uk-position-margin-offset: 5rem;
  }
  /* Desktop and bigger */
  @media (min-width: 80rem) {
    .uk-position-large {
      margin: 6rem;
      --uk-position-margin-offset: 6rem;
    }
  }
  /* Schemes
 ========================================================================== */
  .uk-position-relative {
    position: relative !important;
  }
  .uk-position-absolute {
    position: absolute !important;
  }
  .uk-position-fixed {
    position: fixed !important;
  }
  .uk-position-sticky {
    position: sticky !important;
  }
  /* Layer
 ========================================================================== */
  .uk-position-z-index {
    z-index: 1;
  }
  .uk-position-z-index-zero {
    z-index: 0;
  }
  .uk-position-z-index-negative {
    z-index: -1;
  }
  .uk-position-z-index-high {
    z-index: 990;
  }
  .uk-position-z-index-highest {
    z-index: 1060;
  }

  /* ========================================================================
   Component: Transition
 ========================================================================== */
  /* Transitions
 ========================================================================== */
  /*
 * The toggle is triggered on touch devices by two methods:
 * 1. Using `:focus` and tabindex
 * 2. Using `:hover` and a `touchstart` event listener registered on the document
 *    (Doesn't work on Surface touch devices)
 */
  :where(.uk-transition-fade),
  :where([class*='uk-transition-scale']),
  :where([class*='uk-transition-slide']) {
    --uk-position-translate-x: 0;
    --uk-position-translate-y: 0;
  }
  .uk-transition-fade,
  [class*='uk-transition-scale'],
  [class*='uk-transition-slide'] {
    --uk-translate-x: 0;
    --uk-translate-y: 0;
    --uk-scale-x: 1;
    --uk-scale-y: 1;
    transform: translate(
        var(--uk-position-translate-x),
        var(--uk-position-translate-y)
      )
      translate(var(--uk-translate-x), var(--uk-translate-y))
      scale(var(--uk-scale-x), var(--uk-scale-y));
    transition: 0.3s ease-out;
    transition-property: opacity, transform, filter;
    opacity: 0;
  }
  /*
 * Fade
 */
  .uk-transition-toggle:hover .uk-transition-fade,
  .uk-transition-toggle:focus .uk-transition-fade,
  .uk-transition-toggle:focus-within .uk-transition-fade,
  .uk-transition-active.uk-active .uk-transition-fade {
    opacity: 1;
  }
  /*
 * Scale
 * 1. Make image rendering the same during the transition as before and after. Prefixed because of Safari.
 */
  /* 1 */
  [class*='uk-transition-scale'] {
    -webkit-backface-visibility: hidden;
  }
  .uk-transition-scale-up {
    --uk-scale-x: 1;
    --uk-scale-y: 1;
  }
  .uk-transition-scale-down {
    --uk-scale-x: 1.03;
    --uk-scale-y: 1.03;
  }
  /* Show */
  .uk-transition-toggle:hover .uk-transition-scale-up,
  .uk-transition-toggle:focus .uk-transition-scale-up,
  .uk-transition-toggle:focus-within .uk-transition-scale-up,
  .uk-transition-active.uk-active .uk-transition-scale-up {
    --uk-scale-x: 1.03;
    --uk-scale-y: 1.03;
    opacity: 1;
  }
  .uk-transition-toggle:hover .uk-transition-scale-down,
  .uk-transition-toggle:focus .uk-transition-scale-down,
  .uk-transition-toggle:focus-within .uk-transition-scale-down,
  .uk-transition-active.uk-active .uk-transition-scale-down {
    --uk-scale-x: 1;
    --uk-scale-y: 1;
    opacity: 1;
  }
  /*
 * Slide
 */
  .uk-transition-slide-top {
    --uk-translate-y: -100%;
  }
  .uk-transition-slide-bottom {
    --uk-translate-y: 100%;
  }
  .uk-transition-slide-left {
    --uk-translate-x: -100%;
  }
  .uk-transition-slide-right {
    --uk-translate-x: 100%;
  }
  .uk-transition-slide-top-small {
    --uk-translate-y: calc(-1 * 10px);
  }
  .uk-transition-slide-bottom-small {
    --uk-translate-y: 10px;
  }
  .uk-transition-slide-left-small {
    --uk-translate-x: calc(-1 * 10px);
  }
  .uk-transition-slide-right-small {
    --uk-translate-x: 10px;
  }
  .uk-transition-slide-top-medium {
    --uk-translate-y: calc(-1 * 50px);
  }
  .uk-transition-slide-bottom-medium {
    --uk-translate-y: 50px;
  }
  .uk-transition-slide-left-medium {
    --uk-translate-x: calc(-1 * 50px);
  }
  .uk-transition-slide-right-medium {
    --uk-translate-x: 50px;
  }
  /* Show */
  .uk-transition-toggle:hover [class*='uk-transition-slide'],
  .uk-transition-toggle:focus [class*='uk-transition-slide'],
  .uk-transition-toggle:focus-within [class*='uk-transition-slide'],
  .uk-transition-active.uk-active [class*='uk-transition-slide'] {
    --uk-translate-x: 0;
    --uk-translate-y: 0;
    opacity: 1;
  }
  /* Opacity modifier
 ========================================================================== */
  .uk-transition-opaque {
    opacity: 1;
  }
  /* Duration modifier
 ========================================================================== */
  .uk-transition-slow {
    transition-duration: 0.7s;
  }
  /* Disable modifier
 ========================================================================== */
  .uk-transition-disable,
  .uk-transition-disable * {
    transition: none !important;
  }

  /* ========================================================================
   Component: Sticky
 ========================================================================== */
  /*
 * 1. Create position context so it's t the same like when fixed.
 * 2. Create stacking context already when not sticky to have the same context
*     for position set to `sticky` and `relative`
 * 2. More robust if padding and border are used and the sticky height is transitioned
 */
  .uk-sticky {
    /* 1 */
    position: relative;
    /* 2 */
    z-index: 980;
    /* 3 */
    box-sizing: border-box;
  }
  .uk-sticky-fixed {
    margin: 0 !important;
  }
  /*
 * Faster animations
 */
  .uk-sticky[class*='uk-animation-'] {
    animation-duration: 0.2s;
  }
  .uk-sticky.uk-animation-reverse {
    animation-duration: 0.2s;
  }
  /*
 * Placeholder
 * Make content clickable for sticky cover and reveal effects
 */
  .uk-sticky-placeholder {
    pointer-events: none;
  }

  /* Animations
 ========================================================================== */
  /*
 * Fade
 */
  .uk-animation-fade {
    animation-name: uk-fade;
    animation-duration: 0.8s;
    animation-timing-function: linear;
  }
  /*
 * Scale
 */
  .uk-animation-scale-up {
    animation-name: uk-fade, uk-scale-up;
  }
  .uk-animation-scale-down {
    animation-name: uk-fade, uk-scale-down;
  }
  /*
 * Slide
 */
  .uk-animation-slide-top {
    animation-name: uk-fade, uk-slide-top;
  }
  .uk-animation-slide-bottom {
    animation-name: uk-fade, uk-slide-bottom;
  }
  .uk-animation-slide-left {
    animation-name: uk-fade, uk-slide-left;
  }
  .uk-animation-slide-right {
    animation-name: uk-fade, uk-slide-right;
  }
  /*
 * Slide Small
 */
  .uk-animation-slide-top-small {
    animation-name: uk-fade, uk-slide-top-small;
  }
  .uk-animation-slide-bottom-small {
    animation-name: uk-fade, uk-slide-bottom-small;
  }
  .uk-animation-slide-left-small {
    animation-name: uk-fade, uk-slide-left-small;
  }
  .uk-animation-slide-right-small {
    animation-name: uk-fade, uk-slide-right-small;
  }
  /*
 * Slide Medium
 */
  .uk-animation-slide-top-medium {
    animation-name: uk-fade, uk-slide-top-medium;
  }
  .uk-animation-slide-bottom-medium {
    animation-name: uk-fade, uk-slide-bottom-medium;
  }
  .uk-animation-slide-left-medium {
    animation-name: uk-fade, uk-slide-left-medium;
  }
  .uk-animation-slide-right-medium {
    animation-name: uk-fade, uk-slide-right-medium;
  }
  /*
 * Kenburns
 */
  .uk-animation-kenburns {
    animation-name: uk-kenburns;
    animation-duration: 15s;
  }
  /*
 * Shake
 */
  .uk-animation-shake {
    animation-name: uk-shake;
  }
  /*
 * SVG Stroke
 * The `--uk-animation-stroke` custom property contains the longest path length.
 * Set it manually or use `uk-svg="stroke-animation: true"` to set it automatically.
 * All strokes are animated by the same pace and doesn't end simultaneously.
 * To end simultaneously, `pathLength="1"` could be used, but it's not working in Safari yet.
 */
  .uk-animation-stroke {
    animation-name: uk-stroke;
    animation-duration: 2s;
    stroke-dasharray: var(--uk-animation-stroke);
  }
  /* Direction modifier
 ========================================================================== */
  .uk-animation-reverse {
    animation-direction: reverse;
    animation-timing-function: ease-in;
  }
  /* Duration modifier
 ========================================================================== */
  .uk-animation-fast {
    animation-duration: 0.1s;
  }
  /* Toggle animation based on the State of the Parent Element
 ========================================================================== */
  .uk-animation-toggle:not(:hover):not(:focus) [class*='uk-animation-'] {
    animation-name: none;
  }
  /* Keyframes used by animation classes
 ========================================================================== */
  /*
 * Fade
 */
  @keyframes uk-fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  /*
 * Scale
 */
  @keyframes uk-scale-up {
    0% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes uk-scale-down {
    0% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  /*
 * Slide
 */
  @keyframes uk-slide-top {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes uk-slide-bottom {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes uk-slide-left {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes uk-slide-right {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  /*
 * Slide Small
 */
  @keyframes uk-slide-top-small {
    0% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes uk-slide-bottom-small {
    0% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes uk-slide-left-small {
    0% {
      transform: translateX(-10px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes uk-slide-right-small {
    0% {
      transform: translateX(10px);
    }
    100% {
      transform: translateX(0);
    }
  }
  /*
 * Slide Medium
 */
  @keyframes uk-slide-top-medium {
    0% {
      transform: translateY(-50px);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes uk-slide-bottom-medium {
    0% {
      transform: translateY(50px);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes uk-slide-left-medium {
    0% {
      transform: translateX(-50px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes uk-slide-right-medium {
    0% {
      transform: translateX(50px);
    }
    100% {
      transform: translateX(0);
    }
  }
  /*
 * Kenburns
 */
  @keyframes uk-kenburns {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.2);
    }
  }
  /*
 * Shake
 */
  @keyframes uk-shake {
    0%,
    100% {
      transform: translateX(0);
    }
    10% {
      transform: translateX(-9px);
    }
    20% {
      transform: translateX(8px);
    }
    30% {
      transform: translateX(-7px);
    }
    40% {
      transform: translateX(6px);
    }
    50% {
      transform: translateX(-5px);
    }
    60% {
      transform: translateX(4px);
    }
    70% {
      transform: translateX(-3px);
    }
    80% {
      transform: translateX(2px);
    }
    90% {
      transform: translateX(-1px);
    }
  }
  /*
 * Stroke
 */
  @keyframes uk-stroke {
    0% {
      stroke-dashoffset: var(--uk-animation-stroke);
    }
    100% {
      stroke-dashoffset: 0;
    }
  }

  /* ========================================================================
   Component: SVG
 ========================================================================== */
  /*
 * 1. Fill all SVG elements with the current text color if no `fill` attribute is set
 * 2. Set the fill and stroke color of all SVG elements to the current text color
 */
  /* 1 */
  .uk-svg,
  .uk-svg:not(.uk-preserve) [fill*='#']:not(.uk-preserve) {
    fill: currentcolor;
  }
  .uk-svg:not(.uk-preserve) [stroke*='#']:not(.uk-preserve) {
    stroke: currentcolor;
  }
  /*
 * Fix Firefox blurry SVG rendering: https://bugzilla.mozilla.org/show_bug.cgi?id=1046835
 */
  .uk-svg {
    transform: translate(0, 0);
  }
}
