@layer components {
  /* ============================================
     Input Pin Component
     ============================================ */
  .uk-input-pin {
    /* Base Variables */
    --uk-input-pin-radius: var(--uk-form-input-radius);
    --uk-input-pin-shadow: var(--uk-form-input-shadow);
    --uk-input-pin-focus-ring-color: var(--uk-focus);
    --uk-input-pin-focus-ring-color-o: 100%;

    /* Computed value */
    --uk-input-pin-focus-ring-color-computed: color-mix(
      in srgb,
      var(--uk-input-pin-focus-ring-color)
        var(--uk-input-pin-focus-ring-color-o),
      transparent
    );

    display: inline-flex;
    align-items: center;
    border-radius: var(--uk-input-pin-radius);
    box-shadow: var(--uk-input-pin-shadow);
  }

  .uk-input-pin input {
    /* Base Variables */
    --uk-input-pin-input-border-color: var(--uk-input);
    --uk-input-pin-input-border-color-o: 10%;

    /* Computed value */
    --uk-input-pin-input-border-color-computed: color-mix(
      in srgb,
      var(--uk-input-pin-input-border-color)
        var(--uk-input-pin-input-border-color-o),
      transparent
    );

    height: var(--uk-form-input-height);
    width: var(--uk-form-input-height);
    position: relative;
    margin: 0 -1px 0 0;
    display: flex;
    font-size: var(--uk-form-input-font-size);
    line-height: var(--uk-form-input-leading);
    text-align: center;
    background-color: transparent;
    outline: none;
    border-width: 1px;
    border-style: solid;
    border-color: var(--uk-input-pin-input-border-color-computed);
  }

  .uk-input-pin input::placeholder {
    color: var(--uk-muted-f);
  }

  .uk-input-pin input:focus {
    z-index: 10;
    outline-width: 1px;
    outline-style: solid;
    outline-color: var(--uk-input-pin-focus-ring-color-computed);
    outline-offset: 0px;
    box-shadow: none;
  }

  .uk-input-pin input:focus::placeholder {
    color: var(--uk-bg);
  }

  /* Danger Variant */
  .uk-input-pin.uk-form-danger {
    --uk-input-pin-focus-ring-color: var(--uk-danger);
  }

  /* Disabled State */
  .uk-input-pin.uk-disabled input,
  .uk-input-pin input:disabled {
    opacity: 0.5;
  }

  /* First and Last Child Radius */
  .uk-input-pin input:first-child {
    border-start-start-radius: var(--uk-input-pin-radius);
    border-end-start-radius: var(--uk-input-pin-radius);
  }

  .uk-input-pin input:last-child {
    border-start-end-radius: var(--uk-input-pin-radius);
    border-end-end-radius: var(--uk-input-pin-radius);
  }

  /* Separated Variant */
  .uk-input-pin.uk-input-pin-separated {
    /* Base Variables */
    --uk-input-pin-separated-gap: 0.5rem;
    --uk-input-pin-separated-input-shadow: var(--uk-form-input-shadow);

    gap: var(--uk-input-pin-separated-gap);
    box-shadow: none;
  }

  .uk-input-pin.uk-input-pin-separated input {
    margin: 0;
    border-radius: var(--uk-input-pin-radius);
    box-shadow: var(--uk-input-pin-separated-input-shadow);
  }
}
