@layer utilities {
  .animate-spin {
    animation: var(--animate-spin);
  }

  .animate-ping {
    animation: var(--animate-ping);
  }

  .animate-pulse {
    animation: var(--animate-pulse);
  }

  .animate-bounce {
    animation: var(--animate-bounce);
  }

  .animate-none {
    animation: none;
  }

  @media (min-width: 40rem) {
    .sm\:animate-spin {
      animation: var(--animate-spin);
    }

    .sm\:animate-ping {
      animation: var(--animate-ping);
    }

    .sm\:animate-pulse {
      animation: var(--animate-pulse);
    }

    .sm\:animate-bounce {
      animation: var(--animate-bounce);
    }

    .sm\:animate-none {
      animation: none;
    }
  }

  @media (min-width: 48rem) {
    .md\:animate-spin {
      animation: var(--animate-spin);
    }

    .md\:animate-ping {
      animation: var(--animate-ping);
    }

    .md\:animate-pulse {
      animation: var(--animate-pulse);
    }

    .md\:animate-bounce {
      animation: var(--animate-bounce);
    }

    .md\:animate-none {
      animation: none;
    }
  }

  @media (min-width: 64rem) {
    .lg\:animate-spin {
      animation: var(--animate-spin);
    }

    .lg\:animate-ping {
      animation: var(--animate-ping);
    }

    .lg\:animate-pulse {
      animation: var(--animate-pulse);
    }

    .lg\:animate-bounce {
      animation: var(--animate-bounce);
    }

    .lg\:animate-none {
      animation: none;
    }
  }

  @media (min-width: 80rem) {
    .xl\:animate-spin {
      animation: var(--animate-spin);
    }

    .xl\:animate-ping {
      animation: var(--animate-ping);
    }

    .xl\:animate-pulse {
      animation: var(--animate-pulse);
    }

    .xl\:animate-bounce {
      animation: var(--animate-bounce);
    }

    .xl\:animate-none {
      animation: none;
    }
  }

  @media (min-width: 96rem) {
    .\32xl\:animate-spin {
      animation: var(--animate-spin);
    }

    .\32xl\:animate-ping {
      animation: var(--animate-ping);
    }

    .\32xl\:animate-pulse {
      animation: var(--animate-pulse);
    }

    .\32xl\:animate-bounce {
      animation: var(--animate-bounce);
    }

    .\32xl\:animate-none {
      animation: none;
    }
  }
}
