@layer utilities {
  .bg-blend-normal {
    background-blend-mode: normal;
  }

  .bg-blend-multiply {
    background-blend-mode: multiply;
  }

  .bg-blend-screen {
    background-blend-mode: screen;
  }

  .bg-blend-overlay {
    background-blend-mode: overlay;
  }

  .bg-blend-darken {
    background-blend-mode: darken;
  }

  .bg-blend-lighten {
    background-blend-mode: lighten;
  }

  .bg-blend-color-dodge {
    background-blend-mode: color-dodge;
  }

  .bg-blend-color-burn {
    background-blend-mode: color-burn;
  }

  .bg-blend-hard-light {
    background-blend-mode: hard-light;
  }

  .bg-blend-soft-light {
    background-blend-mode: soft-light;
  }

  .bg-blend-difference {
    background-blend-mode: difference;
  }

  .bg-blend-exclusion {
    background-blend-mode: exclusion;
  }

  .bg-blend-hue {
    background-blend-mode: hue;
  }

  .bg-blend-saturation {
    background-blend-mode: saturation;
  }

  .bg-blend-color {
    background-blend-mode: color;
  }

  .bg-blend-luminosity {
    background-blend-mode: luminosity;
  }

  @media (min-width: 40rem) {
    .sm\:bg-blend-normal {
      background-blend-mode: normal;
    }

    .sm\:bg-blend-multiply {
      background-blend-mode: multiply;
    }

    .sm\:bg-blend-screen {
      background-blend-mode: screen;
    }

    .sm\:bg-blend-overlay {
      background-blend-mode: overlay;
    }

    .sm\:bg-blend-darken {
      background-blend-mode: darken;
    }

    .sm\:bg-blend-lighten {
      background-blend-mode: lighten;
    }

    .sm\:bg-blend-color-dodge {
      background-blend-mode: color-dodge;
    }

    .sm\:bg-blend-color-burn {
      background-blend-mode: color-burn;
    }

    .sm\:bg-blend-hard-light {
      background-blend-mode: hard-light;
    }

    .sm\:bg-blend-soft-light {
      background-blend-mode: soft-light;
    }

    .sm\:bg-blend-difference {
      background-blend-mode: difference;
    }

    .sm\:bg-blend-exclusion {
      background-blend-mode: exclusion;
    }

    .sm\:bg-blend-hue {
      background-blend-mode: hue;
    }

    .sm\:bg-blend-saturation {
      background-blend-mode: saturation;
    }

    .sm\:bg-blend-color {
      background-blend-mode: color;
    }

    .sm\:bg-blend-luminosity {
      background-blend-mode: luminosity;
    }
  }

  @media (min-width: 48rem) {
    .md\:bg-blend-normal {
      background-blend-mode: normal;
    }

    .md\:bg-blend-multiply {
      background-blend-mode: multiply;
    }

    .md\:bg-blend-screen {
      background-blend-mode: screen;
    }

    .md\:bg-blend-overlay {
      background-blend-mode: overlay;
    }

    .md\:bg-blend-darken {
      background-blend-mode: darken;
    }

    .md\:bg-blend-lighten {
      background-blend-mode: lighten;
    }

    .md\:bg-blend-color-dodge {
      background-blend-mode: color-dodge;
    }

    .md\:bg-blend-color-burn {
      background-blend-mode: color-burn;
    }

    .md\:bg-blend-hard-light {
      background-blend-mode: hard-light;
    }

    .md\:bg-blend-soft-light {
      background-blend-mode: soft-light;
    }

    .md\:bg-blend-difference {
      background-blend-mode: difference;
    }

    .md\:bg-blend-exclusion {
      background-blend-mode: exclusion;
    }

    .md\:bg-blend-hue {
      background-blend-mode: hue;
    }

    .md\:bg-blend-saturation {
      background-blend-mode: saturation;
    }

    .md\:bg-blend-color {
      background-blend-mode: color;
    }

    .md\:bg-blend-luminosity {
      background-blend-mode: luminosity;
    }
  }

  @media (min-width: 64rem) {
    .lg\:bg-blend-normal {
      background-blend-mode: normal;
    }

    .lg\:bg-blend-multiply {
      background-blend-mode: multiply;
    }

    .lg\:bg-blend-screen {
      background-blend-mode: screen;
    }

    .lg\:bg-blend-overlay {
      background-blend-mode: overlay;
    }

    .lg\:bg-blend-darken {
      background-blend-mode: darken;
    }

    .lg\:bg-blend-lighten {
      background-blend-mode: lighten;
    }

    .lg\:bg-blend-color-dodge {
      background-blend-mode: color-dodge;
    }

    .lg\:bg-blend-color-burn {
      background-blend-mode: color-burn;
    }

    .lg\:bg-blend-hard-light {
      background-blend-mode: hard-light;
    }

    .lg\:bg-blend-soft-light {
      background-blend-mode: soft-light;
    }

    .lg\:bg-blend-difference {
      background-blend-mode: difference;
    }

    .lg\:bg-blend-exclusion {
      background-blend-mode: exclusion;
    }

    .lg\:bg-blend-hue {
      background-blend-mode: hue;
    }

    .lg\:bg-blend-saturation {
      background-blend-mode: saturation;
    }

    .lg\:bg-blend-color {
      background-blend-mode: color;
    }

    .lg\:bg-blend-luminosity {
      background-blend-mode: luminosity;
    }
  }

  @media (min-width: 80rem) {
    .xl\:bg-blend-normal {
      background-blend-mode: normal;
    }

    .xl\:bg-blend-multiply {
      background-blend-mode: multiply;
    }

    .xl\:bg-blend-screen {
      background-blend-mode: screen;
    }

    .xl\:bg-blend-overlay {
      background-blend-mode: overlay;
    }

    .xl\:bg-blend-darken {
      background-blend-mode: darken;
    }

    .xl\:bg-blend-lighten {
      background-blend-mode: lighten;
    }

    .xl\:bg-blend-color-dodge {
      background-blend-mode: color-dodge;
    }

    .xl\:bg-blend-color-burn {
      background-blend-mode: color-burn;
    }

    .xl\:bg-blend-hard-light {
      background-blend-mode: hard-light;
    }

    .xl\:bg-blend-soft-light {
      background-blend-mode: soft-light;
    }

    .xl\:bg-blend-difference {
      background-blend-mode: difference;
    }

    .xl\:bg-blend-exclusion {
      background-blend-mode: exclusion;
    }

    .xl\:bg-blend-hue {
      background-blend-mode: hue;
    }

    .xl\:bg-blend-saturation {
      background-blend-mode: saturation;
    }

    .xl\:bg-blend-color {
      background-blend-mode: color;
    }

    .xl\:bg-blend-luminosity {
      background-blend-mode: luminosity;
    }
  }

  @media (min-width: 96rem) {
    .\32xl\:bg-blend-normal {
      background-blend-mode: normal;
    }

    .\32xl\:bg-blend-multiply {
      background-blend-mode: multiply;
    }

    .\32xl\:bg-blend-screen {
      background-blend-mode: screen;
    }

    .\32xl\:bg-blend-overlay {
      background-blend-mode: overlay;
    }

    .\32xl\:bg-blend-darken {
      background-blend-mode: darken;
    }

    .\32xl\:bg-blend-lighten {
      background-blend-mode: lighten;
    }

    .\32xl\:bg-blend-color-dodge {
      background-blend-mode: color-dodge;
    }

    .\32xl\:bg-blend-color-burn {
      background-blend-mode: color-burn;
    }

    .\32xl\:bg-blend-hard-light {
      background-blend-mode: hard-light;
    }

    .\32xl\:bg-blend-soft-light {
      background-blend-mode: soft-light;
    }

    .\32xl\:bg-blend-difference {
      background-blend-mode: difference;
    }

    .\32xl\:bg-blend-exclusion {
      background-blend-mode: exclusion;
    }

    .\32xl\:bg-blend-hue {
      background-blend-mode: hue;
    }

    .\32xl\:bg-blend-saturation {
      background-blend-mode: saturation;
    }

    .\32xl\:bg-blend-color {
      background-blend-mode: color;
    }

    .\32xl\:bg-blend-luminosity {
      background-blend-mode: luminosity;
    }
  }
}
