@layer utilities {
  .columns-3xs {
    columns: var(--container-3xs);
  }

  .columns-2xs {
    columns: var(--container-2xs);
  }

  .columns-xs {
    columns: var(--container-xs);
  }

  .columns-sm {
    columns: var(--container-sm);
  }

  .columns-md {
    columns: var(--container-md);
  }

  .columns-lg {
    columns: var(--container-lg);
  }

  .columns-xl {
    columns: var(--container-xl);
  }

  .columns-2xl {
    columns: var(--container-2xl);
  }

  .columns-3xl {
    columns: var(--container-3xl);
  }

  .columns-4xl {
    columns: var(--container-4xl);
  }

  .columns-5xl {
    columns: var(--container-5xl);
  }

  .columns-6xl {
    columns: var(--container-6xl);
  }

  .columns-7xl {
    columns: var(--container-7xl);
  }

  .columns-auto {
    columns: auto;
  }

  @media (min-width: 40rem) {
    .sm\:columns-3xs {
      columns: var(--container-3xs);
    }

    .sm\:columns-2xs {
      columns: var(--container-2xs);
    }

    .sm\:columns-xs {
      columns: var(--container-xs);
    }

    .sm\:columns-sm {
      columns: var(--container-sm);
    }

    .sm\:columns-md {
      columns: var(--container-md);
    }

    .sm\:columns-lg {
      columns: var(--container-lg);
    }

    .sm\:columns-xl {
      columns: var(--container-xl);
    }

    .sm\:columns-2xl {
      columns: var(--container-2xl);
    }

    .sm\:columns-3xl {
      columns: var(--container-3xl);
    }

    .sm\:columns-4xl {
      columns: var(--container-4xl);
    }

    .sm\:columns-5xl {
      columns: var(--container-5xl);
    }

    .sm\:columns-6xl {
      columns: var(--container-6xl);
    }

    .sm\:columns-7xl {
      columns: var(--container-7xl);
    }

    .sm\:columns-auto {
      columns: auto;
    }
  }

  @media (min-width: 48rem) {
    .md\:columns-3xs {
      columns: var(--container-3xs);
    }

    .md\:columns-2xs {
      columns: var(--container-2xs);
    }

    .md\:columns-xs {
      columns: var(--container-xs);
    }

    .md\:columns-sm {
      columns: var(--container-sm);
    }

    .md\:columns-md {
      columns: var(--container-md);
    }

    .md\:columns-lg {
      columns: var(--container-lg);
    }

    .md\:columns-xl {
      columns: var(--container-xl);
    }

    .md\:columns-2xl {
      columns: var(--container-2xl);
    }

    .md\:columns-3xl {
      columns: var(--container-3xl);
    }

    .md\:columns-4xl {
      columns: var(--container-4xl);
    }

    .md\:columns-5xl {
      columns: var(--container-5xl);
    }

    .md\:columns-6xl {
      columns: var(--container-6xl);
    }

    .md\:columns-7xl {
      columns: var(--container-7xl);
    }

    .md\:columns-auto {
      columns: auto;
    }
  }

  @media (min-width: 64rem) {
    .lg\:columns-3xs {
      columns: var(--container-3xs);
    }

    .lg\:columns-2xs {
      columns: var(--container-2xs);
    }

    .lg\:columns-xs {
      columns: var(--container-xs);
    }

    .lg\:columns-sm {
      columns: var(--container-sm);
    }

    .lg\:columns-md {
      columns: var(--container-md);
    }

    .lg\:columns-lg {
      columns: var(--container-lg);
    }

    .lg\:columns-xl {
      columns: var(--container-xl);
    }

    .lg\:columns-2xl {
      columns: var(--container-2xl);
    }

    .lg\:columns-3xl {
      columns: var(--container-3xl);
    }

    .lg\:columns-4xl {
      columns: var(--container-4xl);
    }

    .lg\:columns-5xl {
      columns: var(--container-5xl);
    }

    .lg\:columns-6xl {
      columns: var(--container-6xl);
    }

    .lg\:columns-7xl {
      columns: var(--container-7xl);
    }

    .lg\:columns-auto {
      columns: auto;
    }
  }

  @media (min-width: 80rem) {
    .xl\:columns-3xs {
      columns: var(--container-3xs);
    }

    .xl\:columns-2xs {
      columns: var(--container-2xs);
    }

    .xl\:columns-xs {
      columns: var(--container-xs);
    }

    .xl\:columns-sm {
      columns: var(--container-sm);
    }

    .xl\:columns-md {
      columns: var(--container-md);
    }

    .xl\:columns-lg {
      columns: var(--container-lg);
    }

    .xl\:columns-xl {
      columns: var(--container-xl);
    }

    .xl\:columns-2xl {
      columns: var(--container-2xl);
    }

    .xl\:columns-3xl {
      columns: var(--container-3xl);
    }

    .xl\:columns-4xl {
      columns: var(--container-4xl);
    }

    .xl\:columns-5xl {
      columns: var(--container-5xl);
    }

    .xl\:columns-6xl {
      columns: var(--container-6xl);
    }

    .xl\:columns-7xl {
      columns: var(--container-7xl);
    }

    .xl\:columns-auto {
      columns: auto;
    }
  }

  @media (min-width: 96rem) {
    .\32xl\:columns-3xs {
      columns: var(--container-3xs);
    }

    .\32xl\:columns-2xs {
      columns: var(--container-2xs);
    }

    .\32xl\:columns-xs {
      columns: var(--container-xs);
    }

    .\32xl\:columns-sm {
      columns: var(--container-sm);
    }

    .\32xl\:columns-md {
      columns: var(--container-md);
    }

    .\32xl\:columns-lg {
      columns: var(--container-lg);
    }

    .\32xl\:columns-xl {
      columns: var(--container-xl);
    }

    .\32xl\:columns-2xl {
      columns: var(--container-2xl);
    }

    .\32xl\:columns-3xl {
      columns: var(--container-3xl);
    }

    .\32xl\:columns-4xl {
      columns: var(--container-4xl);
    }

    .\32xl\:columns-5xl {
      columns: var(--container-5xl);
    }

    .\32xl\:columns-6xl {
      columns: var(--container-6xl);
    }

    .\32xl\:columns-7xl {
      columns: var(--container-7xl);
    }

    .\32xl\:columns-auto {
      columns: auto;
    }
  }
}
