@layer utilities {
  .content-none {
    content: none;
  }

  @media (min-width: 40rem) {
    .sm\:content-none {
      content: none;
    }
  }

  @media (min-width: 48rem) {
    .md\:content-none {
      content: none;
    }
  }

  @media (min-width: 64rem) {
    .lg\:content-none {
      content: none;
    }
  }

  @media (min-width: 80rem) {
    .xl\:content-none {
      content: none;
    }
  }

  @media (min-width: 96rem) {
    .\32xl\:content-none {
      content: none;
    }
  }
}
