@layer utilities {
  .grow-1 {
    flex-grow: 1;
  }
  .grow-0 {
    flex-grow: 0;
  }

  @media (min-width: 40rem) {
    .sm\:grow-1 {
      flex-grow: 1;
    }
    .sm\:grow-0 {
      flex-grow: 0;
    }
  }

  @media (min-width: 48rem) {
    .md\:grow-1 {
      flex-grow: 1;
    }
    .md\:grow-0 {
      flex-grow: 0;
    }
  }

  @media (min-width: 64rem) {
    .lg\:grow-1 {
      flex-grow: 1;
    }
    .lg\:grow-0 {
      flex-grow: 0;
    }
  }

  @media (min-width: 80rem) {
    .xl\:grow-1 {
      flex-grow: 1;
    }
    .xl\:grow-0 {
      flex-grow: 0;
    }
  }

  @media (min-width: 96rem) {
    .\32xl\:grow-1 {
      flex-grow: 1;
    }
    .\32xl\:grow-0 {
      flex-grow: 0;
    }
  }
}
