@layer utilities {
  .justify-normal {
    justify-content: normal;
  }
  .justify-start {
    justify-content: flex-start;
  }
  .justify-end {
    justify-content: flex-end;
  }
  .justify-center {
    justify-content: center;
  }
  .justify-between {
    justify-content: space-between;
  }
  .justify-around {
    justify-content: space-around;
  }
  .justify-evenly {
    justify-content: space-evenly;
  }
  .justify-stretch {
    justify-content: stretch;
  }
  .justify-end-safe {
    justify-content: safe flex-end;
  }
  .justify-center-safe {
    justify-content: safe center;
  }
  .justify-normal {
    justify-content: normal;
  }

  @media (min-width: 40rem) {
    .sm\:justify-normal {
      justify-content: normal;
    }
    .sm\:justify-start {
      justify-content: flex-start;
    }
    .sm\:justify-end {
      justify-content: flex-end;
    }
    .sm\:justify-center {
      justify-content: center;
    }
    .sm\:justify-between {
      justify-content: space-between;
    }
    .sm\:justify-around {
      justify-content: space-around;
    }
    .sm\:justify-evenly {
      justify-content: space-evenly;
    }
    .sm\:justify-stretch {
      justify-content: stretch;
    }
    .sm\:justify-end-safe {
      justify-content: safe flex-end;
    }
    .sm\:justify-center-safe {
      justify-content: safe center;
    }
    .sm\:justify-normal {
      justify-content: normal;
    }
  }

  @media (min-width: 48rem) {
    .md\:justify-normal {
      justify-content: normal;
    }
    .md\:justify-start {
      justify-content: flex-start;
    }
    .md\:justify-end {
      justify-content: flex-end;
    }
    .md\:justify-center {
      justify-content: center;
    }
    .md\:justify-between {
      justify-content: space-between;
    }
    .md\:justify-around {
      justify-content: space-around;
    }
    .md\:justify-evenly {
      justify-content: space-evenly;
    }
    .md\:justify-stretch {
      justify-content: stretch;
    }
    .md\:justify-end-safe {
      justify-content: safe flex-end;
    }
    .md\:justify-center-safe {
      justify-content: safe center;
    }
    .md\:justify-normal {
      justify-content: normal;
    }
  }

  @media (min-width: 64rem) {
    .lg\:justify-normal {
      justify-content: normal;
    }
    .lg\:justify-start {
      justify-content: flex-start;
    }
    .lg\:justify-end {
      justify-content: flex-end;
    }
    .lg\:justify-center {
      justify-content: center;
    }
    .lg\:justify-between {
      justify-content: space-between;
    }
    .lg\:justify-around {
      justify-content: space-around;
    }
    .lg\:justify-evenly {
      justify-content: space-evenly;
    }
    .lg\:justify-stretch {
      justify-content: stretch;
    }
    .lg\:justify-end-safe {
      justify-content: safe flex-end;
    }
    .lg\:justify-center-safe {
      justify-content: safe center;
    }
    .lg\:justify-normal {
      justify-content: normal;
    }
  }

  @media (min-width: 80rem) {
    .xl\:justify-normal {
      justify-content: normal;
    }
    .xl\:justify-start {
      justify-content: flex-start;
    }
    .xl\:justify-end {
      justify-content: flex-end;
    }
    .xl\:justify-center {
      justify-content: center;
    }
    .xl\:justify-between {
      justify-content: space-between;
    }
    .xl\:justify-around {
      justify-content: space-around;
    }
    .xl\:justify-evenly {
      justify-content: space-evenly;
    }
    .xl\:justify-stretch {
      justify-content: stretch;
    }
    .xl\:justify-end-safe {
      justify-content: safe flex-end;
    }
    .xl\:justify-center-safe {
      justify-content: safe center;
    }
    .xl\:justify-normal {
      justify-content: normal;
    }
  }

  @media (min-width: 96rem) {
    .\32xl\:justify-normal {
      justify-content: normal;
    }
    .\32xl\:justify-start {
      justify-content: flex-start;
    }
    .\32xl\:justify-end {
      justify-content: flex-end;
    }
    .\32xl\:justify-center {
      justify-content: center;
    }
    .\32xl\:justify-between {
      justify-content: space-between;
    }
    .\32xl\:justify-around {
      justify-content: space-around;
    }
    .\32xl\:justify-evenly {
      justify-content: space-evenly;
    }
    .\32xl\:justify-stretch {
      justify-content: stretch;
    }
    .\32xl\:justify-end-safe {
      justify-content: safe flex-end;
    }
    .\32xl\:justify-center-safe {
      justify-content: safe center;
    }
    .\32xl\:justify-normal {
      justify-content: normal;
    }
  }
}
