@layer utilities {
  .overscroll-auto {
    overscroll-behavior: auto;
  }
  .overscroll-contain {
    overscroll-behavior: contain;
  }
  .overscroll-none {
    overscroll-behavior: none;
  }
  .overscroll-y-auto {
    overscroll-behavior-y: auto;
  }
  .overscroll-y-contain {
    overscroll-behavior-y: contain;
  }
  .overscroll-y-none {
    overscroll-behavior-y: none;
  }
  .overscroll-x-auto {
    overscroll-behavior-x: auto;
  }
  .overscroll-x-contain {
    overscroll-behavior-x: contain;
  }
  .overscroll-x-none {
    overscroll-behavior-x: none;
  }

  @media (min-width: 40rem) {
    .sm\:overscroll-auto {
      overscroll-behavior: auto;
    }
    .sm\:overscroll-contain {
      overscroll-behavior: contain;
    }
    .sm\:overscroll-none {
      overscroll-behavior: none;
    }
    .sm\:overscroll-y-auto {
      overscroll-behavior-y: auto;
    }
    .sm\:overscroll-y-contain {
      overscroll-behavior-y: contain;
    }
    .sm\:overscroll-y-none {
      overscroll-behavior-y: none;
    }
    .sm\:overscroll-x-auto {
      overscroll-behavior-x: auto;
    }
    .sm\:overscroll-x-contain {
      overscroll-behavior-x: contain;
    }
    .sm\:overscroll-x-none {
      overscroll-behavior-x: none;
    }
  }

  @media (min-width: 48rem) {
    .md\:overscroll-auto {
      overscroll-behavior: auto;
    }
    .md\:overscroll-contain {
      overscroll-behavior: contain;
    }
    .md\:overscroll-none {
      overscroll-behavior: none;
    }
    .md\:overscroll-y-auto {
      overscroll-behavior-y: auto;
    }
    .md\:overscroll-y-contain {
      overscroll-behavior-y: contain;
    }
    .md\:overscroll-y-none {
      overscroll-behavior-y: none;
    }
    .md\:overscroll-x-auto {
      overscroll-behavior-x: auto;
    }
    .md\:overscroll-x-contain {
      overscroll-behavior-x: contain;
    }
    .md\:overscroll-x-none {
      overscroll-behavior-x: none;
    }
  }

  @media (min-width: 64rem) {
    .lg\:overscroll-auto {
      overscroll-behavior: auto;
    }
    .lg\:overscroll-contain {
      overscroll-behavior: contain;
    }
    .lg\:overscroll-none {
      overscroll-behavior: none;
    }
    .lg\:overscroll-y-auto {
      overscroll-behavior-y: auto;
    }
    .lg\:overscroll-y-contain {
      overscroll-behavior-y: contain;
    }
    .lg\:overscroll-y-none {
      overscroll-behavior-y: none;
    }
    .lg\:overscroll-x-auto {
      overscroll-behavior-x: auto;
    }
    .lg\:overscroll-x-contain {
      overscroll-behavior-x: contain;
    }
    .lg\:overscroll-x-none {
      overscroll-behavior-x: none;
    }
  }

  @media (min-width: 80rem) {
    .xl\:overscroll-auto {
      overscroll-behavior: auto;
    }
    .xl\:overscroll-contain {
      overscroll-behavior: contain;
    }
    .xl\:overscroll-none {
      overscroll-behavior: none;
    }
    .xl\:overscroll-y-auto {
      overscroll-behavior-y: auto;
    }
    .xl\:overscroll-y-contain {
      overscroll-behavior-y: contain;
    }
    .xl\:overscroll-y-none {
      overscroll-behavior-y: none;
    }
    .xl\:overscroll-x-auto {
      overscroll-behavior-x: auto;
    }
    .xl\:overscroll-x-contain {
      overscroll-behavior-x: contain;
    }
    .xl\:overscroll-x-none {
      overscroll-behavior-x: none;
    }
  }

  @media (min-width: 96rem) {
    .\32xl\:overscroll-auto {
      overscroll-behavior: auto;
    }
    .\32xl\:overscroll-contain {
      overscroll-behavior: contain;
    }
    .\32xl\:overscroll-none {
      overscroll-behavior: none;
    }
    .\32xl\:overscroll-y-auto {
      overscroll-behavior-y: auto;
    }
    .\32xl\:overscroll-y-contain {
      overscroll-behavior-y: contain;
    }
    .\32xl\:overscroll-y-none {
      overscroll-behavior-y: none;
    }
    .\32xl\:overscroll-x-auto {
      overscroll-behavior-x: auto;
    }
    .\32xl\:overscroll-x-contain {
      overscroll-behavior-x: contain;
    }
    .\32xl\:overscroll-x-none {
      overscroll-behavior-x: none;
    }
  }
}
