@layer utilities {
  .snap-none {
    scroll-snap-type: none;
  }

  .snap-x {
    scroll-snap-type: x var(--tw-scroll-snap-strictness);
  }

  .snap-y {
    scroll-snap-type: y var(--tw-scroll-snap-strictness);
  }

  .snap-both {
    scroll-snap-type: both var(--tw-scroll-snap-strictness);
  }

  .snap-mandatory {
    --tw-scroll-snap-strictness: mandatory;
  }

  .snap-proximity {
    --tw-scroll-snap-strictness: proximity;
  }

  @media (min-width: 40rem) {
    .sm\:snap-none {
      scroll-snap-type: none;
    }

    .sm\:snap-x {
      scroll-snap-type: x var(--tw-scroll-snap-strictness);
    }

    .sm\:snap-y {
      scroll-snap-type: y var(--tw-scroll-snap-strictness);
    }

    .sm\:snap-both {
      scroll-snap-type: both var(--tw-scroll-snap-strictness);
    }

    .sm\:snap-mandatory {
      --tw-scroll-snap-strictness: mandatory;
    }

    .sm\:snap-proximity {
      --tw-scroll-snap-strictness: proximity;
    }
  }

  @media (min-width: 48rem) {
    .md\:snap-none {
      scroll-snap-type: none;
    }

    .md\:snap-x {
      scroll-snap-type: x var(--tw-scroll-snap-strictness);
    }

    .md\:snap-y {
      scroll-snap-type: y var(--tw-scroll-snap-strictness);
    }

    .md\:snap-both {
      scroll-snap-type: both var(--tw-scroll-snap-strictness);
    }

    .md\:snap-mandatory {
      --tw-scroll-snap-strictness: mandatory;
    }

    .md\:snap-proximity {
      --tw-scroll-snap-strictness: proximity;
    }
  }

  @media (min-width: 64rem) {
    .lg\:snap-none {
      scroll-snap-type: none;
    }

    .lg\:snap-x {
      scroll-snap-type: x var(--tw-scroll-snap-strictness);
    }

    .lg\:snap-y {
      scroll-snap-type: y var(--tw-scroll-snap-strictness);
    }

    .lg\:snap-both {
      scroll-snap-type: both var(--tw-scroll-snap-strictness);
    }

    .lg\:snap-mandatory {
      --tw-scroll-snap-strictness: mandatory;
    }

    .lg\:snap-proximity {
      --tw-scroll-snap-strictness: proximity;
    }
  }

  @media (min-width: 80rem) {
    .xl\:snap-none {
      scroll-snap-type: none;
    }

    .xl\:snap-x {
      scroll-snap-type: x var(--tw-scroll-snap-strictness);
    }

    .xl\:snap-y {
      scroll-snap-type: y var(--tw-scroll-snap-strictness);
    }

    .xl\:snap-both {
      scroll-snap-type: both var(--tw-scroll-snap-strictness);
    }

    .xl\:snap-mandatory {
      --tw-scroll-snap-strictness: mandatory;
    }

    .xl\:snap-proximity {
      --tw-scroll-snap-strictness: proximity;
    }
  }

  @media (min-width: 96rem) {
    .\32xl\:snap-none {
      scroll-snap-type: none;
    }

    .\32xl\:snap-x {
      scroll-snap-type: x var(--tw-scroll-snap-strictness);
    }

    .\32xl\:snap-y {
      scroll-snap-type: y var(--tw-scroll-snap-strictness);
    }

    .\32xl\:snap-both {
      scroll-snap-type: both var(--tw-scroll-snap-strictness);
    }

    .\32xl\:snap-mandatory {
      --tw-scroll-snap-strictness: mandatory;
    }

    .\32xl\:snap-proximity {
      --tw-scroll-snap-strictness: proximity;
    }
  }
}
