@layer utilities {
  .transition {
    transition-property:
      color,
      background-color,
      border-color,
      outline-color,
      text-decoration-color,
      fill,
      stroke,
      --tw-gradient-from,
      --tw-gradient-via,
      --tw-gradient-to,
      opacity,
      box-shadow,
      transform,
      translate,
      scale,
      rotate,
      filter,
      -webkit-backdrop-filter,
      backdrop-filter,
      display,
      content-visibility,
      overlay,
      pointer-events;
    transition-timing-function: var(--default-transition-timing-function);
    transition-duration: var(--default-transition-duration);
  }

  .transition-all {
    transition-property: all;
    transition-timing-function: var(--default-transition-timing-function);
    transition-duration: var(--default-transition-duration);
  }

  .transition-colors {
    transition-property:
      color, background-color, border-color, outline-color,
      text-decoration-color, fill, stroke, --tw-gradient-from,
      --tw-gradient-via, --tw-gradient-to;
    transition-timing-function: var(--default-transition-timing-function);
    transition-duration: var(--default-transition-duration);
  }

  .transition-opacity {
    transition-property: opacity;
    transition-timing-function: var(--default-transition-timing-function);
    transition-duration: var(--default-transition-duration);
  }

  .transition-shadow {
    transition-property: box-shadow;
    transition-timing-function: var(--default-transition-timing-function);
    transition-duration: var(--default-transition-duration);
  }

  .transition-transform {
    transition-property: transform, translate, scale, rotate;
    transition-timing-function: var(--default-transition-timing-function);
    transition-duration: var(--default-transition-duration);
  }

  .transition-none {
    transition-property: none;
  }

  @media (min-width: 40rem) {
    .sm\:transition {
      transition-property:
        color,
        background-color,
        border-color,
        outline-color,
        text-decoration-color,
        fill,
        stroke,
        --tw-gradient-from,
        --tw-gradient-via,
        --tw-gradient-to,
        opacity,
        box-shadow,
        transform,
        translate,
        scale,
        rotate,
        filter,
        -webkit-backdrop-filter,
        backdrop-filter,
        display,
        content-visibility,
        overlay,
        pointer-events;
      transition-timing-function: var(--default-transition-timing-function);
      transition-duration: var(--default-transition-duration);
    }

    .sm\:transition-all {
      transition-property: all;
      transition-timing-function: var(--default-transition-timing-function);
      transition-duration: var(--default-transition-duration);
    }

    .sm\:transition-colors {
      transition-property:
        color, background-color, border-color, outline-color,
        text-decoration-color, fill, stroke, --tw-gradient-from,
        --tw-gradient-via, --tw-gradient-to;
      transition-timing-function: var(--default-transition-timing-function);
      transition-duration: var(--default-transition-duration);
    }

    .sm\:transition-opacity {
      transition-property: opacity;
      transition-timing-function: var(--default-transition-timing-function);
      transition-duration: var(--default-transition-duration);
    }

    .sm\:transition-shadow {
      transition-property: box-shadow;
      transition-timing-function: var(--default-transition-timing-function);
      transition-duration: var(--default-transition-duration);
    }

    .sm\:transition-transform {
      transition-property: transform, translate, scale, rotate;
      transition-timing-function: var(--default-transition-timing-function);
      transition-duration: var(--default-transition-duration);
    }

    .sm\:transition-none {
      transition-property: none;
    }
  }

  @media (min-width: 48rem) {
    .md\:transition {
      transition-property:
        color,
        background-color,
        border-color,
        outline-color,
        text-decoration-color,
        fill,
        stroke,
        --tw-gradient-from,
        --tw-gradient-via,
        --tw-gradient-to,
        opacity,
        box-shadow,
        transform,
        translate,
        scale,
        rotate,
        filter,
        -webkit-backdrop-filter,
        backdrop-filter,
        display,
        content-visibility,
        overlay,
        pointer-events;
      transition-timing-function: var(--default-transition-timing-function);
      transition-duration: var(--default-transition-duration);
    }

    .md\:transition-all {
      transition-property: all;
      transition-timing-function: var(--default-transition-timing-function);
      transition-duration: var(--default-transition-duration);
    }

    .md\:transition-colors {
      transition-property:
        color, background-color, border-color, outline-color,
        text-decoration-color, fill, stroke, --tw-gradient-from,
        --tw-gradient-via, --tw-gradient-to;
      transition-timing-function: var(--default-transition-timing-function);
      transition-duration: var(--default-transition-duration);
    }

    .md\:transition-opacity {
      transition-property: opacity;
      transition-timing-function: var(--default-transition-timing-function);
      transition-duration: var(--default-transition-duration);
    }

    .md\:transition-shadow {
      transition-property: box-shadow;
      transition-timing-function: var(--default-transition-timing-function);
      transition-duration: var(--default-transition-duration);
    }

    .md\:transition-transform {
      transition-property: transform, translate, scale, rotate;
      transition-timing-function: var(--default-transition-timing-function);
      transition-duration: var(--default-transition-duration);
    }

    .md\:transition-none {
      transition-property: none;
    }
  }

  @media (min-width: 64rem) {
    .lg\:transition {
      transition-property:
        color,
        background-color,
        border-color,
        outline-color,
        text-decoration-color,
        fill,
        stroke,
        --tw-gradient-from,
        --tw-gradient-via,
        --tw-gradient-to,
        opacity,
        box-shadow,
        transform,
        translate,
        scale,
        rotate,
        filter,
        -webkit-backdrop-filter,
        backdrop-filter,
        display,
        content-visibility,
        overlay,
        pointer-events;
      transition-timing-function: var(--default-transition-timing-function);
      transition-duration: var(--default-transition-duration);
    }

    .lg\:transition-all {
      transition-property: all;
      transition-timing-function: var(--default-transition-timing-function);
      transition-duration: var(--default-transition-duration);
    }

    .lg\:transition-colors {
      transition-property:
        color, background-color, border-color, outline-color,
        text-decoration-color, fill, stroke, --tw-gradient-from,
        --tw-gradient-via, --tw-gradient-to;
      transition-timing-function: var(--default-transition-timing-function);
      transition-duration: var(--default-transition-duration);
    }

    .lg\:transition-opacity {
      transition-property: opacity;
      transition-timing-function: var(--default-transition-timing-function);
      transition-duration: var(--default-transition-duration);
    }

    .lg\:transition-shadow {
      transition-property: box-shadow;
      transition-timing-function: var(--default-transition-timing-function);
      transition-duration: var(--default-transition-duration);
    }

    .lg\:transition-transform {
      transition-property: transform, translate, scale, rotate;
      transition-timing-function: var(--default-transition-timing-function);
      transition-duration: var(--default-transition-duration);
    }

    .lg\:transition-none {
      transition-property: none;
    }
  }

  @media (min-width: 80rem) {
    .xl\:transition {
      transition-property:
        color,
        background-color,
        border-color,
        outline-color,
        text-decoration-color,
        fill,
        stroke,
        --tw-gradient-from,
        --tw-gradient-via,
        --tw-gradient-to,
        opacity,
        box-shadow,
        transform,
        translate,
        scale,
        rotate,
        filter,
        -webkit-backdrop-filter,
        backdrop-filter,
        display,
        content-visibility,
        overlay,
        pointer-events;
      transition-timing-function: var(--default-transition-timing-function);
      transition-duration: var(--default-transition-duration);
    }

    .xl\:transition-all {
      transition-property: all;
      transition-timing-function: var(--default-transition-timing-function);
      transition-duration: var(--default-transition-duration);
    }

    .xl\:transition-colors {
      transition-property:
        color, background-color, border-color, outline-color,
        text-decoration-color, fill, stroke, --tw-gradient-from,
        --tw-gradient-via, --tw-gradient-to;
      transition-timing-function: var(--default-transition-timing-function);
      transition-duration: var(--default-transition-duration);
    }

    .xl\:transition-opacity {
      transition-property: opacity;
      transition-timing-function: var(--default-transition-timing-function);
      transition-duration: var(--default-transition-duration);
    }

    .xl\:transition-shadow {
      transition-property: box-shadow;
      transition-timing-function: var(--default-transition-timing-function);
      transition-duration: var(--default-transition-duration);
    }

    .xl\:transition-transform {
      transition-property: transform, translate, scale, rotate;
      transition-timing-function: var(--default-transition-timing-function);
      transition-duration: var(--default-transition-duration);
    }

    .xl\:transition-none {
      transition-property: none;
    }
  }

  @media (min-width: 96rem) {
    .\32xl\:transition {
      transition-property:
        color,
        background-color,
        border-color,
        outline-color,
        text-decoration-color,
        fill,
        stroke,
        --tw-gradient-from,
        --tw-gradient-via,
        --tw-gradient-to,
        opacity,
        box-shadow,
        transform,
        translate,
        scale,
        rotate,
        filter,
        -webkit-backdrop-filter,
        backdrop-filter,
        display,
        content-visibility,
        overlay,
        pointer-events;
      transition-timing-function: var(--default-transition-timing-function);
      transition-duration: var(--default-transition-duration);
    }

    .\32xl\:transition-all {
      transition-property: all;
      transition-timing-function: var(--default-transition-timing-function);
      transition-duration: var(--default-transition-duration);
    }

    .\32xl\:transition-colors {
      transition-property:
        color, background-color, border-color, outline-color,
        text-decoration-color, fill, stroke, --tw-gradient-from,
        --tw-gradient-via, --tw-gradient-to;
      transition-timing-function: var(--default-transition-timing-function);
      transition-duration: var(--default-transition-duration);
    }

    .\32xl\:transition-opacity {
      transition-property: opacity;
      transition-timing-function: var(--default-transition-timing-function);
      transition-duration: var(--default-transition-duration);
    }

    .\32xl\:transition-shadow {
      transition-property: box-shadow;
      transition-timing-function: var(--default-transition-timing-function);
      transition-duration: var(--default-transition-duration);
    }

    .\32xl\:transition-transform {
      transition-property: transform, translate, scale, rotate;
      transition-timing-function: var(--default-transition-timing-function);
      transition-duration: var(--default-transition-duration);
    }

    .\32xl\:transition-none {
      transition-property: none;
    }
  }
}
