@layer utilities {
  .w-3xs {
    width: var(--container-3xs);
  }

  .w-2xs {
    width: var(--container-2xs);
  }

  .w-xs {
    width: var(--container-xs);
  }

  .w-sm {
    width: var(--container-sm);
  }

  .w-md {
    width: var(--container-md);
  }

  .w-lg {
    width: var(--container-lg);
  }

  .w-xl {
    width: var(--container-xl);
  }

  .w-2xl {
    width: var(--container-2xl);
  }

  .w-3xl {
    width: var(--container-3xl);
  }

  .w-4xl {
    width: var(--container-4xl);
  }

  .w-5xl {
    width: var(--container-5xl);
  }

  .w-6xl {
    width: var(--container-6xl);
  }

  .w-7xl {
    width: var(--container-7xl);
  }

  .w-auto {
    width: auto;
  }

  .w-full {
    width: 100%;
  }

  .w-screen {
    width: 100vw;
  }

  .w-dvw {
    width: 100dvw;
  }

  .w-dvh {
    width: 100dvh;
  }

  .w-lvw {
    width: 100lvw;
  }

  .w-lvh {
    width: 100lvh;
  }

  .w-svw {
    width: 100svw;
  }

  .w-svh {
    width: 100svh;
  }

  .w-min {
    width: min-content;
  }

  .w-max {
    width: max-content;
  }

  .w-fit {
    width: fit-content;
  }

  @media (min-width: 40rem) {
    .sm\:w-3xs {
      width: var(--container-3xs);
    }

    .sm\:w-2xs {
      width: var(--container-2xs);
    }

    .sm\:w-xs {
      width: var(--container-xs);
    }

    .sm\:w-sm {
      width: var(--container-sm);
    }

    .sm\:w-md {
      width: var(--container-md);
    }

    .sm\:w-lg {
      width: var(--container-lg);
    }

    .sm\:w-xl {
      width: var(--container-xl);
    }

    .sm\:w-2xl {
      width: var(--container-2xl);
    }

    .sm\:w-3xl {
      width: var(--container-3xl);
    }

    .sm\:w-4xl {
      width: var(--container-4xl);
    }

    .sm\:w-5xl {
      width: var(--container-5xl);
    }

    .sm\:w-6xl {
      width: var(--container-6xl);
    }

    .sm\:w-7xl {
      width: var(--container-7xl);
    }

    .sm\:w-auto {
      width: auto;
    }

    .sm\:w-full {
      width: 100%;
    }

    .sm\:w-screen {
      width: 100vw;
    }

    .sm\:w-dvw {
      width: 100dvw;
    }

    .sm\:w-dvh {
      width: 100dvh;
    }

    .sm\:w-lvw {
      width: 100lvw;
    }

    .sm\:w-lvh {
      width: 100lvh;
    }

    .sm\:w-svw {
      width: 100svw;
    }

    .sm\:w-svh {
      width: 100svh;
    }

    .sm\:w-min {
      width: min-content;
    }

    .sm\:w-max {
      width: max-content;
    }

    .sm\:w-fit {
      width: fit-content;
    }
  }

  @media (min-width: 48rem) {
    .md\:w-3xs {
      width: var(--container-3xs);
    }

    .md\:w-2xs {
      width: var(--container-2xs);
    }

    .md\:w-xs {
      width: var(--container-xs);
    }

    .md\:w-sm {
      width: var(--container-sm);
    }

    .md\:w-md {
      width: var(--container-md);
    }

    .md\:w-lg {
      width: var(--container-lg);
    }

    .md\:w-xl {
      width: var(--container-xl);
    }

    .md\:w-2xl {
      width: var(--container-2xl);
    }

    .md\:w-3xl {
      width: var(--container-3xl);
    }

    .md\:w-4xl {
      width: var(--container-4xl);
    }

    .md\:w-5xl {
      width: var(--container-5xl);
    }

    .md\:w-6xl {
      width: var(--container-6xl);
    }

    .md\:w-7xl {
      width: var(--container-7xl);
    }

    .md\:w-auto {
      width: auto;
    }

    .md\:w-full {
      width: 100%;
    }

    .md\:w-screen {
      width: 100vw;
    }

    .md\:w-dvw {
      width: 100dvw;
    }

    .md\:w-dvh {
      width: 100dvh;
    }

    .md\:w-lvw {
      width: 100lvw;
    }

    .md\:w-lvh {
      width: 100lvh;
    }

    .md\:w-svw {
      width: 100svw;
    }

    .md\:w-svh {
      width: 100svh;
    }

    .md\:w-min {
      width: min-content;
    }

    .md\:w-max {
      width: max-content;
    }

    .md\:w-fit {
      width: fit-content;
    }
  }

  @media (min-width: 64rem) {
    .lg\:w-3xs {
      width: var(--container-3xs);
    }

    .lg\:w-2xs {
      width: var(--container-2xs);
    }

    .lg\:w-xs {
      width: var(--container-xs);
    }

    .lg\:w-sm {
      width: var(--container-sm);
    }

    .lg\:w-md {
      width: var(--container-md);
    }

    .lg\:w-lg {
      width: var(--container-lg);
    }

    .lg\:w-xl {
      width: var(--container-xl);
    }

    .lg\:w-2xl {
      width: var(--container-2xl);
    }

    .lg\:w-3xl {
      width: var(--container-3xl);
    }

    .lg\:w-4xl {
      width: var(--container-4xl);
    }

    .lg\:w-5xl {
      width: var(--container-5xl);
    }

    .lg\:w-6xl {
      width: var(--container-6xl);
    }

    .lg\:w-7xl {
      width: var(--container-7xl);
    }

    .lg\:w-auto {
      width: auto;
    }

    .lg\:w-full {
      width: 100%;
    }

    .lg\:w-screen {
      width: 100vw;
    }

    .lg\:w-dvw {
      width: 100dvw;
    }

    .lg\:w-dvh {
      width: 100dvh;
    }

    .lg\:w-lvw {
      width: 100lvw;
    }

    .lg\:w-lvh {
      width: 100lvh;
    }

    .lg\:w-svw {
      width: 100svw;
    }

    .lg\:w-svh {
      width: 100svh;
    }

    .lg\:w-min {
      width: min-content;
    }

    .lg\:w-max {
      width: max-content;
    }

    .lg\:w-fit {
      width: fit-content;
    }
  }

  @media (min-width: 80rem) {
    .xl\:w-3xs {
      width: var(--container-3xs);
    }

    .xl\:w-2xs {
      width: var(--container-2xs);
    }

    .xl\:w-xs {
      width: var(--container-xs);
    }

    .xl\:w-sm {
      width: var(--container-sm);
    }

    .xl\:w-md {
      width: var(--container-md);
    }

    .xl\:w-lg {
      width: var(--container-lg);
    }

    .xl\:w-xl {
      width: var(--container-xl);
    }

    .xl\:w-2xl {
      width: var(--container-2xl);
    }

    .xl\:w-3xl {
      width: var(--container-3xl);
    }

    .xl\:w-4xl {
      width: var(--container-4xl);
    }

    .xl\:w-5xl {
      width: var(--container-5xl);
    }

    .xl\:w-6xl {
      width: var(--container-6xl);
    }

    .xl\:w-7xl {
      width: var(--container-7xl);
    }

    .xl\:w-auto {
      width: auto;
    }

    .xl\:w-full {
      width: 100%;
    }

    .xl\:w-screen {
      width: 100vw;
    }

    .xl\:w-dvw {
      width: 100dvw;
    }

    .xl\:w-dvh {
      width: 100dvh;
    }

    .xl\:w-lvw {
      width: 100lvw;
    }

    .xl\:w-lvh {
      width: 100lvh;
    }

    .xl\:w-svw {
      width: 100svw;
    }

    .xl\:w-svh {
      width: 100svh;
    }

    .xl\:w-min {
      width: min-content;
    }

    .xl\:w-max {
      width: max-content;
    }

    .xl\:w-fit {
      width: fit-content;
    }
  }

  @media (min-width: 96rem) {
    .\32xl\:w-3xs {
      width: var(--container-3xs);
    }

    .\32xl\:w-2xs {
      width: var(--container-2xs);
    }

    .\32xl\:w-xs {
      width: var(--container-xs);
    }

    .\32xl\:w-sm {
      width: var(--container-sm);
    }

    .\32xl\:w-md {
      width: var(--container-md);
    }

    .\32xl\:w-lg {
      width: var(--container-lg);
    }

    .\32xl\:w-xl {
      width: var(--container-xl);
    }

    .\32xl\:w-2xl {
      width: var(--container-2xl);
    }

    .\32xl\:w-3xl {
      width: var(--container-3xl);
    }

    .\32xl\:w-4xl {
      width: var(--container-4xl);
    }

    .\32xl\:w-5xl {
      width: var(--container-5xl);
    }

    .\32xl\:w-6xl {
      width: var(--container-6xl);
    }

    .\32xl\:w-7xl {
      width: var(--container-7xl);
    }

    .\32xl\:w-auto {
      width: auto;
    }

    .\32xl\:w-full {
      width: 100%;
    }

    .\32xl\:w-screen {
      width: 100vw;
    }

    .\32xl\:w-dvw {
      width: 100dvw;
    }

    .\32xl\:w-dvh {
      width: 100dvh;
    }

    .\32xl\:w-lvw {
      width: 100lvw;
    }

    .\32xl\:w-lvh {
      width: 100lvh;
    }

    .\32xl\:w-svw {
      width: 100svw;
    }

    .\32xl\:w-svh {
      width: 100svh;
    }

    .\32xl\:w-min {
      width: min-content;
    }

    .\32xl\:w-max {
      width: max-content;
    }

    .\32xl\:w-fit {
      width: fit-content;
    }
  }
}
