@layer styles {
  .blur {
    filter: blur(var(--blur));
  }

  @media (min-width: 40rem) {
    .sm\:blur {
      filter: blur(var(--sm-blur));
    }
  }

  @media (min-width: 48rem) {
    .md\:blur {
      filter: blur(var(--md-blur));
    }
  }

  @media (min-width: 64rem) {
    .lg\:blur {
      filter: blur(var(--lg-blur));
    }
  }

  @media (min-width: 80rem) {
    .xl\:blur {
      filter: blur(var(--xl-blur));
    }
  }

  @media (min-width: 96rem) {
    .\32xl\:blur {
      filter: blur(var(--\32xl-blur));
    }
  }
}
