@layer styles {
  .contrast {
    filter: contrast(var(--contrast));
  }

  @media (min-width: 40rem) {
    .sm\:contrast {
      filter: contrast(var(--sm-contrast));
    }
  }

  @media (min-width: 48rem) {
    .md\:contrast {
      filter: contrast(var(--md-contrast));
    }
  }

  @media (min-width: 64rem) {
    .lg\:contrast {
      filter: contrast(var(--lg-contrast));
    }
  }

  @media (min-width: 80rem) {
    .xl\:contrast {
      filter: contrast(var(--xl-contrast));
    }
  }

  @media (min-width: 96rem) {
    .\32xl\:contrast {
      filter: contrast(var(--\32xl-contrast));
    }
  }
}
