@layer styles {
  .gap {
    gap: calc(var(--spacing) * var(--gap));
  }
  .gap-x {
    column-gap: calc(var(--spacing) * var(--gap-x));
  }
  .gap-y {
    row-gap: calc(var(--spacing) * var(--gap-y));
  }
  .\[gap\] {
    gap: var(--gap);
  }
  .\[gap-x\] {
    column-gap: var(--gap-x);
  }
  .\[gap-y\] {
    row-gap: var(--gap-y);
  }

  @media (min-width: 40rem) {
    .sm\:gap {
      gap: calc(var(--spacing) * var(--sm-gap));
    }
    .sm\:gap-x {
      column-gap: calc(var(--spacing) * var(--sm-gap-x));
    }
    .sm\:gap-y {
      row-gap: calc(var(--spacing) * var(--sm-gap-y));
    }
    .sm\:\[gap\] {
      gap: var(--sm-gap);
    }
    .sm\:\[gap-x\] {
      column-gap: var(--sm-gap-x);
    }
    .sm\:\[gap-y\] {
      row-gap: var(--sm-gap-y);
    }
  }

  @media (min-width: 48rem) {
    .md\:gap {
      gap: calc(var(--spacing) * var(--md-gap));
    }
    .md\:gap-x {
      column-gap: calc(var(--spacing) * var(--md-gap-x));
    }
    .md\:gap-y {
      row-gap: calc(var(--spacing) * var(--md-gap-y));
    }
    .md\:\[gap\] {
      gap: var(--md-gap);
    }
    .md\:\[gap-x\] {
      column-gap: var(--md-gap-x);
    }
    .md\:\[gap-y\] {
      row-gap: var(--md-gap-y);
    }
  }

  @media (min-width: 64rem) {
    .lg\:gap {
      gap: calc(var(--spacing) * var(--lg-gap));
    }
    .lg\:gap-x {
      column-gap: calc(var(--spacing) * var(--lg-gap-x));
    }
    .lg\:gap-y {
      row-gap: calc(var(--spacing) * var(--lg-gap-y));
    }
    .lg\:\[gap\] {
      gap: var(--lg-gap);
    }
    .lg\:\[gap-x\] {
      column-gap: var(--lg-gap-x);
    }
    .lg\:\[gap-y\] {
      row-gap: var(--lg-gap-y);
    }
  }

  @media (min-width: 80rem) {
    .xl\:gap {
      gap: calc(var(--spacing) * var(--xl-gap));
    }
    .xl\:gap-x {
      column-gap: calc(var(--spacing) * var(--xl-gap-x));
    }
    .xl\:gap-y {
      row-gap: calc(var(--spacing) * var(--xl-gap-y));
    }
    .xl\:\[gap\] {
      gap: var(--xl-gap);
    }
    .xl\:\[gap-x\] {
      column-gap: var(--xl-gap-x);
    }
    .xl\:\[gap-y\] {
      row-gap: var(--xl-gap-y);
    }
  }

  @media (min-width: 96rem) {
    .\32xl\:gap {
      gap: calc(var(--spacing) * var(--\32xl-gap));
    }
    .\32xl\:gap-x {
      column-gap: calc(var(--spacing) * var(--\32xl-gap-x));
    }
    .\32xl\:gap-y {
      row-gap: calc(var(--spacing) * var(--\32xl-gap-y));
    }
    .\32xl\:\[gap\] {
      gap: var(--\32xl-gap);
    }
    .\32xl\:\[gap-x\] {
      column-gap: var(--\32xl-gap-x);
    }
    .\32xl\:\[gap-y\] {
      row-gap: var(--\32xl-gap-y);
    }
  }
}
