@layer styles {
  .grayscale {
    filter: grayscale(var(--grayscale));
  }

  @media (min-width: 40rem) {
    .sm\:grayscale {
      filter: grayscale(var(--sm-grayscale));
    }
  }

  @media (min-width: 48rem) {
    .md\:grayscale {
      filter: grayscale(var(--md-grayscale));
    }
  }

  @media (min-width: 64rem) {
    .lg\:grayscale {
      filter: grayscale(var(--lg-grayscale));
    }
  }

  @media (min-width: 80rem) {
    .xl\:grayscale {
      filter: grayscale(var(--xl-grayscale));
    }
  }

  @media (min-width: 96rem) {
    .\32xl\:grayscale {
      filter: grayscale(var(--\32xl-grayscale));
    }
  }
}
