@layer styles {
  .leading {
    line-height: calc(var(--spacing) * var(--leading));
  }
  .\[leading\] {
    line-height: var(--leading);
  }

  @media (min-width: 40rem) {
    .sm\:leading {
      line-height: calc(var(--spacing) * var(--sm-leading));
    }
    .sm\:\[leading\] {
      line-height: var(--sm-leading);
    }
  }

  @media (min-width: 48rem) {
    .md\:leading {
      line-height: calc(var(--spacing) * var(--md-leading));
    }
    .md\:\[leading\] {
      line-height: var(--md-leading);
    }
  }

  @media (min-width: 64rem) {
    .lg\:leading {
      line-height: calc(var(--spacing) * var(--lg-leading));
    }
    .lg\:\[leading\] {
      line-height: var(--lg-leading);
    }
  }

  @media (min-width: 80rem) {
    .xl\:leading {
      line-height: calc(var(--spacing) * var(--xl-leading));
    }
    .xl\:\[leading\] {
      line-height: var(--xl-leading);
    }
  }

  @media (min-width: 96rem) {
    .\32xl\:leading {
      line-height: calc(var(--spacing) * var(--\32xl-leading));
    }
    .\32xl\:\[leading\] {
      line-height: var(--\32xl-leading);
    }
  }
}
