@layer styles {
  .max-h {
    max-height: calc(var(--spacing) * var(--max-h));
  }
  .\[max-h\] {
    max-height: var(--max-h);
  }

  @media (min-width: 40rem) {
    .sm\:max-h {
      max-height: calc(var(--spacing) * var(--sm-max-h));
    }
    .sm\:\[max-h\] {
      max-height: var(--sm-max-h);
    }
  }

  @media (min-width: 48rem) {
    .md\:max-h {
      max-height: calc(var(--spacing) * var(--md-max-h));
    }
    .md\:\[max-h\] {
      max-height: var(--md-max-h);
    }
  }

  @media (min-width: 64rem) {
    .lg\:max-h {
      max-height: calc(var(--spacing) * var(--lg-max-h));
    }
    .lg\:\[max-h\] {
      max-height: var(--lg-max-h);
    }
  }

  @media (min-width: 80rem) {
    .xl\:max-h {
      max-height: calc(var(--spacing) * var(--xl-max-h));
    }
    .xl\:\[max-h\] {
      max-height: var(--xl-max-h);
    }
  }

  @media (min-width: 96rem) {
    .\32xl\:max-h {
      max-height: calc(var(--spacing) * var(--\32xl-max-h));
    }
    .\32xl\:\[max-h\] {
      max-height: var(--\32xl-max-h);
    }
  }
}
