@layer styles {
  .object-position {
    object-position: var(--object-position);
  }

  @media (min-width: 40rem) {
    .sm\:object-position {
      object-position: var(--sm-object-position);
    }
  }

  @media (min-width: 48rem) {
    .md\:object-position {
      object-position: var(--md-object-position);
    }
  }

  @media (min-width: 64rem) {
    .lg\:object-position {
      object-position: var(--lg-object-position);
    }
  }

  @media (min-width: 80rem) {
    .xl\:object-position {
      object-position: var(--xl-object-position);
    }
  }

  @media (min-width: 96rem) {
    .\32xl\:object-position {
      object-position: var(--\32xl-object-position);
    }
  }
}
