@layer styles {
  .p {
    padding: calc(var(--spacing) * var(--p));
  }
  .\[p\] {
    padding: var(--p);
  }
  .pt {
    padding-top: calc(var(--spacing) * var(--pt));
  }
  .pb {
    padding-bottom: calc(var(--spacing) * var(--pb));
  }
  .pl {
    padding-left: calc(var(--spacing) * var(--pl));
  }
  .pr {
    padding-right: calc(var(--spacing) * var(--pr));
  }
  .ps {
    padding-inline-start: calc(var(--spacing) * var(--ps));
  }
  .pe {
    padding-inline-end: calc(var(--spacing) * var(--pe));
  }
  .\[pt\] {
    padding-top: var(--pt);
  }
  .\[pb\] {
    padding-bottom: var(--pb);
  }
  .\[pl\] {
    padding-left: var(--pl);
  }
  .\[pr\] {
    padding-right: var(--pr);
  }
  .\[ps\] {
    padding-inline-start: var(--ps);
  }
  .\[pe\] {
    padding-inline-end: var(--pe);
  }
  .px {
    padding-inline: calc(var(--spacing) * var(--px));
  }
  .py {
    padding-block: calc(var(--spacing) * var(--py));
  }
  .\[px\] {
    padding-inline: var(--px);
  }
  .\[py\] {
    padding-block: var(--py);
  }

  @media (min-width: 40rem) {
    .sm\:p {
      padding: calc(var(--spacing) * var(--sm-p));
    }
    .sm\:\[p\] {
      padding: var(--sm-p);
    }
    .sm\:pt {
      padding-top: calc(var(--spacing) * var(--sm-pt));
    }
    .sm\:pb {
      padding-bottom: calc(var(--spacing) * var(--sm-pb));
    }
    .sm\:pl {
      padding-left: calc(var(--spacing) * var(--sm-pl));
    }
    .sm\:pr {
      padding-right: calc(var(--spacing) * var(--sm-pr));
    }
    .sm\:ps {
      padding-inline-start: calc(var(--spacing) * var(--sm-ps));
    }
    .sm\:pe {
      padding-inline-end: calc(var(--spacing) * var(--sm-pe));
    }
    .sm\:\[pt\] {
      padding-top: var(--sm-pt);
    }
    .sm\:\[pb\] {
      padding-bottom: var(--sm-pb);
    }
    .sm\:\[pl\] {
      padding-left: var(--sm-pl);
    }
    .sm\:\[pr\] {
      padding-right: var(--sm-pr);
    }
    .sm\:\[ps\] {
      padding-inline-start: var(--sm-ps);
    }
    .sm\:\[pe\] {
      padding-inline-end: var(--sm-pe);
    }
    .sm\:px {
      padding-inline: calc(var(--spacing) * var(--sm-px));
    }
    .sm\:py {
      padding-block: calc(var(--spacing) * var(--sm-py));
    }
    .sm\:\[px\] {
      padding-inline: var(--sm-px);
    }
    .sm\:\[py\] {
      padding-block: var(--sm-py);
    }
  }

  @media (min-width: 48rem) {
    .md\:p {
      padding: calc(var(--spacing) * var(--md-p));
    }
    .md\:\[p\] {
      padding: var(--md-p);
    }
    .md\:pt {
      padding-top: calc(var(--spacing) * var(--md-pt));
    }
    .md\:pb {
      padding-bottom: calc(var(--spacing) * var(--md-pb));
    }
    .md\:pl {
      padding-left: calc(var(--spacing) * var(--md-pl));
    }
    .md\:pr {
      padding-right: calc(var(--spacing) * var(--md-pr));
    }
    .md\:ps {
      padding-inline-start: calc(var(--spacing) * var(--md-ps));
    }
    .md\:pe {
      padding-inline-end: calc(var(--spacing) * var(--md-pe));
    }
    .md\:\[pt\] {
      padding-top: var(--md-pt);
    }
    .md\:\[pb\] {
      padding-bottom: var(--md-pb);
    }
    .md\:\[pl\] {
      padding-left: var(--md-pl);
    }
    .md\:\[pr\] {
      padding-right: var(--md-pr);
    }
    .md\:\[ps\] {
      padding-inline-start: var(--md-ps);
    }
    .md\:\[pe\] {
      padding-inline-end: var(--md-pe);
    }
    .md\:px {
      padding-inline: calc(var(--spacing) * var(--md-px));
    }
    .md\:py {
      padding-block: calc(var(--spacing) * var(--md-py));
    }
    .md\:\[px\] {
      padding-inline: var(--md-px);
    }
    .md\:\[py\] {
      padding-block: var(--md-py);
    }
  }

  @media (min-width: 64rem) {
    .lg\:p {
      padding: calc(var(--spacing) * var(--lg-p));
    }
    .lg\:\[p\] {
      padding: var(--lg-p);
    }
    .lg\:pt {
      padding-top: calc(var(--spacing) * var(--lg-pt));
    }
    .lg\:pb {
      padding-bottom: calc(var(--spacing) * var(--lg-pb));
    }
    .lg\:pl {
      padding-left: calc(var(--spacing) * var(--lg-pl));
    }
    .lg\:pr {
      padding-right: calc(var(--spacing) * var(--lg-pr));
    }
    .lg\:ps {
      padding-inline-start: calc(var(--spacing) * var(--lg-ps));
    }
    .lg\:pe {
      padding-inline-end: calc(var(--spacing) * var(--lg-pe));
    }
    .lg\:\[pt\] {
      padding-top: var(--lg-pt);
    }
    .lg\:\[pb\] {
      padding-bottom: var(--lg-pb);
    }
    .lg\:\[pl\] {
      padding-left: var(--lg-pl);
    }
    .lg\:\[pr\] {
      padding-right: var(--lg-pr);
    }
    .lg\:\[ps\] {
      padding-inline-start: var(--lg-ps);
    }
    .lg\:\[pe\] {
      padding-inline-end: var(--lg-pe);
    }
    .lg\:px {
      padding-inline: calc(var(--spacing) * var(--lg-px));
    }
    .lg\:py {
      padding-block: calc(var(--spacing) * var(--lg-py));
    }
    .lg\:\[px\] {
      padding-inline: var(--lg-px);
    }
    .lg\:\[py\] {
      padding-block: var(--lg-py);
    }
  }

  @media (min-width: 80rem) {
    .xl\:p {
      padding: calc(var(--spacing) * var(--xl-p));
    }
    .xl\:\[p\] {
      padding: var(--xl-p);
    }
    .xl\:pt {
      padding-top: calc(var(--spacing) * var(--xl-pt));
    }
    .xl\:pb {
      padding-bottom: calc(var(--spacing) * var(--xl-pb));
    }
    .xl\:pl {
      padding-left: calc(var(--spacing) * var(--xl-pl));
    }
    .xl\:pr {
      padding-right: calc(var(--spacing) * var(--xl-pr));
    }
    .xl\:ps {
      padding-inline-start: calc(var(--spacing) * var(--xl-ps));
    }
    .xl\:pe {
      padding-inline-end: calc(var(--spacing) * var(--xl-pe));
    }
    .xl\:\[pt\] {
      padding-top: var(--xl-pt);
    }
    .xl\:\[pb\] {
      padding-bottom: var(--xl-pb);
    }
    .xl\:\[pl\] {
      padding-left: var(--xl-pl);
    }
    .xl\:\[pr\] {
      padding-right: var(--xl-pr);
    }
    .xl\:\[ps\] {
      padding-inline-start: var(--xl-ps);
    }
    .xl\:\[pe\] {
      padding-inline-end: var(--xl-pe);
    }
    .xl\:px {
      padding-inline: calc(var(--spacing) * var(--xl-px));
    }
    .xl\:py {
      padding-block: calc(var(--spacing) * var(--xl-py));
    }
    .xl\:\[px\] {
      padding-inline: var(--xl-px);
    }
    .xl\:\[py\] {
      padding-block: var(--xl-py);
    }
  }

  @media (min-width: 96rem) {
    .\32xl\:p {
      padding: calc(var(--spacing) * var(--\32xl-p));
    }
    .\32xl\:\[p\] {
      padding: var(--\32xl-p);
    }
    .\32xl\:pt {
      padding-top: calc(var(--spacing) * var(--\32xl-pt));
    }
    .\32xl\:pb {
      padding-bottom: calc(var(--spacing) * var(--\32xl-pb));
    }
    .\32xl\:pl {
      padding-left: calc(var(--spacing) * var(--\32xl-pl));
    }
    .\32xl\:pr {
      padding-right: calc(var(--spacing) * var(--\32xl-pr));
    }
    .\32xl\:ps {
      padding-inline-start: calc(var(--spacing) * var(--\32xl-ps));
    }
    .\32xl\:pe {
      padding-inline-end: calc(var(--spacing) * var(--\32xl-pe));
    }
    .\32xl\:\[pt\] {
      padding-top: var(--\32xl-pt);
    }
    .\32xl\:\[pb\] {
      padding-bottom: var(--\32xl-pb);
    }
    .\32xl\:\[pl\] {
      padding-left: var(--\32xl-pl);
    }
    .\32xl\:\[pr\] {
      padding-right: var(--\32xl-pr);
    }
    .\32xl\:\[ps\] {
      padding-inline-start: var(--\32xl-ps);
    }
    .\32xl\:\[pe\] {
      padding-inline-end: var(--\32xl-pe);
    }
    .\32xl\:px {
      padding-inline: calc(var(--spacing) * var(--\32xl-px));
    }
    .\32xl\:py {
      padding-block: calc(var(--spacing) * var(--\32xl-py));
    }
    .\32xl\:\[px\] {
      padding-inline: var(--\32xl-px);
    }
    .\32xl\:\[py\] {
      padding-block: var(--\32xl-py);
    }
  }
}
