@layer components {
  .backdrop-blur-xs {
    --tw-backdrop-blur: blur(var(--blur-xs));
    backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,)
      var(--tw-backdrop-contrast,) var(--tw-backdrop-grayscale,)
      var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,)
      var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,)
      var(--tw-backdrop-sepia,);
  }

  .backdrop-blur-sm {
    --tw-backdrop-blur: blur(var(--blur-sm));
    backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,)
      var(--tw-backdrop-contrast,) var(--tw-backdrop-grayscale,)
      var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,)
      var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,)
      var(--tw-backdrop-sepia,);
  }

  .backdrop-blur-md {
    --tw-backdrop-blur: blur(var(--blur-md));
    backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,)
      var(--tw-backdrop-contrast,) var(--tw-backdrop-grayscale,)
      var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,)
      var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,)
      var(--tw-backdrop-sepia,);
  }

  .backdrop-blur-lg {
    --tw-backdrop-blur: blur(var(--blur-lg));
    backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,)
      var(--tw-backdrop-contrast,) var(--tw-backdrop-grayscale,)
      var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,)
      var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,)
      var(--tw-backdrop-sepia,);
  }

  .backdrop-blur-xl {
    --tw-backdrop-blur: blur(var(--blur-xl));
    backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,)
      var(--tw-backdrop-contrast,) var(--tw-backdrop-grayscale,)
      var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,)
      var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,)
      var(--tw-backdrop-sepia,);
  }

  .backdrop-blur-2xl {
    --tw-backdrop-blur: blur(var(--blur-2xl));
    backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,)
      var(--tw-backdrop-contrast,) var(--tw-backdrop-grayscale,)
      var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,)
      var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,)
      var(--tw-backdrop-sepia,);
  }

  .backdrop-blur-3xl {
    --tw-backdrop-blur: blur(var(--blur-3xl));
    backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,)
      var(--tw-backdrop-contrast,) var(--tw-backdrop-grayscale,)
      var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,)
      var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,)
      var(--tw-backdrop-sepia,);
  }

  .backdrop-blur-none {
    --tw-backdrop-blur: blur(0);
    backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,)
      var(--tw-backdrop-contrast,) var(--tw-backdrop-grayscale,)
      var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,)
      var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,)
      var(--tw-backdrop-sepia,);
  }

  @media (min-width: 40rem) {
    .sm\:backdrop-blur-xs {
      --tw-backdrop-blur: blur(var(--blur-xs));
      backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,)
        var(--tw-backdrop-contrast,) var(--tw-backdrop-grayscale,)
        var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,)
        var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,)
        var(--tw-backdrop-sepia,);
    }

    .sm\:backdrop-blur-sm {
      --tw-backdrop-blur: blur(var(--blur-sm));
      backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,)
        var(--tw-backdrop-contrast,) var(--tw-backdrop-grayscale,)
        var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,)
        var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,)
        var(--tw-backdrop-sepia,);
    }

    .sm\:backdrop-blur-md {
      --tw-backdrop-blur: blur(var(--blur-md));
      backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,)
        var(--tw-backdrop-contrast,) var(--tw-backdrop-grayscale,)
        var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,)
        var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,)
        var(--tw-backdrop-sepia,);
    }

    .sm\:backdrop-blur-lg {
      --tw-backdrop-blur: blur(var(--blur-lg));
      backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,)
        var(--tw-backdrop-contrast,) var(--tw-backdrop-grayscale,)
        var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,)
        var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,)
        var(--tw-backdrop-sepia,);
    }

    .sm\:backdrop-blur-xl {
      --tw-backdrop-blur: blur(var(--blur-xl));
      backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,)
        var(--tw-backdrop-contrast,) var(--tw-backdrop-grayscale,)
        var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,)
        var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,)
        var(--tw-backdrop-sepia,);
    }

    .sm\:backdrop-blur-2xl {
      --tw-backdrop-blur: blur(var(--blur-2xl));
      backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,)
        var(--tw-backdrop-contrast,) var(--tw-backdrop-grayscale,)
        var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,)
        var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,)
        var(--tw-backdrop-sepia,);
    }

    .sm\:backdrop-blur-3xl {
      --tw-backdrop-blur: blur(var(--blur-3xl));
      backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,)
        var(--tw-backdrop-contrast,) var(--tw-backdrop-grayscale,)
        var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,)
        var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,)
        var(--tw-backdrop-sepia,);
    }

    .sm\:backdrop-blur-none {
      --tw-backdrop-blur: blur(0);
      backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,)
        var(--tw-backdrop-contrast,) var(--tw-backdrop-grayscale,)
        var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,)
        var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,)
        var(--tw-backdrop-sepia,);
    }
  }

  @media (min-width: 48rem) {
    .md\:backdrop-blur-xs {
      --tw-backdrop-blur: blur(var(--blur-xs));
      backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,)
        var(--tw-backdrop-contrast,) var(--tw-backdrop-grayscale,)
        var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,)
        var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,)
        var(--tw-backdrop-sepia,);
    }

    .md\:backdrop-blur-sm {
      --tw-backdrop-blur: blur(var(--blur-sm));
      backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,)
        var(--tw-backdrop-contrast,) var(--tw-backdrop-grayscale,)
        var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,)
        var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,)
        var(--tw-backdrop-sepia,);
    }

    .md\:backdrop-blur-md {
      --tw-backdrop-blur: blur(var(--blur-md));
      backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,)
        var(--tw-backdrop-contrast,) var(--tw-backdrop-grayscale,)
        var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,)
        var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,)
        var(--tw-backdrop-sepia,);
    }

    .md\:backdrop-blur-lg {
      --tw-backdrop-blur: blur(var(--blur-lg));
      backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,)
        var(--tw-backdrop-contrast,) var(--tw-backdrop-grayscale,)
        var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,)
        var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,)
        var(--tw-backdrop-sepia,);
    }

    .md\:backdrop-blur-xl {
      --tw-backdrop-blur: blur(var(--blur-xl));
      backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,)
        var(--tw-backdrop-contrast,) var(--tw-backdrop-grayscale,)
        var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,)
        var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,)
        var(--tw-backdrop-sepia,);
    }

    .md\:backdrop-blur-2xl {
      --tw-backdrop-blur: blur(var(--blur-2xl));
      backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,)
        var(--tw-backdrop-contrast,) var(--tw-backdrop-grayscale,)
        var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,)
        var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,)
        var(--tw-backdrop-sepia,);
    }

    .md\:backdrop-blur-3xl {
      --tw-backdrop-blur: blur(var(--blur-3xl));
      backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,)
        var(--tw-backdrop-contrast,) var(--tw-backdrop-grayscale,)
        var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,)
        var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,)
        var(--tw-backdrop-sepia,);
    }

    .md\:backdrop-blur-none {
      --tw-backdrop-blur: blur(0);
      backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,)
        var(--tw-backdrop-contrast,) var(--tw-backdrop-grayscale,)
        var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,)
        var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,)
        var(--tw-backdrop-sepia,);
    }
  }

  @media (min-width: 64rem) {
    .lg\:backdrop-blur-xs {
      --tw-backdrop-blur: blur(var(--blur-xs));
      backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,)
        var(--tw-backdrop-contrast,) var(--tw-backdrop-grayscale,)
        var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,)
        var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,)
        var(--tw-backdrop-sepia,);
    }

    .lg\:backdrop-blur-sm {
      --tw-backdrop-blur: blur(var(--blur-sm));
      backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,)
        var(--tw-backdrop-contrast,) var(--tw-backdrop-grayscale,)
        var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,)
        var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,)
        var(--tw-backdrop-sepia,);
    }

    .lg\:backdrop-blur-md {
      --tw-backdrop-blur: blur(var(--blur-md));
      backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,)
        var(--tw-backdrop-contrast,) var(--tw-backdrop-grayscale,)
        var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,)
        var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,)
        var(--tw-backdrop-sepia,);
    }

    .lg\:backdrop-blur-lg {
      --tw-backdrop-blur: blur(var(--blur-lg));
      backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,)
        var(--tw-backdrop-contrast,) var(--tw-backdrop-grayscale,)
        var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,)
        var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,)
        var(--tw-backdrop-sepia,);
    }

    .lg\:backdrop-blur-xl {
      --tw-backdrop-blur: blur(var(--blur-xl));
      backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,)
        var(--tw-backdrop-contrast,) var(--tw-backdrop-grayscale,)
        var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,)
        var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,)
        var(--tw-backdrop-sepia,);
    }

    .lg\:backdrop-blur-2xl {
      --tw-backdrop-blur: blur(var(--blur-2xl));
      backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,)
        var(--tw-backdrop-contrast,) var(--tw-backdrop-grayscale,)
        var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,)
        var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,)
        var(--tw-backdrop-sepia,);
    }

    .lg\:backdrop-blur-3xl {
      --tw-backdrop-blur: blur(var(--blur-3xl));
      backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,)
        var(--tw-backdrop-contrast,) var(--tw-backdrop-grayscale,)
        var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,)
        var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,)
        var(--tw-backdrop-sepia,);
    }

    .lg\:backdrop-blur-none {
      --tw-backdrop-blur: blur(0);
      backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,)
        var(--tw-backdrop-contrast,) var(--tw-backdrop-grayscale,)
        var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,)
        var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,)
        var(--tw-backdrop-sepia,);
    }
  }

  @media (min-width: 80rem) {
    .xl\:backdrop-blur-xs {
      --tw-backdrop-blur: blur(var(--blur-xs));
      backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,)
        var(--tw-backdrop-contrast,) var(--tw-backdrop-grayscale,)
        var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,)
        var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,)
        var(--tw-backdrop-sepia,);
    }

    .xl\:backdrop-blur-sm {
      --tw-backdrop-blur: blur(var(--blur-sm));
      backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,)
        var(--tw-backdrop-contrast,) var(--tw-backdrop-grayscale,)
        var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,)
        var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,)
        var(--tw-backdrop-sepia,);
    }

    .xl\:backdrop-blur-md {
      --tw-backdrop-blur: blur(var(--blur-md));
      backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,)
        var(--tw-backdrop-contrast,) var(--tw-backdrop-grayscale,)
        var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,)
        var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,)
        var(--tw-backdrop-sepia,);
    }

    .xl\:backdrop-blur-lg {
      --tw-backdrop-blur: blur(var(--blur-lg));
      backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,)
        var(--tw-backdrop-contrast,) var(--tw-backdrop-grayscale,)
        var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,)
        var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,)
        var(--tw-backdrop-sepia,);
    }

    .xl\:backdrop-blur-xl {
      --tw-backdrop-blur: blur(var(--blur-xl));
      backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,)
        var(--tw-backdrop-contrast,) var(--tw-backdrop-grayscale,)
        var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,)
        var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,)
        var(--tw-backdrop-sepia,);
    }

    .xl\:backdrop-blur-2xl {
      --tw-backdrop-blur: blur(var(--blur-2xl));
      backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,)
        var(--tw-backdrop-contrast,) var(--tw-backdrop-grayscale,)
        var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,)
        var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,)
        var(--tw-backdrop-sepia,);
    }

    .xl\:backdrop-blur-3xl {
      --tw-backdrop-blur: blur(var(--blur-3xl));
      backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,)
        var(--tw-backdrop-contrast,) var(--tw-backdrop-grayscale,)
        var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,)
        var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,)
        var(--tw-backdrop-sepia,);
    }

    .xl\:backdrop-blur-none {
      --tw-backdrop-blur: blur(0);
      backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,)
        var(--tw-backdrop-contrast,) var(--tw-backdrop-grayscale,)
        var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,)
        var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,)
        var(--tw-backdrop-sepia,);
    }
  }

  @media (min-width: 96rem) {
    .\32xl\:backdrop-blur-xs {
      --tw-backdrop-blur: blur(var(--blur-xs));
      backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,)
        var(--tw-backdrop-contrast,) var(--tw-backdrop-grayscale,)
        var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,)
        var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,)
        var(--tw-backdrop-sepia,);
    }

    .\32xl\:backdrop-blur-sm {
      --tw-backdrop-blur: blur(var(--blur-sm));
      backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,)
        var(--tw-backdrop-contrast,) var(--tw-backdrop-grayscale,)
        var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,)
        var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,)
        var(--tw-backdrop-sepia,);
    }

    .\32xl\:backdrop-blur-md {
      --tw-backdrop-blur: blur(var(--blur-md));
      backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,)
        var(--tw-backdrop-contrast,) var(--tw-backdrop-grayscale,)
        var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,)
        var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,)
        var(--tw-backdrop-sepia,);
    }

    .\32xl\:backdrop-blur-lg {
      --tw-backdrop-blur: blur(var(--blur-lg));
      backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,)
        var(--tw-backdrop-contrast,) var(--tw-backdrop-grayscale,)
        var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,)
        var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,)
        var(--tw-backdrop-sepia,);
    }

    .\32xl\:backdrop-blur-xl {
      --tw-backdrop-blur: blur(var(--blur-xl));
      backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,)
        var(--tw-backdrop-contrast,) var(--tw-backdrop-grayscale,)
        var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,)
        var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,)
        var(--tw-backdrop-sepia,);
    }

    .\32xl\:backdrop-blur-2xl {
      --tw-backdrop-blur: blur(var(--blur-2xl));
      backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,)
        var(--tw-backdrop-contrast,) var(--tw-backdrop-grayscale,)
        var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,)
        var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,)
        var(--tw-backdrop-sepia,);
    }

    .\32xl\:backdrop-blur-3xl {
      --tw-backdrop-blur: blur(var(--blur-3xl));
      backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,)
        var(--tw-backdrop-contrast,) var(--tw-backdrop-grayscale,)
        var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,)
        var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,)
        var(--tw-backdrop-sepia,);
    }

    .\32xl\:backdrop-blur-none {
      --tw-backdrop-blur: blur(0);
      backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,)
        var(--tw-backdrop-contrast,) var(--tw-backdrop-grayscale,)
        var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,)
        var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,)
        var(--tw-backdrop-sepia,);
    }
  }
}
