@layer components {
  .shadow-2xs {
    --tw-shadow: 0 1px var(--tw-shadow-color);
  }

  .shadow-xs {
    --tw-shadow: 0 1px 2px 0 var(--tw-shadow-color);
  }

  .shadow-sm {
    --tw-shadow:
      0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  }

  .shadow-md {
    --tw-shadow:
      0 4px 6px -1px var(--tw-shadow-color),
      0 2px 4px -2px var(--tw-shadow-color);
  }

  .shadow-lg {
    --tw-shadow:
      0 10px 15px -3px var(--tw-shadow-color),
      0 4px 6px -4px var(--tw-shadow-color);
  }

  .shadow-xl {
    --tw-shadow:
      0 20px 25px -5px var(--tw-shadow-color),
      0 8px 10px -6px var(--tw-shadow-color);
  }

  .shadow-none {
    box-shadow: 0 0 #0000;
  }

  @media (min-width: 40rem) {
    .sm\:shadow-2xs {
      --tw-shadow: 0 1px var(--tw-shadow-color);
    }

    .sm\:shadow-xs {
      --tw-shadow: 0 1px 2px 0 var(--tw-shadow-color);
    }

    .sm\:shadow-sm {
      --tw-shadow:
        0 1px 3px 0 var(--tw-shadow-color),
        0 1px 2px -1px var(--tw-shadow-color);
    }

    .sm\:shadow-md {
      --tw-shadow:
        0 4px 6px -1px var(--tw-shadow-color),
        0 2px 4px -2px var(--tw-shadow-color);
    }

    .sm\:shadow-lg {
      --tw-shadow:
        0 10px 15px -3px var(--tw-shadow-color),
        0 4px 6px -4px var(--tw-shadow-color);
    }

    .sm\:shadow-xl {
      --tw-shadow:
        0 20px 25px -5px var(--tw-shadow-color),
        0 8px 10px -6px var(--tw-shadow-color);
    }

    .sm\:shadow-none {
      box-shadow: 0 0 #0000;
    }
  }

  @media (min-width: 48rem) {
    .md\:shadow-2xs {
      --tw-shadow: 0 1px var(--tw-shadow-color);
    }

    .md\:shadow-xs {
      --tw-shadow: 0 1px 2px 0 var(--tw-shadow-color);
    }

    .md\:shadow-sm {
      --tw-shadow:
        0 1px 3px 0 var(--tw-shadow-color),
        0 1px 2px -1px var(--tw-shadow-color);
    }

    .md\:shadow-md {
      --tw-shadow:
        0 4px 6px -1px var(--tw-shadow-color),
        0 2px 4px -2px var(--tw-shadow-color);
    }

    .md\:shadow-lg {
      --tw-shadow:
        0 10px 15px -3px var(--tw-shadow-color),
        0 4px 6px -4px var(--tw-shadow-color);
    }

    .md\:shadow-xl {
      --tw-shadow:
        0 20px 25px -5px var(--tw-shadow-color),
        0 8px 10px -6px var(--tw-shadow-color);
    }

    .md\:shadow-none {
      box-shadow: 0 0 #0000;
    }
  }

  @media (min-width: 64rem) {
    .lg\:shadow-2xs {
      --tw-shadow: 0 1px var(--tw-shadow-color);
    }

    .lg\:shadow-xs {
      --tw-shadow: 0 1px 2px 0 var(--tw-shadow-color);
    }

    .lg\:shadow-sm {
      --tw-shadow:
        0 1px 3px 0 var(--tw-shadow-color),
        0 1px 2px -1px var(--tw-shadow-color);
    }

    .lg\:shadow-md {
      --tw-shadow:
        0 4px 6px -1px var(--tw-shadow-color),
        0 2px 4px -2px var(--tw-shadow-color);
    }

    .lg\:shadow-lg {
      --tw-shadow:
        0 10px 15px -3px var(--tw-shadow-color),
        0 4px 6px -4px var(--tw-shadow-color);
    }

    .lg\:shadow-xl {
      --tw-shadow:
        0 20px 25px -5px var(--tw-shadow-color),
        0 8px 10px -6px var(--tw-shadow-color);
    }

    .lg\:shadow-none {
      box-shadow: 0 0 #0000;
    }
  }

  @media (min-width: 80rem) {
    .xl\:shadow-2xs {
      --tw-shadow: 0 1px var(--tw-shadow-color);
    }

    .xl\:shadow-xs {
      --tw-shadow: 0 1px 2px 0 var(--tw-shadow-color);
    }

    .xl\:shadow-sm {
      --tw-shadow:
        0 1px 3px 0 var(--tw-shadow-color),
        0 1px 2px -1px var(--tw-shadow-color);
    }

    .xl\:shadow-md {
      --tw-shadow:
        0 4px 6px -1px var(--tw-shadow-color),
        0 2px 4px -2px var(--tw-shadow-color);
    }

    .xl\:shadow-lg {
      --tw-shadow:
        0 10px 15px -3px var(--tw-shadow-color),
        0 4px 6px -4px var(--tw-shadow-color);
    }

    .xl\:shadow-xl {
      --tw-shadow:
        0 20px 25px -5px var(--tw-shadow-color),
        0 8px 10px -6px var(--tw-shadow-color);
    }

    .xl\:shadow-none {
      box-shadow: 0 0 #0000;
    }
  }

  @media (min-width: 96rem) {
    .\32xl\:shadow-2xs {
      --tw-shadow: 0 1px var(--tw-shadow-color);
    }

    .\32xl\:shadow-xs {
      --tw-shadow: 0 1px 2px 0 var(--tw-shadow-color);
    }

    .\32xl\:shadow-sm {
      --tw-shadow:
        0 1px 3px 0 var(--tw-shadow-color),
        0 1px 2px -1px var(--tw-shadow-color);
    }

    .\32xl\:shadow-md {
      --tw-shadow:
        0 4px 6px -1px var(--tw-shadow-color),
        0 2px 4px -2px var(--tw-shadow-color);
    }

    .\32xl\:shadow-lg {
      --tw-shadow:
        0 10px 15px -3px var(--tw-shadow-color),
        0 4px 6px -4px var(--tw-shadow-color);
    }

    .\32xl\:shadow-xl {
      --tw-shadow:
        0 20px 25px -5px var(--tw-shadow-color),
        0 8px 10px -6px var(--tw-shadow-color);
    }

    .\32xl\:shadow-none {
      box-shadow: 0 0 #0000;
    }
  }
}
