@layer components {
  .ordinal {
    --tw-ordinal: ordinal;
    font-variant-numeric: var(--tw-ordinal,) var(--tw-slashed-zero,)
      var(--tw-numeric-figure,) var(--tw-numeric-spacing,)
      var(--tw-numeric-fraction,);
  }
  .slashed-zero {
    --tw-slashed-zero: slashed-zero;
    font-variant-numeric: var(--tw-ordinal,) var(--tw-slashed-zero,)
      var(--tw-numeric-figure,) var(--tw-numeric-spacing,)
      var(--tw-numeric-fraction,);
  }
  .lining-nums {
    --tw-numeric-figure: lining-nums;
    font-variant-numeric: var(--tw-ordinal,) var(--tw-slashed-zero,)
      var(--tw-numeric-figure,) var(--tw-numeric-spacing,)
      var(--tw-numeric-fraction,);
  }
  .oldstyle-nums {
    --tw-numeric-figure: oldstyle-nums;
    font-variant-numeric: var(--tw-ordinal,) var(--tw-slashed-zero,)
      var(--tw-numeric-figure,) var(--tw-numeric-spacing,)
      var(--tw-numeric-fraction,);
  }
  .proportional-nums {
    --tw-numeric-spacing: proportional-nums;
    font-variant-numeric: var(--tw-ordinal,) var(--tw-slashed-zero,)
      var(--tw-numeric-figure,) var(--tw-numeric-spacing,)
      var(--tw-numeric-fraction,);
  }
  .tabular-nums {
    --tw-numeric-spacing: tabular-nums;
    font-variant-numeric: var(--tw-ordinal,) var(--tw-slashed-zero,)
      var(--tw-numeric-figure,) var(--tw-numeric-spacing,)
      var(--tw-numeric-fraction,);
  }
  .diagonal-fractions {
    --tw-numeric-fraction: diagonal-fractions;
    font-variant-numeric: var(--tw-ordinal,) var(--tw-slashed-zero,)
      var(--tw-numeric-figure,) var(--tw-numeric-spacing,)
      var(--tw-numeric-fraction,);
  }
  .stacked-fractions {
    --tw-numeric-fraction: stacked-fractions;
    font-variant-numeric: var(--tw-ordinal,) var(--tw-slashed-zero,)
      var(--tw-numeric-figure,) var(--tw-numeric-spacing,)
      var(--tw-numeric-fraction,);
  }

  @media (min-width: 40rem) {
    .sm\:ordinal {
      --tw-ordinal: ordinal;
      font-variant-numeric: var(--tw-ordinal,) var(--tw-slashed-zero,)
        var(--tw-numeric-figure,) var(--tw-numeric-spacing,)
        var(--tw-numeric-fraction,);
    }
    .sm\:slashed-zero {
      --tw-slashed-zero: slashed-zero;
      font-variant-numeric: var(--tw-ordinal,) var(--tw-slashed-zero,)
        var(--tw-numeric-figure,) var(--tw-numeric-spacing,)
        var(--tw-numeric-fraction,);
    }
    .sm\:lining-nums {
      --tw-numeric-figure: lining-nums;
      font-variant-numeric: var(--tw-ordinal,) var(--tw-slashed-zero,)
        var(--tw-numeric-figure,) var(--tw-numeric-spacing,)
        var(--tw-numeric-fraction,);
    }
    .sm\:oldstyle-nums {
      --tw-numeric-figure: oldstyle-nums;
      font-variant-numeric: var(--tw-ordinal,) var(--tw-slashed-zero,)
        var(--tw-numeric-figure,) var(--tw-numeric-spacing,)
        var(--tw-numeric-fraction,);
    }
    .sm\:proportional-nums {
      --tw-numeric-spacing: proportional-nums;
      font-variant-numeric: var(--tw-ordinal,) var(--tw-slashed-zero,)
        var(--tw-numeric-figure,) var(--tw-numeric-spacing,)
        var(--tw-numeric-fraction,);
    }
    .sm\:tabular-nums {
      --tw-numeric-spacing: tabular-nums;
      font-variant-numeric: var(--tw-ordinal,) var(--tw-slashed-zero,)
        var(--tw-numeric-figure,) var(--tw-numeric-spacing,)
        var(--tw-numeric-fraction,);
    }
    .sm\:diagonal-fractions {
      --tw-numeric-fraction: diagonal-fractions;
      font-variant-numeric: var(--tw-ordinal,) var(--tw-slashed-zero,)
        var(--tw-numeric-figure,) var(--tw-numeric-spacing,)
        var(--tw-numeric-fraction,);
    }
    .sm\:stacked-fractions {
      --tw-numeric-fraction: stacked-fractions;
      font-variant-numeric: var(--tw-ordinal,) var(--tw-slashed-zero,)
        var(--tw-numeric-figure,) var(--tw-numeric-spacing,)
        var(--tw-numeric-fraction,);
    }
  }

  @media (min-width: 48rem) {
    .md\:ordinal {
      --tw-ordinal: ordinal;
      font-variant-numeric: var(--tw-ordinal,) var(--tw-slashed-zero,)
        var(--tw-numeric-figure,) var(--tw-numeric-spacing,)
        var(--tw-numeric-fraction,);
    }
    .md\:slashed-zero {
      --tw-slashed-zero: slashed-zero;
      font-variant-numeric: var(--tw-ordinal,) var(--tw-slashed-zero,)
        var(--tw-numeric-figure,) var(--tw-numeric-spacing,)
        var(--tw-numeric-fraction,);
    }
    .md\:lining-nums {
      --tw-numeric-figure: lining-nums;
      font-variant-numeric: var(--tw-ordinal,) var(--tw-slashed-zero,)
        var(--tw-numeric-figure,) var(--tw-numeric-spacing,)
        var(--tw-numeric-fraction,);
    }
    .md\:oldstyle-nums {
      --tw-numeric-figure: oldstyle-nums;
      font-variant-numeric: var(--tw-ordinal,) var(--tw-slashed-zero,)
        var(--tw-numeric-figure,) var(--tw-numeric-spacing,)
        var(--tw-numeric-fraction,);
    }
    .md\:proportional-nums {
      --tw-numeric-spacing: proportional-nums;
      font-variant-numeric: var(--tw-ordinal,) var(--tw-slashed-zero,)
        var(--tw-numeric-figure,) var(--tw-numeric-spacing,)
        var(--tw-numeric-fraction,);
    }
    .md\:tabular-nums {
      --tw-numeric-spacing: tabular-nums;
      font-variant-numeric: var(--tw-ordinal,) var(--tw-slashed-zero,)
        var(--tw-numeric-figure,) var(--tw-numeric-spacing,)
        var(--tw-numeric-fraction,);
    }
    .md\:diagonal-fractions {
      --tw-numeric-fraction: diagonal-fractions;
      font-variant-numeric: var(--tw-ordinal,) var(--tw-slashed-zero,)
        var(--tw-numeric-figure,) var(--tw-numeric-spacing,)
        var(--tw-numeric-fraction,);
    }
    .md\:stacked-fractions {
      --tw-numeric-fraction: stacked-fractions;
      font-variant-numeric: var(--tw-ordinal,) var(--tw-slashed-zero,)
        var(--tw-numeric-figure,) var(--tw-numeric-spacing,)
        var(--tw-numeric-fraction,);
    }
  }

  @media (min-width: 64rem) {
    .lg\:ordinal {
      --tw-ordinal: ordinal;
      font-variant-numeric: var(--tw-ordinal,) var(--tw-slashed-zero,)
        var(--tw-numeric-figure,) var(--tw-numeric-spacing,)
        var(--tw-numeric-fraction,);
    }
    .lg\:slashed-zero {
      --tw-slashed-zero: slashed-zero;
      font-variant-numeric: var(--tw-ordinal,) var(--tw-slashed-zero,)
        var(--tw-numeric-figure,) var(--tw-numeric-spacing,)
        var(--tw-numeric-fraction,);
    }
    .lg\:lining-nums {
      --tw-numeric-figure: lining-nums;
      font-variant-numeric: var(--tw-ordinal,) var(--tw-slashed-zero,)
        var(--tw-numeric-figure,) var(--tw-numeric-spacing,)
        var(--tw-numeric-fraction,);
    }
    .lg\:oldstyle-nums {
      --tw-numeric-figure: oldstyle-nums;
      font-variant-numeric: var(--tw-ordinal,) var(--tw-slashed-zero,)
        var(--tw-numeric-figure,) var(--tw-numeric-spacing,)
        var(--tw-numeric-fraction,);
    }
    .lg\:proportional-nums {
      --tw-numeric-spacing: proportional-nums;
      font-variant-numeric: var(--tw-ordinal,) var(--tw-slashed-zero,)
        var(--tw-numeric-figure,) var(--tw-numeric-spacing,)
        var(--tw-numeric-fraction,);
    }
    .lg\:tabular-nums {
      --tw-numeric-spacing: tabular-nums;
      font-variant-numeric: var(--tw-ordinal,) var(--tw-slashed-zero,)
        var(--tw-numeric-figure,) var(--tw-numeric-spacing,)
        var(--tw-numeric-fraction,);
    }
    .lg\:diagonal-fractions {
      --tw-numeric-fraction: diagonal-fractions;
      font-variant-numeric: var(--tw-ordinal,) var(--tw-slashed-zero,)
        var(--tw-numeric-figure,) var(--tw-numeric-spacing,)
        var(--tw-numeric-fraction,);
    }
    .lg\:stacked-fractions {
      --tw-numeric-fraction: stacked-fractions;
      font-variant-numeric: var(--tw-ordinal,) var(--tw-slashed-zero,)
        var(--tw-numeric-figure,) var(--tw-numeric-spacing,)
        var(--tw-numeric-fraction,);
    }
  }

  @media (min-width: 80rem) {
    .xl\:ordinal {
      --tw-ordinal: ordinal;
      font-variant-numeric: var(--tw-ordinal,) var(--tw-slashed-zero,)
        var(--tw-numeric-figure,) var(--tw-numeric-spacing,)
        var(--tw-numeric-fraction,);
    }
    .xl\:slashed-zero {
      --tw-slashed-zero: slashed-zero;
      font-variant-numeric: var(--tw-ordinal,) var(--tw-slashed-zero,)
        var(--tw-numeric-figure,) var(--tw-numeric-spacing,)
        var(--tw-numeric-fraction,);
    }
    .xl\:lining-nums {
      --tw-numeric-figure: lining-nums;
      font-variant-numeric: var(--tw-ordinal,) var(--tw-slashed-zero,)
        var(--tw-numeric-figure,) var(--tw-numeric-spacing,)
        var(--tw-numeric-fraction,);
    }
    .xl\:oldstyle-nums {
      --tw-numeric-figure: oldstyle-nums;
      font-variant-numeric: var(--tw-ordinal,) var(--tw-slashed-zero,)
        var(--tw-numeric-figure,) var(--tw-numeric-spacing,)
        var(--tw-numeric-fraction,);
    }
    .xl\:proportional-nums {
      --tw-numeric-spacing: proportional-nums;
      font-variant-numeric: var(--tw-ordinal,) var(--tw-slashed-zero,)
        var(--tw-numeric-figure,) var(--tw-numeric-spacing,)
        var(--tw-numeric-fraction,);
    }
    .xl\:tabular-nums {
      --tw-numeric-spacing: tabular-nums;
      font-variant-numeric: var(--tw-ordinal,) var(--tw-slashed-zero,)
        var(--tw-numeric-figure,) var(--tw-numeric-spacing,)
        var(--tw-numeric-fraction,);
    }
    .xl\:diagonal-fractions {
      --tw-numeric-fraction: diagonal-fractions;
      font-variant-numeric: var(--tw-ordinal,) var(--tw-slashed-zero,)
        var(--tw-numeric-figure,) var(--tw-numeric-spacing,)
        var(--tw-numeric-fraction,);
    }
    .xl\:stacked-fractions {
      --tw-numeric-fraction: stacked-fractions;
      font-variant-numeric: var(--tw-ordinal,) var(--tw-slashed-zero,)
        var(--tw-numeric-figure,) var(--tw-numeric-spacing,)
        var(--tw-numeric-fraction,);
    }
  }

  @media (min-width: 96rem) {
    .\32xl\:ordinal {
      --tw-ordinal: ordinal;
      font-variant-numeric: var(--tw-ordinal,) var(--tw-slashed-zero,)
        var(--tw-numeric-figure,) var(--tw-numeric-spacing,)
        var(--tw-numeric-fraction,);
    }
    .\32xl\:slashed-zero {
      --tw-slashed-zero: slashed-zero;
      font-variant-numeric: var(--tw-ordinal,) var(--tw-slashed-zero,)
        var(--tw-numeric-figure,) var(--tw-numeric-spacing,)
        var(--tw-numeric-fraction,);
    }
    .\32xl\:lining-nums {
      --tw-numeric-figure: lining-nums;
      font-variant-numeric: var(--tw-ordinal,) var(--tw-slashed-zero,)
        var(--tw-numeric-figure,) var(--tw-numeric-spacing,)
        var(--tw-numeric-fraction,);
    }
    .\32xl\:oldstyle-nums {
      --tw-numeric-figure: oldstyle-nums;
      font-variant-numeric: var(--tw-ordinal,) var(--tw-slashed-zero,)
        var(--tw-numeric-figure,) var(--tw-numeric-spacing,)
        var(--tw-numeric-fraction,);
    }
    .\32xl\:proportional-nums {
      --tw-numeric-spacing: proportional-nums;
      font-variant-numeric: var(--tw-ordinal,) var(--tw-slashed-zero,)
        var(--tw-numeric-figure,) var(--tw-numeric-spacing,)
        var(--tw-numeric-fraction,);
    }
    .\32xl\:tabular-nums {
      --tw-numeric-spacing: tabular-nums;
      font-variant-numeric: var(--tw-ordinal,) var(--tw-slashed-zero,)
        var(--tw-numeric-figure,) var(--tw-numeric-spacing,)
        var(--tw-numeric-fraction,);
    }
    .\32xl\:diagonal-fractions {
      --tw-numeric-fraction: diagonal-fractions;
      font-variant-numeric: var(--tw-ordinal,) var(--tw-slashed-zero,)
        var(--tw-numeric-figure,) var(--tw-numeric-spacing,)
        var(--tw-numeric-fraction,);
    }
    .\32xl\:stacked-fractions {
      --tw-numeric-fraction: stacked-fractions;
      font-variant-numeric: var(--tw-ordinal,) var(--tw-slashed-zero,)
        var(--tw-numeric-figure,) var(--tw-numeric-spacing,)
        var(--tw-numeric-fraction,);
    }
  }
}
