@layer components {
  .linear {
    background-image: linear-gradient(var(--tw-gradient-stops));
  }

  .radial {
    background-image: radial-gradient(var(--tw-gradient-stops));
  }

  .conic {
    background-image: conic-gradient(var(--tw-gradient-stops));
  }

  .linear-to-t {
    --tw-gradient-position: to top in oklab;
  }

  .linear-to-tr {
    --tw-gradient-position: to top right in oklab;
  }

  .linear-to-r {
    --tw-gradient-position: to right in oklab;
  }

  .linear-to-br {
    --tw-gradient-position: to bottom right in oklab;
  }

  .linear-to-b {
    --tw-gradient-position: to bottom in oklab;
  }

  .linear-to-bl {
    --tw-gradient-position: to bottom left in oklab;
  }

  .linear-to-l {
    --tw-gradient-position: to left in oklab;
  }

  .linear-to-tl {
    --tw-gradient-position: to top left in oklab;
  }

  @media (min-width: 40rem) {
    .sm\:linear {
      background-image: linear-gradient(var(--tw-gradient-stops));
    }

    .sm\:radial {
      background-image: radial-gradient(var(--tw-gradient-stops));
    }

    .sm\:conic {
      background-image: conic-gradient(var(--tw-gradient-stops));
    }

    .sm\:linear-to-t {
      --tw-gradient-position: to top in oklab;
    }

    .sm\:linear-to-tr {
      --tw-gradient-position: to top right in oklab;
    }

    .sm\:linear-to-r {
      --tw-gradient-position: to right in oklab;
    }

    .sm\:linear-to-br {
      --tw-gradient-position: to bottom right in oklab;
    }

    .sm\:linear-to-b {
      --tw-gradient-position: to bottom in oklab;
    }

    .sm\:linear-to-bl {
      --tw-gradient-position: to bottom left in oklab;
    }

    .sm\:linear-to-l {
      --tw-gradient-position: to left in oklab;
    }

    .sm\:linear-to-tl {
      --tw-gradient-position: to top left in oklab;
    }
  }

  @media (min-width: 48rem) {
    .md\:linear {
      background-image: linear-gradient(var(--tw-gradient-stops));
    }

    .md\:radial {
      background-image: radial-gradient(var(--tw-gradient-stops));
    }

    .md\:conic {
      background-image: conic-gradient(var(--tw-gradient-stops));
    }

    .md\:linear-to-t {
      --tw-gradient-position: to top in oklab;
    }

    .md\:linear-to-tr {
      --tw-gradient-position: to top right in oklab;
    }

    .md\:linear-to-r {
      --tw-gradient-position: to right in oklab;
    }

    .md\:linear-to-br {
      --tw-gradient-position: to bottom right in oklab;
    }

    .md\:linear-to-b {
      --tw-gradient-position: to bottom in oklab;
    }

    .md\:linear-to-bl {
      --tw-gradient-position: to bottom left in oklab;
    }

    .md\:linear-to-l {
      --tw-gradient-position: to left in oklab;
    }

    .md\:linear-to-tl {
      --tw-gradient-position: to top left in oklab;
    }
  }

  @media (min-width: 64rem) {
    .lg\:linear {
      background-image: linear-gradient(var(--tw-gradient-stops));
    }

    .lg\:radial {
      background-image: radial-gradient(var(--tw-gradient-stops));
    }

    .lg\:conic {
      background-image: conic-gradient(var(--tw-gradient-stops));
    }

    .lg\:linear-to-t {
      --tw-gradient-position: to top in oklab;
    }

    .lg\:linear-to-tr {
      --tw-gradient-position: to top right in oklab;
    }

    .lg\:linear-to-r {
      --tw-gradient-position: to right in oklab;
    }

    .lg\:linear-to-br {
      --tw-gradient-position: to bottom right in oklab;
    }

    .lg\:linear-to-b {
      --tw-gradient-position: to bottom in oklab;
    }

    .lg\:linear-to-bl {
      --tw-gradient-position: to bottom left in oklab;
    }

    .lg\:linear-to-l {
      --tw-gradient-position: to left in oklab;
    }

    .lg\:linear-to-tl {
      --tw-gradient-position: to top left in oklab;
    }
  }

  @media (min-width: 80rem) {
    .xl\:linear {
      background-image: linear-gradient(var(--tw-gradient-stops));
    }

    .xl\:radial {
      background-image: radial-gradient(var(--tw-gradient-stops));
    }

    .xl\:conic {
      background-image: conic-gradient(var(--tw-gradient-stops));
    }

    .xl\:linear-to-t {
      --tw-gradient-position: to top in oklab;
    }

    .xl\:linear-to-tr {
      --tw-gradient-position: to top right in oklab;
    }

    .xl\:linear-to-r {
      --tw-gradient-position: to right in oklab;
    }

    .xl\:linear-to-br {
      --tw-gradient-position: to bottom right in oklab;
    }

    .xl\:linear-to-b {
      --tw-gradient-position: to bottom in oklab;
    }

    .xl\:linear-to-bl {
      --tw-gradient-position: to bottom left in oklab;
    }

    .xl\:linear-to-l {
      --tw-gradient-position: to left in oklab;
    }

    .xl\:linear-to-tl {
      --tw-gradient-position: to top left in oklab;
    }
  }

  @media (min-width: 96rem) {
    .\32xl\:linear {
      background-image: linear-gradient(var(--tw-gradient-stops));
    }

    .\32xl\:radial {
      background-image: radial-gradient(var(--tw-gradient-stops));
    }

    .\32xl\:conic {
      background-image: conic-gradient(var(--tw-gradient-stops));
    }

    .\32xl\:linear-to-t {
      --tw-gradient-position: to top in oklab;
    }

    .\32xl\:linear-to-tr {
      --tw-gradient-position: to top right in oklab;
    }

    .\32xl\:linear-to-r {
      --tw-gradient-position: to right in oklab;
    }

    .\32xl\:linear-to-br {
      --tw-gradient-position: to bottom right in oklab;
    }

    .\32xl\:linear-to-b {
      --tw-gradient-position: to bottom in oklab;
    }

    .\32xl\:linear-to-bl {
      --tw-gradient-position: to bottom left in oklab;
    }

    .\32xl\:linear-to-l {
      --tw-gradient-position: to left in oklab;
    }

    .\32xl\:linear-to-tl {
      --tw-gradient-position: to top left in oklab;
    }
  }
}
