@layer components {
  .max-w-3xs {
    max-width: var(--container-3xs);
  }

  .max-w-2xs {
    max-width: var(--container-2xs);
  }

  .max-w-xs {
    max-width: var(--container-xs);
  }

  .max-w-sm {
    max-width: var(--container-sm);
  }

  .max-w-md {
    max-width: var(--container-md);
  }

  .max-w-lg {
    max-width: var(--container-lg);
  }

  .max-w-xl {
    max-width: var(--container-xl);
  }

  .max-w-2xl {
    max-width: var(--container-2xl);
  }

  .max-w-3xl {
    max-width: var(--container-3xl);
  }

  .max-w-4xl {
    max-width: var(--container-4xl);
  }

  .max-w-5xl {
    max-width: var(--container-5xl);
  }

  .max-w-6xl {
    max-width: var(--container-6xl);
  }

  .max-w-7xl {
    max-width: var(--container-7xl);
  }

  @media (min-width: 40rem) {
    .sm\:max-w-3xs {
      max-width: var(--container-3xs);
    }

    .sm\:max-w-2xs {
      max-width: var(--container-2xs);
    }

    .sm\:max-w-xs {
      max-width: var(--container-xs);
    }

    .sm\:max-w-sm {
      max-width: var(--container-sm);
    }

    .sm\:max-w-md {
      max-width: var(--container-md);
    }

    .sm\:max-w-lg {
      max-width: var(--container-lg);
    }

    .sm\:max-w-xl {
      max-width: var(--container-xl);
    }

    .sm\:max-w-2xl {
      max-width: var(--container-2xl);
    }

    .sm\:max-w-3xl {
      max-width: var(--container-3xl);
    }

    .sm\:max-w-4xl {
      max-width: var(--container-4xl);
    }

    .sm\:max-w-5xl {
      max-width: var(--container-5xl);
    }

    .sm\:max-w-6xl {
      max-width: var(--container-6xl);
    }

    .sm\:max-w-7xl {
      max-width: var(--container-7xl);
    }
  }

  @media (min-width: 48rem) {
    .md\:max-w-3xs {
      max-width: var(--container-3xs);
    }

    .md\:max-w-2xs {
      max-width: var(--container-2xs);
    }

    .md\:max-w-xs {
      max-width: var(--container-xs);
    }

    .md\:max-w-sm {
      max-width: var(--container-sm);
    }

    .md\:max-w-md {
      max-width: var(--container-md);
    }

    .md\:max-w-lg {
      max-width: var(--container-lg);
    }

    .md\:max-w-xl {
      max-width: var(--container-xl);
    }

    .md\:max-w-2xl {
      max-width: var(--container-2xl);
    }

    .md\:max-w-3xl {
      max-width: var(--container-3xl);
    }

    .md\:max-w-4xl {
      max-width: var(--container-4xl);
    }

    .md\:max-w-5xl {
      max-width: var(--container-5xl);
    }

    .md\:max-w-6xl {
      max-width: var(--container-6xl);
    }

    .md\:max-w-7xl {
      max-width: var(--container-7xl);
    }
  }

  @media (min-width: 64rem) {
    .lg\:max-w-3xs {
      max-width: var(--container-3xs);
    }

    .lg\:max-w-2xs {
      max-width: var(--container-2xs);
    }

    .lg\:max-w-xs {
      max-width: var(--container-xs);
    }

    .lg\:max-w-sm {
      max-width: var(--container-sm);
    }

    .lg\:max-w-md {
      max-width: var(--container-md);
    }

    .lg\:max-w-lg {
      max-width: var(--container-lg);
    }

    .lg\:max-w-xl {
      max-width: var(--container-xl);
    }

    .lg\:max-w-2xl {
      max-width: var(--container-2xl);
    }

    .lg\:max-w-3xl {
      max-width: var(--container-3xl);
    }

    .lg\:max-w-4xl {
      max-width: var(--container-4xl);
    }

    .lg\:max-w-5xl {
      max-width: var(--container-5xl);
    }

    .lg\:max-w-6xl {
      max-width: var(--container-6xl);
    }

    .lg\:max-w-7xl {
      max-width: var(--container-7xl);
    }
  }

  @media (min-width: 80rem) {
    .xl\:max-w-3xs {
      max-width: var(--container-3xs);
    }

    .xl\:max-w-2xs {
      max-width: var(--container-2xs);
    }

    .xl\:max-w-xs {
      max-width: var(--container-xs);
    }

    .xl\:max-w-sm {
      max-width: var(--container-sm);
    }

    .xl\:max-w-md {
      max-width: var(--container-md);
    }

    .xl\:max-w-lg {
      max-width: var(--container-lg);
    }

    .xl\:max-w-xl {
      max-width: var(--container-xl);
    }

    .xl\:max-w-2xl {
      max-width: var(--container-2xl);
    }

    .xl\:max-w-3xl {
      max-width: var(--container-3xl);
    }

    .xl\:max-w-4xl {
      max-width: var(--container-4xl);
    }

    .xl\:max-w-5xl {
      max-width: var(--container-5xl);
    }

    .xl\:max-w-6xl {
      max-width: var(--container-6xl);
    }

    .xl\:max-w-7xl {
      max-width: var(--container-7xl);
    }
  }

  @media (min-width: 96rem) {
    .\32xl\:max-w-3xs {
      max-width: var(--container-3xs);
    }

    .\32xl\:max-w-2xs {
      max-width: var(--container-2xs);
    }

    .\32xl\:max-w-xs {
      max-width: var(--container-xs);
    }

    .\32xl\:max-w-sm {
      max-width: var(--container-sm);
    }

    .\32xl\:max-w-md {
      max-width: var(--container-md);
    }

    .\32xl\:max-w-lg {
      max-width: var(--container-lg);
    }

    .\32xl\:max-w-xl {
      max-width: var(--container-xl);
    }

    .\32xl\:max-w-2xl {
      max-width: var(--container-2xl);
    }

    .\32xl\:max-w-3xl {
      max-width: var(--container-3xl);
    }

    .\32xl\:max-w-4xl {
      max-width: var(--container-4xl);
    }

    .\32xl\:max-w-5xl {
      max-width: var(--container-5xl);
    }

    .\32xl\:max-w-6xl {
      max-width: var(--container-6xl);
    }

    .\32xl\:max-w-7xl {
      max-width: var(--container-7xl);
    }
  }
}
