@layer components {
  .min-w-3xs {
    min-width: var(--container-3xs);
  }

  .min-w-2xs {
    min-width: var(--container-2xs);
  }

  .min-w-xs {
    min-width: var(--container-xs);
  }

  .min-w-sm {
    min-width: var(--container-sm);
  }

  .min-w-md {
    min-width: var(--container-md);
  }

  .min-w-lg {
    min-width: var(--container-lg);
  }

  .min-w-xl {
    min-width: var(--container-xl);
  }

  .min-w-2xl {
    min-width: var(--container-2xl);
  }

  .min-w-3xl {
    min-width: var(--container-3xl);
  }

  .min-w-4xl {
    min-width: var(--container-4xl);
  }

  .min-w-5xl {
    min-width: var(--container-5xl);
  }

  .min-w-6xl {
    min-width: var(--container-6xl);
  }

  .min-w-7xl {
    min-width: var(--container-7xl);
  }

  @media (min-width: 40rem) {
    .sm\:min-w-3xs {
      min-width: var(--container-3xs);
    }

    .sm\:min-w-2xs {
      min-width: var(--container-2xs);
    }

    .sm\:min-w-xs {
      min-width: var(--container-xs);
    }

    .sm\:min-w-sm {
      min-width: var(--container-sm);
    }

    .sm\:min-w-md {
      min-width: var(--container-md);
    }

    .sm\:min-w-lg {
      min-width: var(--container-lg);
    }

    .sm\:min-w-xl {
      min-width: var(--container-xl);
    }

    .sm\:min-w-2xl {
      min-width: var(--container-2xl);
    }

    .sm\:min-w-3xl {
      min-width: var(--container-3xl);
    }

    .sm\:min-w-4xl {
      min-width: var(--container-4xl);
    }

    .sm\:min-w-5xl {
      min-width: var(--container-5xl);
    }

    .sm\:min-w-6xl {
      min-width: var(--container-6xl);
    }

    .sm\:min-w-7xl {
      min-width: var(--container-7xl);
    }
  }

  @media (min-width: 48rem) {
    .md\:min-w-3xs {
      min-width: var(--container-3xs);
    }

    .md\:min-w-2xs {
      min-width: var(--container-2xs);
    }

    .md\:min-w-xs {
      min-width: var(--container-xs);
    }

    .md\:min-w-sm {
      min-width: var(--container-sm);
    }

    .md\:min-w-md {
      min-width: var(--container-md);
    }

    .md\:min-w-lg {
      min-width: var(--container-lg);
    }

    .md\:min-w-xl {
      min-width: var(--container-xl);
    }

    .md\:min-w-2xl {
      min-width: var(--container-2xl);
    }

    .md\:min-w-3xl {
      min-width: var(--container-3xl);
    }

    .md\:min-w-4xl {
      min-width: var(--container-4xl);
    }

    .md\:min-w-5xl {
      min-width: var(--container-5xl);
    }

    .md\:min-w-6xl {
      min-width: var(--container-6xl);
    }

    .md\:min-w-7xl {
      min-width: var(--container-7xl);
    }
  }

  @media (min-width: 64rem) {
    .lg\:min-w-3xs {
      min-width: var(--container-3xs);
    }

    .lg\:min-w-2xs {
      min-width: var(--container-2xs);
    }

    .lg\:min-w-xs {
      min-width: var(--container-xs);
    }

    .lg\:min-w-sm {
      min-width: var(--container-sm);
    }

    .lg\:min-w-md {
      min-width: var(--container-md);
    }

    .lg\:min-w-lg {
      min-width: var(--container-lg);
    }

    .lg\:min-w-xl {
      min-width: var(--container-xl);
    }

    .lg\:min-w-2xl {
      min-width: var(--container-2xl);
    }

    .lg\:min-w-3xl {
      min-width: var(--container-3xl);
    }

    .lg\:min-w-4xl {
      min-width: var(--container-4xl);
    }

    .lg\:min-w-5xl {
      min-width: var(--container-5xl);
    }

    .lg\:min-w-6xl {
      min-width: var(--container-6xl);
    }

    .lg\:min-w-7xl {
      min-width: var(--container-7xl);
    }
  }

  @media (min-width: 80rem) {
    .xl\:min-w-3xs {
      min-width: var(--container-3xs);
    }

    .xl\:min-w-2xs {
      min-width: var(--container-2xs);
    }

    .xl\:min-w-xs {
      min-width: var(--container-xs);
    }

    .xl\:min-w-sm {
      min-width: var(--container-sm);
    }

    .xl\:min-w-md {
      min-width: var(--container-md);
    }

    .xl\:min-w-lg {
      min-width: var(--container-lg);
    }

    .xl\:min-w-xl {
      min-width: var(--container-xl);
    }

    .xl\:min-w-2xl {
      min-width: var(--container-2xl);
    }

    .xl\:min-w-3xl {
      min-width: var(--container-3xl);
    }

    .xl\:min-w-4xl {
      min-width: var(--container-4xl);
    }

    .xl\:min-w-5xl {
      min-width: var(--container-5xl);
    }

    .xl\:min-w-6xl {
      min-width: var(--container-6xl);
    }

    .xl\:min-w-7xl {
      min-width: var(--container-7xl);
    }
  }

  @media (min-width: 96rem) {
    .\32xl\:min-w-3xs {
      min-width: var(--container-3xs);
    }

    .\32xl\:min-w-2xs {
      min-width: var(--container-2xs);
    }

    .\32xl\:min-w-xs {
      min-width: var(--container-xs);
    }

    .\32xl\:min-w-sm {
      min-width: var(--container-sm);
    }

    .\32xl\:min-w-md {
      min-width: var(--container-md);
    }

    .\32xl\:min-w-lg {
      min-width: var(--container-lg);
    }

    .\32xl\:min-w-xl {
      min-width: var(--container-xl);
    }

    .\32xl\:min-w-2xl {
      min-width: var(--container-2xl);
    }

    .\32xl\:min-w-3xl {
      min-width: var(--container-3xl);
    }

    .\32xl\:min-w-4xl {
      min-width: var(--container-4xl);
    }

    .\32xl\:min-w-5xl {
      min-width: var(--container-5xl);
    }

    .\32xl\:min-w-6xl {
      min-width: var(--container-6xl);
    }

    .\32xl\:min-w-7xl {
      min-width: var(--container-7xl);
    }
  }
}
