@layer components {
  .perspective-dramatic {
    perspective: var(--perspective-dramatic);
  }

  .perspective-near {
    perspective: var(--perspective-near);
  }

  .perspective-normal {
    perspective: var(--perspective-normal);
  }

  .perspective-midrange {
    perspective: var(--perspective-midrange);
  }

  .perspective-distant {
    perspective: var(--perspective-distant);
  }

  .perspective-none {
    perspective: none;
  }

  @media (min-width: 40rem) {
    .sm\:perspective-dramatic {
      perspective: var(--perspective-dramatic);
    }

    .sm\:perspective-near {
      perspective: var(--perspective-near);
    }

    .sm\:perspective-normal {
      perspective: var(--perspective-normal);
    }

    .sm\:perspective-midrange {
      perspective: var(--perspective-midrange);
    }

    .sm\:perspective-distant {
      perspective: var(--perspective-distant);
    }

    .sm\:perspective-none {
      perspective: none;
    }
  }

  @media (min-width: 48rem) {
    .md\:perspective-dramatic {
      perspective: var(--perspective-dramatic);
    }

    .md\:perspective-near {
      perspective: var(--perspective-near);
    }

    .md\:perspective-normal {
      perspective: var(--perspective-normal);
    }

    .md\:perspective-midrange {
      perspective: var(--perspective-midrange);
    }

    .md\:perspective-distant {
      perspective: var(--perspective-distant);
    }

    .md\:perspective-none {
      perspective: none;
    }
  }

  @media (min-width: 64rem) {
    .lg\:perspective-dramatic {
      perspective: var(--perspective-dramatic);
    }

    .lg\:perspective-near {
      perspective: var(--perspective-near);
    }

    .lg\:perspective-normal {
      perspective: var(--perspective-normal);
    }

    .lg\:perspective-midrange {
      perspective: var(--perspective-midrange);
    }

    .lg\:perspective-distant {
      perspective: var(--perspective-distant);
    }

    .lg\:perspective-none {
      perspective: none;
    }
  }

  @media (min-width: 80rem) {
    .xl\:perspective-dramatic {
      perspective: var(--perspective-dramatic);
    }

    .xl\:perspective-near {
      perspective: var(--perspective-near);
    }

    .xl\:perspective-normal {
      perspective: var(--perspective-normal);
    }

    .xl\:perspective-midrange {
      perspective: var(--perspective-midrange);
    }

    .xl\:perspective-distant {
      perspective: var(--perspective-distant);
    }

    .xl\:perspective-none {
      perspective: none;
    }
  }

  @media (min-width: 96rem) {
    .\32xl\:perspective-dramatic {
      perspective: var(--perspective-dramatic);
    }

    .\32xl\:perspective-near {
      perspective: var(--perspective-near);
    }

    .\32xl\:perspective-normal {
      perspective: var(--perspective-normal);
    }

    .\32xl\:perspective-midrange {
      perspective: var(--perspective-midrange);
    }

    .\32xl\:perspective-distant {
      perspective: var(--perspective-distant);
    }

    .\32xl\:perspective-none {
      perspective: none;
    }
  }
}
