@layer components {
  .uk-accordion {
    --uk-accordion-border: var(--uk-border);
    --uk-accordion-border-o: 10%;
    --uk-accordion-border-computed: color-mix(
      in srgb,
      var(--uk-accordion-border) var(--uk-accordion-border-o),
      transparent
    );
  }
  .uk-accordion-title {
    display: flex;
    justify-content: space-between;
    align-items: start;
    overflow: hidden;
    padding: 1rem 0 1rem 0;
    font-weight: 500;
  }
  .uk-accordion-title:hover {
    text-decoration: underline;
  }
  .uk-accordion-icon {
    flex: none;
    transition: 300ms transform;
    color: var(--uk-muted-f);
  }
  .uk-open > .uk-accordion-title > .uk-accordion-icon {
    transform: rotate(180deg);
  }
  .uk-accordion-content {
    display: flow-root;
    padding: 0 0 1rem 0;
  }
  .uk-accordion-content[hidden] {
    display: none;
  }
  .uk-accordion > li {
    border-width: var(--uk-accordion-border-w, 0 0 1px 0);
    border-style: var(--uk-accordion-border-style, solid);
    border-color: var(--uk-accordion-border-computed);
  }
  .uk-alert {
    --uk-alert-bg: var(--uk-muted);
    --uk-alert-bg-o: 4%;
    --uk-alert-color: var(--uk-muted-f);
    --uk-alert-color-o: 100%;
    --uk-alert-border: var(--uk-border);
    --uk-alert-border-o: 10%;
    --uk-alert-bg-computed: color-mix(
      in srgb,
      var(--uk-alert-bg) var(--uk-alert-bg-o, 100%),
      transparent
    );
    --uk-alert-color-computed: color-mix(
      in srgb,
      var(--uk-alert-color) var(--uk-alert-color-o, 100%),
      transparent
    );
    --uk-alert-border-computed: color-mix(
      in srgb,
      var(--uk-alert-border) var(--uk-alert-border-o),
      transparent
    );
    position: relative;
    padding: 1rem 2rem 1rem 1rem;
    background-color: var(--uk-alert-bg-computed);
    color: var(--uk-alert-color-computed);
    border-radius: var(--radius-md);
    border-width: 1px;
    border-style: solid;
    border-color: var(--uk-alert-border-computed);
  }
  .uk-alert-close {
    position: absolute;
    inset: 1rem 1rem auto auto;
  }
  .uk-alert-danger {
    --uk-alert-bg: var(--uk-danger);
    --uk-alert-bg-o: 4%;
    --uk-alert-border: var(--uk-danger);
    --uk-alert-border-o: 32%;
  }
  .uk-alert-warning {
    --uk-alert-bg: var(--uk-warning);
    --uk-alert-bg-o: 4%;
    --uk-alert-border: var(--uk-warning);
    --uk-alert-border-o: 32%;
  }
  .uk-alert-info {
    --uk-alert-bg: var(--uk-info);
    --uk-alert-bg-o: 4%;
    --uk-alert-border: var(--uk-info);
    --uk-alert-border-o: 32%;
  }
  .uk-alert-success {
    --uk-alert-bg: var(--uk-success);
    --uk-alert-bg-o: 4%;
    --uk-alert-border: var(--uk-success);
    --uk-alert-border-o: 32%;
  }
  .uk-alert a:not([class]) {
    font-weight: 500;
    text-decoration-line: underline;
    text-underline-offset: 4px;
  }
  .fr-avatar {
    --uk-avatar-bg: var(--uk-bg);
    --uk-avatar-size: 2.5rem;
    --uk-avatar-radius: var(--radius-md);
    --uk-avatar-border: var(--uk-border);
    --uk-avatar-border-o: 4%;
    --uk-avatar-border-computed: color-mix(
      in srgb,
      var(--uk-avatar-border) var(--uk-avatar-border-o),
      transparent
    );
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: var(--uk-avatar-size);
    width: var(--uk-avatar-size);
    background-color: var(--uk-avatar-bg);
    border-radius: var(--uk-avatar-radius);
  }
  .fr-avatar img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: var(--radius-sm);
  }
  .fr-avatar-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: var(--radius-sm);
  }
  .fr-avatar-rounded {
    border-radius: 9999px;
  }
  .fr-avatar-rounded img,
  .fr-avatar-rounded .fr-avatar-text {
    border-radius: 9999px;
  }
  .fr-avatar-bordered {
    border-width: 0.125rem;
    border-style: solid;
    border-color: var(--uk-avatar-border-computed);
    padding: 0.25rem;
  }
  .fr-avatar-dot::after,
  .fr-avatar-dot-top::after,
  .fr-avatar-dot-top-right::after,
  .fr-avatar-dot-right::after,
  .fr-avatar-dot-bottom::after,
  .fr-avatar-dot-bottom-right::after,
  .fr-avatar-dot-bottom-left::after,
  .fr-avatar-dot-left::after,
  .fr-avatar-dot-top-left::after {
    content: '';
    position: absolute;
    height: var(--dot-size, 0.875rem);
    width: var(--dot-size, 0.875rem);
    border-radius: 9999px;
    border-width: 0.125rem;
    border-style: solid;
    border-color: var(--dot-border, var(--uk-bg));
    background-color: var(--dot-bg, var(--uk-primary));
    z-index: 10;
  }
  .fr-avatar-dot::after,
  .fr-avatar-dot-bottom-right::after {
    bottom: 0;
    right: 0;
    transform: translate(25%, 25%);
  }
  .fr-avatar-dot-top::after {
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .fr-avatar-dot-top-right::after {
    top: 0;
    right: 0;
    transform: translate(25%, -25%);
  }
  .fr-avatar-dot-right::after {
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
  }
  .fr-avatar-dot-bottom::after {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
  }
  .fr-avatar-dot-bottom-left::after {
    bottom: 0;
    left: 0;
    transform: translate(-25%, 25%);
  }
  .fr-avatar-dot-left::after {
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
  }
  .fr-avatar-dot-top-left::after {
    top: 0;
    left: 0;
    transform: translate(-25%, -25%);
  }
  .fr-avatar-dot-danger::after {
    --dot-bg: var(--uk-danger);
  }
  .fr-avatar-dot-warning::after {
    --dot-bg: var(--uk-warning);
  }
  .fr-avatar-dot-success::after {
    --dot-bg: var(--uk-success);
  }
  .fr-avatar-dot-info::after {
    --dot-bg: var(--uk-info);
  }
  .fr-avatar-dot-muted::after {
    --dot-bg: var(--uk-muted-f);
  }
  .uk-badge {
    --uk-badge-bg: var(--uk-bg);
    --uk-badge-bg-o: 100%;
    --uk-badge-color: var(--uk-bg-f);
    --uk-badge-color-o: 100%;
    --uk-badge-border: var(--uk-border);
    --uk-badge-border-o: 10%;
    --uk-badge-bg-computed: color-mix(
      in srgb,
      var(--uk-badge-bg) var(--uk-badge-bg-o, 100%),
      transparent
    );
    --uk-badge-color-computed: color-mix(
      in srgb,
      var(--uk-badge-color) var(--uk-badge-color-o, 100%),
      transparent
    );
    --uk-badge-border-computed: color-mix(
      in srgb,
      var(--uk-badge-border) var(--uk-badge-border-o),
      transparent
    );
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 1.25rem;
    min-width: 1.25rem;
    padding: 0 0.375rem;
    font-size: var(--font-size-sm);
    line-height: var(--font-size-sm--line-height);
    font-weight: 600;
    border-radius: 9999px;
    box-shadow: var(--uk-badge-shadow, --shadow-sm);
    border-width: 1px;
    border-style: solid;
    border-color: var(--uk-badge-border-computed);
    background-color: var(--uk-badge-bg-computed);
    color: var(--uk-badge-color-computed);
  }
  .uk-badge:hover {
    transition-property: background-color;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
    opacity: 80%;
  }
  .uk-badge-danger {
    --uk-badge-bg: var(--uk-danger);
    --uk-badge-bg-o: 4%;
    --uk-badge-color: var(--uk-danger);
    --uk-badge-border: var(--uk-danger);
    --uk-badge-border-o: 32%;
  }
  .uk-badge-warning {
    --uk-badge-bg: var(--uk-warning);
    --uk-badge-bg-o: 4%;
    --uk-badge-color: var(--uk-warning);
    --uk-badge-border: var(--uk-warning);
    --uk-badge-border-o: 32%;
  }
  .uk-badge-info {
    --uk-badge-bg: var(--uk-info);
    --uk-badge-bg-o: 4%;
    --uk-badge-color: var(--uk-info);
    --uk-badge-border: var(--uk-info);
    --uk-badge-border-o: 32%;
  }
  .uk-badge-success {
    --uk-badge-bg: var(--uk-success);
    --uk-badge-bg-o: 4%;
    --uk-badge-color: var(--uk-success);
    --uk-badge-border: var(--uk-success);
    --uk-badge-border-o: 32%;
  }
  .uk-breadcrumb > * {
    display: contents;
  }
  .uk-breadcrumb > * > * {
    display: inline-flex;
    align-items: center;
    color: var(--uk-muted-f);
  }
  .uk-breadcrumb > * > :hover {
    text-decoration: none;
    color: var(--uk-background-f);
    transition-property: color;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
  }
  .uk-breadcrumb > :last-child > span,
  .uk-breadcrumb > :last-child > a:not([href]) {
    font-weight: 500;
    color: var(--uk-background-f);
  }
  .uk-breadcrumb > :nth-child(n + 2):not(.uk-first-column)::before {
    content: var(--uk-breadcrumb-divider, '/');
    display: inline-block;
    margin-inline: var(--uk-breadcrumb-divider-margin-start, 0.5rem)
      var(--uk-breadcrumb-divider-margin-end, 0.75rem);
    color: var(--uk-muted-f);
  }
  .uk-breadcrumb > .uk-disabled > * {
    opacity: var(--uk-breadcrumb-disabled-opacity, 0.5);
    pointer-events: none;
  }
  .uk-button {
    --uk-button-height: 2.5rem;
    --uk-button-bg: var(--uk-bg);
    --uk-button-bg-o: 100%;
    --uk-button-color: var(--uk-bg-f);
    --uk-button-border: var(--uk-border);
    --uk-button-border-o: 10%;
    --uk-button-radius: var(--radius-md);
    --uk-button-font-weight: 500;
    --uk-button-shadow: var(--shadow-sm);
    --uk-button-hover-bg: var(--uk-accent);
    --uk-button-hover-bg-o: 4%;
    --uk-button-hover-color: var(--uk-accent-f);
    --uk-button-disabled-o: 50%;
    --uk-button-icon-size: 1rem;
    --uk-button-padding: 0.625rem 1.25rem;
    --uk-button-bg-computed: color-mix(
      in srgb,
      var(--uk-button-bg) var(--uk-button-bg-o),
      transparent
    );
    --uk-button-color-computed: color-mix(
      in srgb,
      var(--uk-button-color) 100%,
      transparent
    );
    --uk-button-border-computed: color-mix(
      in srgb,
      var(--uk-button-border) var(--uk-button-border-o),
      transparent
    );
    --uk-button-hover-bg-computed: color-mix(
      in srgb,
      var(--uk-button-hover-bg) var(--uk-button-hover-bg-o),
      transparent
    );
    --uk-button-hover-color-computed: color-mix(
      in srgb,
      var(--uk-button-hover-color) 100%,
      transparent
    );
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    box-sizing: border-box;
    width: auto;
    font-weight: var(--uk-button-font-weight);
    text-align: center;
    white-space: nowrap;
    border-radius: var(--uk-button-radius);
    box-shadow: var(--uk-button-shadow);
    border-width: 1px;
    border-style: solid;
    border-color: var(--uk-button-border-computed);
    background-color: var(--uk-button-bg-computed);
    color: var(--uk-button-color-computed);
    height: var(--uk-button-height);
    padding: var(--uk-button-padding);
    cursor: pointer;
    transition:
      background-color 150ms ease-in-out,
      color 150ms ease-in-out,
      border-color 150ms ease-in-out;
  }
  .uk-button::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  .uk-button:hover {
    background-color: var(--uk-button-hover-bg-computed);
    color: var(--uk-button-hover-color-computed);
  }
  .uk-button:disabled {
    opacity: var(--uk-button-disabled-o);
    pointer-events: none;
  }
  .uk-button svg {
    pointer-events: none;
    width: var(--uk-button-icon-size);
    height: var(--uk-button-icon-size);
    flex-shrink: 0;
  }
  .uk-button-default {
    --uk-button-bg: var(--uk-bg);
    --uk-button-bg-o: 100%;
    --uk-button-color: var(--uk-bg-f);
    --uk-button-border: var(--uk-border);
    --uk-button-border-o: 10%;
    --uk-button-hover-bg: var(--uk-accent);
    --uk-button-hover-bg-o: 100%;
    --uk-button-hover-color: var(--uk-accent-f);
  }
  .uk-button-primary {
    --uk-button-bg: var(--uk-primary);
    --uk-button-bg-o: 100%;
    --uk-button-color: var(--uk-primary-f);
    --uk-button-border: var(--uk-primary);
    --uk-button-border-o: 100%;
    --uk-button-hover-bg: var(--uk-primary);
    --uk-button-hover-bg-o: 90%;
    --uk-button-hover-color: var(--uk-primary-f);
  }
  .uk-button-secondary {
    --uk-button-bg: var(--uk-secondary);
    --uk-button-bg-o: 4%;
    --uk-button-color: var(--uk-secondary-f);
    --uk-button-border: var(--uk-secondary);
    --uk-button-border-o: 4%;
    --uk-button-hover-bg: var(--uk-secondary);
    --uk-button-hover-bg-o: 4%;
    --uk-button-hover-color: var(--uk-secondary-f);
  }
  .uk-button-danger {
    --uk-button-bg: var(--uk-danger);
    --uk-button-bg-o: 100%;
    --uk-button-color: var(--color-white);
    --uk-button-border: var(--uk-danger);
    --uk-button-border-o: 100%;
    --uk-button-hover-bg: var(--uk-danger);
    --uk-button-hover-bg-o: 90%;
    --uk-button-hover-color: var(--color-white);
  }
  .uk-button-success {
    --uk-button-bg: var(--uk-success);
    --uk-button-bg-o: 100%;
    --uk-button-color: var(--color-white);
    --uk-button-border: var(--uk-success);
    --uk-button-border-o: 100%;
    --uk-button-hover-bg: var(--uk-success);
    --uk-button-hover-bg-o: 90%;
    --uk-button-hover-color: var(--color-white);
  }
  .uk-button-warning {
    --uk-button-bg: var(--uk-warning);
    --uk-button-bg-o: 100%;
    --uk-button-color: var(--color-white);
    --uk-button-border: var(--uk-warning);
    --uk-button-border-o: 100%;
    --uk-button-hover-bg: var(--uk-warning);
    --uk-button-hover-bg-o: 90%;
    --uk-button-hover-color: var(--color-white);
  }
  .uk-button-info {
    --uk-button-bg: var(--uk-info);
    --uk-button-bg-o: 100%;
    --uk-button-color: var(--color-white);
    --uk-button-border: var(--uk-info);
    --uk-button-border-o: 100%;
    --uk-button-hover-bg: var(--uk-info);
    --uk-button-hover-bg-o: 90%;
    --uk-button-hover-color: var(--color-white);
  }
  .uk-button-outline {
    --uk-button-bg: var(--uk-primary);
    --uk-button-bg-o: 0%;
    --uk-button-color: var(--uk-primary);
    --uk-button-border: var(--uk-primary);
    --uk-button-border-o: 10%;
    --uk-button-hover-bg: var(--uk-primary);
    --uk-button-hover-bg-o: 8%;
    --uk-button-hover-color: var(--uk-primary);
  }
  .uk-button-outline.uk-button-primary {
    --uk-button-bg: var(--uk-primary);
    --uk-button-bg-o: 0%;
    --uk-button-color: var(--uk-primary);
    --uk-button-border: var(--uk-primary);
    --uk-button-border-o: 10%;
    --uk-button-hover-bg: var(--uk-primary);
    --uk-button-hover-bg-o: 8%;
    --uk-button-hover-color: var(--uk-primary);
  }
  .uk-button-outline.uk-button-secondary {
    --uk-button-bg: var(--uk-secondary);
    --uk-button-bg-o: 0%;
    --uk-button-color: var(--uk-secondary-f);
    --uk-button-border: var(--uk-secondary);
    --uk-button-border-o: 10%;
    --uk-button-hover-bg: var(--uk-secondary);
    --uk-button-hover-bg-o: 8%;
    --uk-button-hover-color: var(--uk-secondary-f);
  }
  .uk-button-outline.uk-button-danger {
    --uk-button-bg: var(--uk-danger);
    --uk-button-bg-o: 0%;
    --uk-button-color: var(--uk-danger);
    --uk-button-border: var(--uk-danger);
    --uk-button-border-o: 32%;
    --uk-button-hover-bg: var(--uk-danger);
    --uk-button-hover-bg-o: 8%;
    --uk-button-hover-color: var(--uk-danger);
  }
  .uk-button-outline.uk-button-success {
    --uk-button-bg: var(--uk-success);
    --uk-button-bg-o: 0%;
    --uk-button-color: var(--uk-success);
    --uk-button-border: var(--uk-success);
    --uk-button-border-o: 32%;
    --uk-button-hover-bg: var(--uk-success);
    --uk-button-hover-bg-o: 8%;
    --uk-button-hover-color: var(--uk-success);
  }
  .uk-button-outline.uk-button-warning {
    --uk-button-bg: var(--uk-warning);
    --uk-button-bg-o: 0%;
    --uk-button-color: var(--uk-warning);
    --uk-button-border: var(--uk-warning);
    --uk-button-border-o: 32%;
    --uk-button-hover-bg: var(--uk-warning);
    --uk-button-hover-bg-o: 8%;
    --uk-button-hover-color: var(--uk-warning);
  }
  .uk-button-outline.uk-button-info {
    --uk-button-bg: var(--uk-info);
    --uk-button-bg-o: 0%;
    --uk-button-color: var(--uk-info);
    --uk-button-border: var(--uk-info);
    --uk-button-border-o: 100%;
    --uk-button-hover-bg: var(--uk-info);
    --uk-button-hover-bg-o: 8%;
    --uk-button-hover-color: var(--uk-info);
  }
  .uk-button-ghost {
    --uk-button-bg: transparent;
    --uk-button-bg-o: 0%;
    --uk-button-border: transparent;
    --uk-button-border-o: 0%;
    --uk-button-shadow: none;
  }
  .uk-button-ghost:hover {
    --uk-button-hover-bg: var(--uk-accent);
    --uk-button-hover-bg-o: 4%;
    --uk-button-hover-color: var(--uk-accent-f);
  }
  .uk-button-text {
    --uk-button-bg: transparent;
    --uk-button-bg-o: 0%;
    --uk-button-border: transparent;
    --uk-button-border-o: 0%;
    --uk-button-radius: 0;
    --uk-button-shadow: none;
    position: relative;
    padding: 0;
    height: auto;
  }
  .uk-button-text:hover {
    --uk-button-hover-bg: transparent;
    --uk-button-hover-bg-o: 0%;
  }
  .uk-button-text::before {
    content: '';
    position: absolute;
    inset-block-end: 0;
    inset-inline-start: 0;
    inset-inline-end: 100%;
    border-block-end: 1px solid currentColor;
    transition: inset-inline-end 0.3s ease-out;
  }
  .uk-button-text:hover::before {
    inset-inline-end: 0;
  }
  .uk-button-text:disabled::before {
    display: none;
  }
  .uk-button-icon {
    aspect-ratio: 1;
    padding: 0;
  }
  .uk-button-group {
    display: inline-flex;
    position: relative;
    box-shadow: var(--uk-button-shadow);
    border-radius: var(--uk-button-radius);
  }
  .uk-button-group .uk-button {
    border-radius: 0;
    box-shadow: none;
  }
  .uk-button-group > .uk-button:not(:first-child) {
    margin-inline-start: -1px;
  }
  .uk-button-group > .uk-button:first-child {
    border-start-start-radius: var(--uk-button-radius);
    border-end-start-radius: var(--uk-button-radius);
  }
  .uk-button-group > .uk-button:last-child,
  .uk-button-group > .uk-inline:last-child > .uk-button {
    border-start-end-radius: var(--uk-button-radius);
    border-end-end-radius: var(--uk-button-radius);
  }
  .uk-button-group .uk-button:hover,
  .uk-button-group .uk-button:focus,
  .uk-button-group .uk-button:active,
  .uk-button-group .uk-button.uk-active {
    position: relative;
    z-index: 1;
  }
  .uk-button-group .uk-button:hover + .uk-button,
  .uk-button-group .uk-button:focus + .uk-button,
  .uk-button-group .uk-button:active + .uk-button,
  .uk-button-group .uk-button.uk-active + .uk-button {
    border-inline-start-color: transparent;
  }
  .uk-button-group .uk-button:has(+ .uk-button:hover),
  .uk-button-group .uk-button:has(+ .uk-button:focus),
  .uk-button-group .uk-button:has(+ .uk-button:active),
  .uk-button-group .uk-button:has(+ .uk-button.uk-active) {
    border-inline-end-color: transparent;
  }
  .uk-button-xs {
    height: 1.75rem;
    padding: 0.375rem 0.75rem;
    font-size: var(--font-size-xs);
    line-height: var(--font-size-xs--line-height);
  }
  .uk-button-sm {
    height: 2rem;
    padding: 0.5rem 1rem;
    font-size: var(--font-size-sm);
    line-height: var(--font-size-sm--line-height);
  }
  .uk-button-md {
    height: 3rem;
    padding: 0.75rem 1.5rem;
    font-size: var(--uk-texts);
    line-height: var(--font-size--line-height);
  }
  .uk-button-lg {
    height: 3.5rem;
    padding: 0.875rem 1.75rem;
    font-size: var(--uk-texts);
    line-height: var(--font-size--line-height);
  }
  .uk-nav {
    --uk-nav-item-padding: 0.25rem 0.5rem;
    --uk-nav-item-margin: 0;
    --uk-nav-sub-item-padding: 0.25rem 0.5rem;
    --uk-nav-sub-item-margin: 0;
    --uk-nav-sub-border-w: 1px;
    --uk-nav-radius: var(--radius-md);
  }
  .uk-nav-alt {
    --uk-nav-item-padding: 0.5rem 1rem;
    --uk-nav-item-margin: 0.25rem;
    --uk-nav-sub-item-padding: 0.5rem 1rem;
    --uk-nav-sub-item-margin: 0 0.5rem;
    --uk-nav-item-active-font-weight: 400;
  }
  .uk-nav-default {
    --uk-nav-item-color: var(--uk-muted-f);
    --uk-nav-item-color-o: 100%;
    --uk-nav-item-hover-color: var(--uk-muted-f);
    --uk-nav-item-hover-color-o: 100%;
  }
  .uk-nav-default > li.uk-active {
    --uk-nav-item-font-weight: 500;
    --uk-nav-item-color: var(--uk-bg-f);
    --uk-nav-item-color-o: 100%;
  }
  .uk-nav-primary > li.uk-active {
    --uk-nav-item-bg: var(--uk-primary);
    --uk-nav-item-bg-o: 100%;
    --uk-nav-item-color: var(--uk-primary-f);
    --uk-nav-item-color-o: 100%;
  }
  .uk-nav-primary > li > a:hover {
    --uk-nav-item-hover-bg: var(--uk-accent);
    --uk-nav-item-hover-bg-o: 4%;
    --uk-nav-item-hover-color: var(--uk-accent-f);
    --uk-nav-item-hover-color-o: 100%;
  }
  .uk-nav-primary .uk-nav-sub li > a:hover {
    --uk-nav-item-hover-bg: var(--uk-accent);
    --uk-nav-item-hover-bg-o: 4%;
    --uk-nav-item-hover-color: var(--uk-accent-f);
    --uk-nav-item-hover-color-o: 100%;
  }
  .uk-nav-header {
    font-weight: 600;
    margin: var(--uk-nav-item-margin);
    padding: var(--uk-nav-item-padding);
  }
  .uk-nav-divider {
    --uk-nav-divider-color: var(--uk-border);
    --uk-nav-divider-color-o: 10%;
    --uk-nav-divider-color-computed: color-mix(
      in srgb,
      var(--uk-nav-divider-color) var(--uk-nav-divider-color-o),
      transparent
    );
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: var(--uk-nav-divider-color-computed);
  }
  ul.uk-nav-sub > :not([hidden]) ~ :not([hidden]) {
    margin-top: 0.25rem;
    margin-bottom: 0;
  }
  .uk-nav-sub ul > :not([hidden]) ~ :not([hidden]) {
    margin-top: 0.25rem;
    margin-bottom: 0;
  }
  .uk-nav-sub,
  .uk-nav-sub ul {
    --uk-nav-sub-border: var(--uk-border);
    --uk-nav-sub-border-o: 10%;
    --uk-nav-sub-border-computed: color-mix(
      in srgb,
      var(--uk-nav-sub-border) var(--uk-nav-sub-border-o),
      transparent
    );
    border-inline-start-width: var(--uk-nav-sub-border-w);
    border-color: var(--uk-nav-sub-border-computed);
    border-inline-start-color: var(--uk-nav-sub-border-computed);
  }
  .uk-nav-sub {
    --uk-nav-sub-active-bg: var(--uk-primary);
    --uk-nav-sub-active-bg-o: 100%;
    --uk-nav-sub-active-bg-computed: color-mix(
      in srgb,
      var(--uk-nav-sub-active-bg) var(--uk-nav-sub-active-bg-o),
      transparent
    );
    margin-inline-start: 1.25rem;
  }
  .uk-nav-sub ul {
    margin-inline-start: 1.25rem;
    margin-top: 0.25rem;
  }
  .uk-nav-sub li {
    position: relative;
  }
  .uk-nav-sub li::before {
    content: '';
    position: absolute;
    inset-inline-start: calc(var(--uk-nav-sub-border-w) * -1);
    bottom: 0px;
    top: 0px;
    width: var(--uk-nav-sub-border-w);
  }
  .uk-nav-sub li.uk-active::before {
    background-color: var(--uk-nav-sub-active-bg-computed);
  }
  .uk-nav-parent-icon {
    margin-inline-start: auto;
    transition: transform 0.3s ease-out;
  }
  .uk-nav > li.uk-open > a .uk-nav-parent-icon {
    transform: rotate(180deg);
  }
  .uk-nav a {
    border-radius: var(--uk-nav-radius);
  }
  .uk-nav li > a {
    display: flex;
    align-items: center;
  }
  .uk-nav > li > a {
    --uk-nav-item-bg-computed: color-mix(
      in srgb,
      var(--uk-nav-item-bg, transparent) var(--uk-nav-item-bg-o, 0%),
      transparent
    );
    --uk-nav-item-color-computed: color-mix(
      in srgb,
      var(--uk-nav-item-color, var(--uk-bg-f)) var(--uk-nav-item-color-o, 100%),
      transparent
    );
    background-color: var(--uk-nav-item-bg-computed);
    color: var(--uk-nav-item-color-computed);
    padding: var(--uk-nav-item-padding);
    margin: var(--uk-nav-item-margin);
  }
  .uk-nav > li.uk-active > a {
    font-weight: var(--uk-nav-item-active-font-weight, 500);
  }
  .uk-nav li:not(.uk-active) > a:hover {
    --uk-nav-item-hover-bg-computed: color-mix(
      in srgb,
      var(--uk-nav-item-hover-bg, transparent) var(--uk-nav-item-hover-bg-o, 0%),
      transparent
    );
    --uk-nav-item-hover-color-computed: color-mix(
      in srgb,
      var(--uk-nav-item-hover-color, var(--uk-bg-f))
        var(--uk-nav-item-hover-color-o, 100%),
      transparent
    );
    background-color: var(--uk-nav-item-hover-bg-computed);
    color: var(--uk-nav-item-hover-color-computed);
    text-decoration: none;
    transition-property: background-color, color;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
  }
  .uk-nav-sub a {
    padding: var(--uk-nav-sub-item-padding);
    margin: var(--uk-nav-sub-item-margin);
  }
  .uk-subnav {
    display: flex;
    align-items: center;
  }
  .uk-subnav > * > :first-child {
    --uk-subnav-item-color: var(--uk-muted-f);
    --uk-subnav-item-color-o: 100%;
    --uk-subnav-item-hover-color: var(--uk-primary);
    --uk-subnav-item-hover-color-o: 100%;
    --uk-subnav-item-color-computed: color-mix(
      in srgb,
      var(--uk-subnav-item-color) var(--uk-subnav-item-color-o),
      transparent
    );
    --uk-subnav-item-hover-color-computed: color-mix(
      in srgb,
      var(--uk-subnav-item-hover-color) var(--uk-subnav-item-hover-color-o),
      transparent
    );
    transition: 0.1s ease-in-out;
    transition-property: color, background-color;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    padding-inline: 1rem;
    text-align: center;
    font-weight: 500;
    color: var(--uk-subnav-item-color-computed);
  }
  .uk-subnav > * > a:hover {
    color: var(--uk-subnav-item-hover-color-computed);
  }
  .uk-subnav > .uk-active > a {
    --uk-subnav-item-active-bg-computed: color-mix(
      in srgb,
      var(--uk-subnav-item-active-background, transparent)
        var(--uk-subnav-item-active-background-o, 0%),
      transparent
    );
    --uk-subnav-item-active-color-computed: color-mix(
      in srgb,
      var(--uk-subnav-item-active-color, var(--uk-bg-f))
        var(--uk-subnav-item-active-color-o, 100%),
      transparent
    );
    background-color: var(--uk-subnav-item-active-bg-computed);
    color: var(--uk-subnav-item-active-color-computed);
  }
  .uk-subnav > .uk-active > a:hover {
    --uk-subnav-item-active-hover-bg-computed: color-mix(
      in srgb,
      var(--uk-subnav-item-active-hover-background, transparent)
        var(--uk-subnav-item-active-hover-background-o, 0%),
      transparent
    );
    --uk-subnav-item-active-hover-color-computed: color-mix(
      in srgb,
      var(--uk-subnav-item-active-hover-color, var(--uk-bg-f))
        var(--uk-subnav-item-active-hover-color-o, 100%),
      transparent
    );
    background-color: var(--uk-subnav-item-active-hover-bg-computed);
    color: var(--uk-subnav-item-active-hover-color-computed);
  }
  .uk-subnav-primary {
    --uk-subnav-item-active-background: var(--uk-primary);
    --uk-subnav-item-active-background-o: 100%;
    --uk-subnav-item-active-color: var(--uk-primary-f);
    --uk-subnav-item-active-color-o: 100%;
    --uk-subnav-item-active-hover-background: var(--uk-primary);
    --uk-subnav-item-active-hover-background-o: 80%;
    --uk-subnav-item-active-hover-color: var(--uk-primary-f);
    --uk-subnav-item-active-hover-color-o: 100%;
  }
}
