@layer theme {
  :root,
  :host {
    /* Background */
    --uk-bg: var(--color-white);
    --uk-bg-f: var(--color-zinc-900);

    /* Card */
    --uk-card: var(--color-white);
    --uk-card-f: var(--color-zinc-900);

    /* Popover/Dropdown */
    --uk-drop: var(--color-white);
    --uk-drop-f: var(--color-zinc-900);

    /* Primary */
    --uk-primary: var(--color-zinc-800);
    --uk-primary-f: var(--color-zinc-50);

    /* Secondary */
    --uk-secondary: var(--color-black);
    --uk-secondary-o: 4%;
    --uk-secondary-f: var(--color-zinc-900);

    /* Muted */
    --uk-muted: var(--color-black);
    --uk-muted-o: 4%;
    --uk-muted-f: var(--color-zinc-600);

    /* Accent */
    --uk-accent: var(--color-black);
    --uk-accent-o: 4%;
    --uk-accent-f: var(--color-zinc-900);

    /* Destructive/Danger */
    --uk-danger: var(--color-red-500);
    --uk-danger-f: var(--color-red-700);

    /* Info */
    --uk-info: var(--color-blue-500);
    --uk-info-f: var(--color-blue-700);

    /* Success */
    --uk-success: var(--color-emerald-500);
    --uk-success-f: var(--color-emerald-700);

    /* Warning */
    --uk-warning: var(--color-amber-500);
    --uk-warning-f: var(--color-amber-700);

    /* Border & Input */
    --uk-border: var(--color-black);
    --uk-border-o: 10%;
    --uk-input: var(--color-black);
    --uk-input-o: 10%;

    /* Focus Ring */
    --uk-focus: var(--color-zinc-400);

    /* Charts */
    --uk-chart-1: var(--color-orange-600);
    --uk-chart-2: var(--color-teal-600);
    --uk-chart-3: var(--color-cyan-900);
    --uk-chart-4: var(--color-amber-400);
    --uk-chart-5: var(--color-amber-500);
  }

  .aside {
    /* Sidebar Background */
    --uk-bg: var(--color-white);
    --uk-bg-f: var(--color-zinc-900);

    /* Sidebar Primary */
    --uk-primary: var(--color-zinc-800);
    --uk-primary-f: var(--color-zinc-50);

    /* Sidebar Accent */
    --uk-accent: var(--color-black);
    --uk-accent-o: 4%;
    --uk-accent-f: var(--color-zinc-900);

    /* Sidebar Border */
    --uk-border: var(--color-black);
    --uk-border-o: 10%;

    /* Sidebar Focus */
    --uk-focus: var(--color-zinc-400);
  }

  .dark {
    /* Background */
    --uk-bg: var(--color-zinc-950);
    --uk-bg-f: var(--color-zinc-100);

    /* Card */
    --uk-card: #151518;
    --uk-card-f: var(--color-zinc-100);

    /* Popover/Dropdown */
    --uk-drop: var(--color-zinc-900);
    --uk-drop-f: var(--color-zinc-100);

    /* Primary */
    --uk-primary: var(--color-zinc-100);
    --uk-primary-f: var(--color-zinc-900);

    /* Secondary */
    --uk-secondary: var(--color-white);
    --uk-secondary-o: 8%;
    --uk-secondary-f: var(--color-zinc-100);

    /* Muted */
    --uk-muted: var(--color-white);
    --uk-muted-o: 8%;
    --uk-muted-f: var(--color-zinc-400);

    /* Accent */
    --uk-accent: var(--color-white);
    --uk-accent-o: 8%;
    --uk-accent-f: var(--color-zinc-100);

    /* Destructive/Danger */
    --uk-danger: var(--color-red-500);
    --uk-danger-f: var(--color-red-400);

    /* Info */
    --uk-info: var(--color-blue-500);
    --uk-info-f: var(--color-blue-400);

    /* Success */
    --uk-success: var(--color-emerald-500);
    --uk-success-f: var(--color-emerald-400);

    /* Warning */
    --uk-warning: var(--color-amber-500);
    --uk-warning-f: var(--color-amber-400);

    /* Border & Input */
    --uk-border: var(--color-white);
    --uk-border-o: 12%;
    --uk-input: var(--color-white);
    --uk-input-o: 12%;

    /* Focus Ring */
    --uk-focus: var(--color-zinc-500);

    /* Charts */
    --uk-chart-1: var(--color-blue-700);
    --uk-chart-2: var(--color-emerald-500);
    --uk-chart-3: var(--color-amber-500);
    --uk-chart-4: var(--color-purple-500);
    --uk-chart-5: var(--color-rose-500);
  }

  .dark .aside {
    /* Sidebar Background */
    --uk-bg: #0e0e10;
    --uk-bg-f: var(--color-zinc-100);

    /* Sidebar Primary */
    --uk-primary: var(--color-zinc-100);
    --uk-primary-f: var(--color-zinc-900);

    /* Sidebar Accent */
    --uk-accent: var(--color-white);
    --uk-accent-o: 8%;
    --uk-accent-f: var(--color-zinc-100);

    /* Sidebar Border */
    --uk-border: var(--color-white);
    --uk-border-o: 12%;

    /* Sidebar Focus */
    --uk-focus: var(--color-zinc-400);
  }
}

@layer base {
  [class*='uk-animation-'] {
    animation: 0.5s ease-out both;
  }

  body {
    font-size: var(--uk-texts);
    line-height: var(--uk-texts--line-height);
  }

  .uk-accordion-title:focus-visible,
  .uk-alert-close:focus-visible,
  .uk-alert a:not([class]):focus-visible,
  .uk-badge:focus-visible,
  .uk-breadcrumb > * > *:focus-visible,
  .uk-button:focus-visible,
  .uk-cal table tbody tr td button:focus-visible,
  .uk-close:focus-visible,
  .uk-input-range-knob:focus-visible,
  .uk-toggle-switch:focus-visible,
  a.uk-link-muted:focus-visible,
  .uk-link-muted a:focus-visible,
  .uk-link-toggle:focus-visible .uk-link-muted:focus-visible,
  a.uk-link-reset:focus-visible,
  .uk-link-reset a:focus-visible,
  .uk-link-toggle:focus-visible,
  .uk-link:focus-visible,
  .uk-nav li > a:focus-visible,
  .uk-slidenav:focus-visible,
  .uk-tab > * > a:focus-visible,
  .uk-tab-alt > * > a:focus-visible,
  .uk-ts-value button:focus-visible,
  .uk-lightbox :focus-visible,
  .uk-subnav > * > a:focus-visible,
  .uk-focus-visible:focus-visible,
  .uk-pagination > * > *:focus-visible {
    outline: 2px dotted var(--uk-focus);
  }
}

@layer utilities {
  /* Overflow Utilities */
  .uk-overflow-hidden {
    overflow: hidden;
  }

  .uk-overflow-auto {
    overflow: auto;
  }

  /* Resize Utilities */
  .uk-resize {
    resize: both;
  }

  .uk-resize-horizontal {
    resize: horizontal;
  }

  .uk-resize-vertical {
    resize: vertical;
  }

  /* Inline Utilities */
  [class*='uk-inline'] {
    display: inline-block;
    position: relative;
    max-width: 100%;
    vertical-align: middle;
    -webkit-backface-visibility: hidden;
  }

  .uk-inline-clip {
    overflow: hidden;
  }

  /* Preserve Width */
  .uk-preserve-width,
  .uk-preserve-width canvas,
  .uk-preserve-width img,
  .uk-preserve-width svg,
  .uk-preserve-width video {
    max-width: none;
  }

  /* Responsive Utilities */
  .uk-responsive-width,
  .uk-responsive-height {
    box-sizing: border-box;
  }

  .uk-responsive-width {
    max-width: 100% !important;
    height: auto;
  }

  .uk-responsive-height {
    max-height: 100%;
    width: auto;
    max-width: none;
  }

  [uk-responsive],
  [data-uk-responsive] {
    max-width: 100%;
  }

  .uk-inline-clip[class*='uk-border-'] {
    -webkit-transform: translateZ(0);
  }

  /* Dropcap */
  .uk-dropcap::first-letter,
  .uk-dropcap > p:first-of-type::first-letter {
    /* Base Variables */
    --uk-dropcap-font-size: 4.5em;
    --uk-dropcap-line-height: 1;
    --uk-dropcap-margin-inline-end: 10px;
    --uk-dropcap-margin-block-end: -2px;

    display: block;
    margin-inline-end: var(--uk-dropcap-margin-inline-end);
    float: inline-start;
    font-size: var(--uk-dropcap-font-size);
    line-height: var(--uk-dropcap-line-height);
    margin-block-end: var(--uk-dropcap-margin-block-end);
  }

  @-moz-document url-prefix() {
    .uk-dropcap::first-letter,
    .uk-dropcap > p:first-of-type::first-letter {
      /* Base Variables */
      --uk-dropcap-moz-margin-block-start: 1.1%;

      margin-block-start: var(--uk-dropcap-moz-margin-block-start);
    }
  }

  /* Disabled */
  .uk-disabled {
    pointer-events: none;
  }

  /* Transform Utilities */
  .uk-transform-center {
    transform: translate(-50%, -50%);
  }

  .uk-transform-origin-top-left {
    transform-origin: 0 0;
  }

  .uk-transform-origin-top-center {
    transform-origin: 50% 0;
  }

  .uk-transform-origin-top-right {
    transform-origin: 100% 0;
  }

  .uk-transform-origin-center-left {
    transform-origin: 0 50%;
  }

  .uk-transform-origin-center-right {
    transform-origin: 100% 50%;
  }

  .uk-transform-origin-bottom-left {
    transform-origin: 0 100%;
  }

  .uk-transform-origin-bottom-center {
    transform-origin: 50% 100%;
  }

  .uk-transform-origin-bottom-right {
    transform-origin: 100% 100%;
  }

  /* Text Alignment */
  .uk-text-right {
    text-align: end;
  }

  .uk-text-center {
    text-align: center;
  }

  /* Text Break */
  .uk-text-break {
    overflow-wrap: break-word;
  }

  /* Border Radius */
  .uk-rounded {
    border-radius: var(--radius-md);
  }

  .uk-rounded-sm {
    border-radius: var(--radius-sm);
  }

  /* Box Shadow */
  .uk-shadow {
    box-shadow: var(--shadow-xs);
  }

  .uk-shadow-sm {
    box-shadow: var(--shadow-sm);
  }

  /* Text Sizes */
  .uk-text-sm {
    font-size: 0.75rem;
    line-height: 1rem;
  }

  .uk-text-base {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  /* Flex Utilities */
  .uk-flex {
    display: flex !important;
  }

  .uk-flex-top {
    align-items: flex-start;
  }

  .uk-flex-wrap-top {
    align-content: flex-start;
  }

  /* Margin Auto */
  .uk-margin-auto-vertical {
    margin-block-start: auto !important;
    margin-block-end: auto !important;
  }

  /* Text Truncate */
  .uk-text-truncate {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  th.uk-text-truncate,
  td.uk-text-truncate {
    max-width: 0;
  }

  th.uk-text-break,
  td.uk-text-break {
    word-break: break-word;
  }
}
