/* Why values are hard-coded? It's because Kit must be independent to the core and can be paired with any utility-first libraries. */
@layer theme {
  :root,
  :host {
    /* Background */
    --uk-bg: #fff;
    --uk-bg-f: oklch(21% 0.006 285.885);

    /* Card */
    --uk-card: #fff;
    --uk-card-f: oklch(21% 0.006 285.885);

    /* Popover/Dropdown */
    --uk-drop: #fff;
    --uk-drop-f: oklch(21% 0.006 285.885);

    /* Primary */
    --uk-primary: oklch(27.4% 0.006 286.033);
    --uk-primary-f: oklch(98.5% 0 0);

    /* Secondary */
    --uk-secondary: #000;
    --uk-secondary-o: 4%;
    --uk-secondary-f: oklch(21% 0.006 285.885);

    /* Muted */
    --uk-muted: #000;
    --uk-muted-o: 4%;
    --uk-muted-f: oklch(44.2% 0.017 285.786);

    /* Accent */
    --uk-accent: #000;
    --uk-accent-o: 4%;
    --uk-accent-f: oklch(21% 0.006 285.885);

    /* Destructive/Danger */
    --uk-danger: oklch(63.7% 0.237 25.331);
    --uk-danger-f: oklch(50.5% 0.213 27.518);

    /* Info */
    --uk-info: oklch(62.3% 0.214 259.815);
    --uk-info-f: oklch(48.8% 0.243 264.376);

    /* Success */
    --uk-success: oklch(69.6% 0.17 162.48);
    --uk-success-f: oklch(50.8% 0.118 165.612);

    /* Warning */
    --uk-warning: oklch(76.9% 0.188 70.08);
    --uk-warning-f: oklch(55.5% 0.163 48.998);

    /* Border & Input */
    --uk-border: #000;
    --uk-border-o: 10%;
    --uk-input: #000;
    --uk-input-o: 10%;

    /* Focus Ring */
    --uk-focus: oklch(70.5% 0.015 286.067);

    /* Charts */
    --uk-chart-1: oklch(64.6% 0.222 41.116);
    --uk-chart-2: oklch(60% 0.118 184.704);
    --uk-chart-3: oklch(30.2% 0.056 229.695);
    --uk-chart-4: oklch(82.8% 0.189 84.429);
    --uk-chart-5: oklch(76.9% 0.188 70.08);

    --uk-global-blur: 4px;

    --uk-global-font-size: 1rem;
    --uk-global-line-height: 1.5rem;

    --uk-global-font-size-small: 0.875rem;
    --uk-global-line-height-small: 1.25rem;

    --uk-global-radius: 0.375rem;
    --uk-global-radius-small: 0.125rem;

    --uk-global-shadow:
      0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --uk-global-shadow-small: 0 1px 2px 0 rgb(0 0 0 / 0.05);

    --uk-global-font-family-sans:
      Geist Sans, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
      'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --uk-global-font-family-mono:
      Geist Mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
      'Liberation Mono', 'Courier New';

    /* ============================================
     Interactive Components Base Scale
     Shared by buttons, forms, pagination, etc.
     ============================================ */
    --uk-interactive-height-multiplier: 2.5;
    --uk-interactive-padding-block-multiplier: 0.625;
    --uk-interactive-padding-inline-multiplier: 1.25;
  }

  .aside {
    /* Sidebar Background */
    --uk-bg: #fff;
    --uk-bg-f: oklch(21% 0.006 285.885);

    /* Sidebar Primary */
    --uk-primary: oklch(27.4% 0.006 286.033);
    --uk-primary-f: oklch(98.5% 0 0);

    /* Sidebar Accent */
    --uk-accent: #000;
    --uk-accent-o: 4%;
    --uk-accent-f: oklch(21% 0.006 285.885);

    /* Sidebar Border */
    --uk-border: #000;
    --uk-border-o: 10%;

    /* Sidebar Focus */
    --uk-focus: oklch(70.5% 0.015 286.067);
  }

  .dark {
    /* Background */
    --uk-bg: oklch(14.1% 0.005 285.823);
    --uk-bg-f: oklch(96.7% 0.001 286.375);

    /* Card */
    --uk-card: #151518;
    --uk-card-f: oklch(96.7% 0.001 286.375);

    /* Popover/Dropdown */
    --uk-drop: oklch(21% 0.006 285.885);
    --uk-drop-f: oklch(96.7% 0.001 286.375);

    /* Primary */
    --uk-primary: oklch(96.7% 0.001 286.375);
    --uk-primary-f: oklch(21% 0.006 285.885);

    /* Secondary */
    --uk-secondary: #fff;
    --uk-secondary-o: 8%;
    --uk-secondary-f: oklch(96.7% 0.001 286.375);

    /* Muted */
    --uk-muted: #fff;
    --uk-muted-o: 8%;
    --uk-muted-f: oklch(70.5% 0.015 286.067);

    /* Accent */
    --uk-accent: #fff;
    --uk-accent-o: 8%;
    --uk-accent-f: oklch(96.7% 0.001 286.375);

    /* Destructive/Danger */
    --uk-danger: oklch(63.7% 0.237 25.331);
    --uk-danger-f: oklch(70.4% 0.191 22.216);

    /* Info */
    --uk-info: oklch(62.3% 0.214 259.815);
    --uk-info-f: oklch(70.7% 0.165 254.624);

    /* Success */
    --uk-success: oklch(69.6% 0.17 162.48);
    --uk-success-f: oklch(76.5% 0.177 163.223);

    /* Warning */
    --uk-warning: oklch(76.9% 0.188 70.08);
    --uk-warning-f: oklch(82.8% 0.189 84.429);

    /* Border & Input */
    --uk-border: #fff;
    --uk-border-o: 12%;
    --uk-input: #fff;
    --uk-input-o: 12%;

    /* Focus Ring */
    --uk-focus: oklch(55.2% 0.016 285.938);

    /* Charts */
    --uk-chart-1: oklch(48.8% 0.243 264.376);
    --uk-chart-2: oklch(69.6% 0.17 162.48);
    --uk-chart-3: oklch(76.9% 0.188 70.08);
    --uk-chart-4: oklch(62.7% 0.265 303.9);
    --uk-chart-5: oklch(59.2% 0.249 0.584);
  }

  .dark .aside {
    /* Sidebar Background */
    --uk-bg: #0e0e10;
    --uk-bg-f: oklch(96.7% 0.001 286.375);

    /* Sidebar Primary */
    --uk-primary: oklch(96.7% 0.001 286.375);
    --uk-primary-f: oklch(21% 0.006 285.885);

    /* Sidebar Accent */
    --uk-accent: #fff;
    --uk-accent-o: 8%;
    --uk-accent-f: oklch(96.7% 0.001 286.375);

    /* Sidebar Border */
    --uk-border: #fff;
    --uk-border-o: 12%;

    /* Sidebar Focus */
    --uk-focus: oklch(70.5% 0.015 286.067);
  }
}

@layer base {
  [class*='uk-animation-'] {
    animation: 0.5s ease-out both;
  }

  body {
    font-size: var(--uk-global-font-size);
    line-height: var(--uk-global-line-height);
  }

  .uk-accordion-title:focus-visible,
  .uk-alert-close:focus-visible,
  .uk-alert a:not([class]):focus-visible,
  .uk-badge:focus-visible,
  .uk-breadcrumb > * > *:focus-visible,
  .uk-button:focus-visible,
  .uk-cal table tbody tr td button:focus-visible,
  .uk-close:focus-visible,
  .uk-input-range-knob:focus-visible,
  .uk-toggle-switch:focus-visible,
  a.uk-link-muted:focus-visible,
  .uk-link-muted a:focus-visible,
  .uk-link-toggle:focus-visible .uk-link-muted:focus-visible,
  a.uk-link-reset:focus-visible,
  .uk-link-reset a:focus-visible,
  .uk-link-toggle:focus-visible,
  .uk-link:focus-visible,
  .uk-nav li > a:focus-visible,
  .uk-slidenav:focus-visible,
  .uk-tab > * > a:focus-visible,
  .uk-tab-alt > * > a:focus-visible,
  .uk-ts-value button:focus-visible,
  .uk-lightbox :focus-visible,
  .uk-subnav > * > a:focus-visible,
  .uk-focus-visible:focus-visible,
  .uk-pagination > * > *:focus-visible {
    outline: 2px dotted var(--uk-focus);
  }

  .sr-only {
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    overflow: hidden;
  }
}

@layer utilities {
  /* Overflow Utilities */
  .uk-overflow-hidden {
    overflow: hidden;
  }

  .uk-overflow-auto {
    overflow: auto;
  }

  /* Resize Utilities */
  .uk-resize {
    resize: both;
  }

  .uk-resize-horizontal {
    resize: horizontal;
  }

  .uk-resize-vertical {
    resize: vertical;
  }

  /* Inline Utilities */
  [class*='uk-inline'] {
    display: inline-block;
    position: relative;
    max-width: 100%;
    vertical-align: middle;
    -webkit-backface-visibility: hidden;
  }

  .uk-inline-clip {
    overflow: hidden;
  }

  /* Preserve Width */
  .uk-preserve-width,
  .uk-preserve-width canvas,
  .uk-preserve-width img,
  .uk-preserve-width svg,
  .uk-preserve-width video {
    max-width: none;
  }

  /* Responsive Utilities */
  .uk-responsive-width,
  .uk-responsive-height {
    box-sizing: border-box;
  }

  .uk-responsive-width {
    max-width: 100% !important;
    height: auto;
  }

  .uk-responsive-height {
    max-height: 100%;
    width: auto;
    max-width: none;
  }

  [uk-responsive],
  [data-uk-responsive] {
    max-width: 100%;
  }

  .uk-inline-clip[class*='uk-border-'] {
    -webkit-transform: translateZ(0);
  }

  /* Dropcap */
  .uk-dropcap::first-letter,
  .uk-dropcap > p:first-of-type::first-letter {
    /* Base Variables */
    --uk-dropcap-font-size: 4.5em;
    --uk-dropcap-line-height: 1;
    --uk-dropcap-margin-inline-end: 10px;
    --uk-dropcap-margin-block-end: -2px;

    display: block;
    margin-inline-end: var(--uk-dropcap-margin-inline-end);
    float: inline-start;
    font-size: var(--uk-dropcap-font-size);
    line-height: var(--uk-dropcap-line-height);
    margin-block-end: var(--uk-dropcap-margin-block-end);
  }

  @-moz-document url-prefix() {
    .uk-dropcap::first-letter,
    .uk-dropcap > p:first-of-type::first-letter {
      /* Base Variables */
      --uk-dropcap-moz-margin-block-start: 1.1%;

      margin-block-start: var(--uk-dropcap-moz-margin-block-start);
    }
  }

  /* Disabled */
  .uk-disabled {
    pointer-events: none;
    opacity: var(--uk-disabled-opacity, 0.5);
  }

  /* Transform Utilities */
  .uk-transform-center {
    transform: translate(-50%, -50%);
  }

  .uk-transform-origin-top-left {
    transform-origin: 0 0;
  }

  .uk-transform-origin-top-center {
    transform-origin: 50% 0;
  }

  .uk-transform-origin-top-right {
    transform-origin: 100% 0;
  }

  .uk-transform-origin-center-left {
    transform-origin: 0 50%;
  }

  .uk-transform-origin-center-right {
    transform-origin: 100% 50%;
  }

  .uk-transform-origin-bottom-left {
    transform-origin: 0 100%;
  }

  .uk-transform-origin-bottom-center {
    transform-origin: 50% 100%;
  }

  .uk-transform-origin-bottom-right {
    transform-origin: 100% 100%;
  }

  /* Text Alignment */
  .uk-text-right {
    text-align: end;
  }

  .uk-text-center {
    text-align: center;
  }

  /* Text Break */
  .uk-text-break {
    overflow-wrap: break-word;
  }

  /* Border Radius */
  .uk-rounded {
    border-radius: 0.375rem;
  }

  .uk-rounded-sm {
    border-radius: 0.125rem;
  }

  /* Box Shadow */
  .uk-shadow {
    box-shadow: 0 1px 2px 0 #0000000d;
  }

  .uk-shadow-sm {
    box-shadow:
      0 1px 3px 0 #0000001a,
      0 1px 2px -1px #0000001a;
  }

  /* Text Sizes */
  .uk-text-sm {
    font-size: 0.75rem;
    line-height: 1rem;
  }

  .uk-text-base {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  /* Flex Utilities */
  .uk-flex {
    display: flex !important;
  }

  .uk-flex-top {
    align-items: flex-start;
  }

  .uk-flex-wrap-top {
    align-content: flex-start;
  }

  /* Margin Auto */
  .uk-margin-auto-vertical {
    margin-block-start: auto !important;
    margin-block-end: auto !important;
  }

  /* Text Truncate */
  .uk-text-truncate {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  th.uk-text-truncate,
  td.uk-text-truncate {
    max-width: 0;
  }

  th.uk-text-break,
  td.uk-text-break {
    word-break: break-word;
  }

  /* ============================================
     Typography Scale Utilities
     ============================================ */

  .uk-layout-small {
    --uk-global-font-size: 0.875rem;
    --uk-global-line-height: 1.25rem;

    --uk-global-font-size-small: 0.75rem;
    --uk-global-line-height-small: 1rem;
  }

  .uk-layout-medium {
    --uk-global-font-size: 1.125rem;
    --uk-global-line-height: 1.75rem;

    --uk-global-font-size-small: 1rem;
    --uk-global-line-height-small: 1.5rem;
  }
}
