@layer theme {
  :root,
  :host {
    --fr-radii: 0.375rem;
    --fr-radii-sm: 0.125rem;

    /* Background */
    --fr-bg: var(--color-white);
    --fr-bg-f: var(--color-zinc-900);

    /* Card */
    --fr-card: var(--color-white);
    --fr-card-f: var(--color-zinc-900);

    /* Popover/Dropdown */
    --fr-drop: var(--color-white);
    --fr-drop-f: var(--color-zinc-900);

    /* Primary */
    --fr-primary: var(--color-zinc-800);
    --fr-primary-f: var(--color-zinc-50);

    /* Secondary */
    --fr-secondary: var(--color-black);
    --fr-secondary-o: 4%;
    --fr-secondary-f: var(--color-zinc-900);

    /* Muted */
    --fr-muted: var(--color-black);
    --fr-muted-o: 4%;
    --fr-muted-f: var(--color-zinc-600);

    /* Accent */
    --fr-accent: var(--color-black);
    --fr-accent-o: 4%;
    --fr-accent-f: var(--color-zinc-900);

    /* Destructive/Danger */
    --fr-danger: var(--color-red-500);
    --fr-danger-f: var(--color-red-700);

    /* Info */
    --fr-info: var(--color-blue-500);
    --fr-info-f: var(--color-blue-700);

    /* Success */
    --fr-success: var(--color-emerald-500);
    --fr-success-f: var(--color-emerald-700);

    /* Warning */
    --fr-warning: var(--color-amber-500);
    --fr-warning-f: var(--color-amber-700);

    /* Border & Input */
    --fr-border: var(--color-black);
    --fr-border-o: 10%;
    --fr-input: var(--color-black);
    --fr-input-o: 10%;

    /* Focus Ring */
    --fr-focus: var(--color-zinc-400);

    /* Charts */
    --fr-chart-1: var(--color-orange-600);
    --fr-chart-2: var(--color-teal-600);
    --fr-chart-3: var(--color-cyan-900);
    --fr-chart-4: var(--color-amber-400);
    --fr-chart-5: var(--color-amber-500);
  }

  .aside {
    /* Sidebar Background */
    --fr-bg: var(--color-white);
    --fr-bg-f: var(--color-zinc-900);

    /* Sidebar Primary */
    --fr-primary: var(--color-zinc-800);
    --fr-primary-f: var(--color-zinc-50);

    /* Sidebar Accent */
    --fr-accent: var(--color-black);
    --fr-accent-o: 4%;
    --fr-accent-f: var(--color-zinc-900);

    /* Sidebar Border */
    --fr-border: var(--color-black);
    --fr-border-o: 10%;

    /* Sidebar Focus */
    --fr-focus: var(--color-zinc-400);
  }

  .dark {
    /* Background */
    --fr-bg: var(--color-zinc-950);
    --fr-bg-f: var(--color-zinc-100);

    /* Card */
    --fr-card: #151518;
    --fr-card-f: var(--color-zinc-100);

    /* Popover/Dropdown */
    --fr-drop: var(--color-zinc-900);
    --fr-drop-f: var(--color-zinc-100);

    /* Primary */
    --fr-primary: var(--color-zinc-100);
    --fr-primary-f: var(--color-zinc-900);

    /* Secondary */
    --fr-secondary: var(--color-white);
    --fr-secondary-o: 8%;
    --fr-secondary-f: var(--color-zinc-100);

    /* Muted */
    --fr-muted: var(--color-white);
    --fr-muted-o: 8%;
    --fr-muted-f: var(--color-zinc-400);

    /* Accent */
    --fr-accent: var(--color-white);
    --fr-accent-o: 8%;
    --fr-accent-f: var(--color-zinc-100);

    /* Destructive/Danger */
    --fr-danger: var(--color-red-500);
    --fr-danger-f: var(--color-red-400);

    /* Info */
    --fr-info: var(--color-blue-500);
    --fr-info-f: var(--color-blue-400);

    /* Success */
    --fr-success: var(--color-emerald-500);
    --fr-success-f: var(--color-emerald-400);

    /* Warning */
    --fr-warning: var(--color-amber-500);
    --fr-warning-f: var(--color-amber-400);

    /* Border & Input */
    --fr-border: var(--color-white);
    --fr-border-o: 12%;
    --fr-input: var(--color-white);
    --fr-input-o: 12%;

    /* Focus Ring */
    --fr-focus: var(--color-zinc-500);

    /* Charts */
    --fr-chart-1: var(--color-blue-700);
    --fr-chart-2: var(--color-emerald-500);
    --fr-chart-3: var(--color-amber-500);
    --fr-chart-4: var(--color-purple-500);
    --fr-chart-5: var(--color-rose-500);
  }

  .dark .aside {
    /* Sidebar Background */
    --fr-bg: #0e0e10;
    --fr-bg-f: var(--color-zinc-100);

    /* Sidebar Primary */
    --fr-primary: var(--color-zinc-100);
    --fr-primary-f: var(--color-zinc-900);

    /* Sidebar Accent */
    --fr-accent: var(--color-white);
    --fr-accent-o: 8%;
    --fr-accent-f: var(--color-zinc-100);

    /* Sidebar Border */
    --fr-border: var(--color-white);
    --fr-border-o: 12%;

    /* Sidebar Focus */
    --fr-focus: var(--color-zinc-400);
  }
}

@layer base {
  [class*='fr-anmt-'] {
    animation: 0.5s ease-out both;
  }
}

@keyframes fr-fade {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fr-scale-up {
  0% {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}

@keyframes fr-scale-down {
  0% {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}

@keyframes fr-slide-t {
  0% {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fr-slide-b {
  0% {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fr-slide-l {
  0% {
    transform: translate(-100%);
  }
  to {
    transform: translate(0);
  }
}

@keyframes fr-slide-r {
  0% {
    transform: translate(100%);
  }
  to {
    transform: translate(0);
  }
}

@keyframes fr-slide-t-sm {
  0% {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fr-slide-b-sm {
  0% {
    transform: translateY(10px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fr-slide-l-sm {
  0% {
    transform: translate(-10px);
  }
  to {
    transform: translate(0);
  }
}

@keyframes fr-slide-r-sm {
  0% {
    transform: translate(10px);
  }
  to {
    transform: translate(0);
  }
}

@keyframes fr-slide-t-md {
  0% {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fr-slide-b-md {
  0% {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fr-slide-l-md {
  0% {
    transform: translate(-50px);
  }
  to {
    transform: translate(0);
  }
}

@keyframes fr-slide-r-md {
  0% {
    transform: translate(50px);
  }
  to {
    transform: translate(0);
  }
}

@keyframes fr-kenburns {
  0% {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

@keyframes fr-shake {
  0%,
  to {
    transform: translate(0);
  }
  10% {
    transform: translate(-9px);
  }
  20% {
    transform: translate(8px);
  }
  30% {
    transform: translate(-7px);
  }
  40% {
    transform: translate(6px);
  }
  50% {
    transform: translate(-5px);
  }
  60% {
    transform: translate(4px);
  }
  70% {
    transform: translate(-3px);
  }
  80% {
    transform: translate(2px);
  }
  90% {
    transform: translate(-1px);
  }
}

@keyframes fr-stroke {
  0% {
    stroke-dashoffset: var(--uk-anmt-stroke);
  }
  to {
    stroke-dashoffset: 0;
  }
}
