@layer utilities {
  .h-auto {
    height: auto;
  }

  .h-full {
    height: 100%;
  }

  .h-screen {
    height: 100vh;
  }

  .h-dvh {
    height: 100dvh;
  }

  .h-dvw {
    height: 100dvw;
  }

  .h-lvh {
    height: 100lvh;
  }

  .h-lvw {
    height: 100lvw;
  }

  .h-svh {
    height: 100svh;
  }

  .h-svw {
    height: 100svw;
  }

  .h-min {
    height: min-content;
  }

  .h-max {
    height: max-content;
  }

  .h-fit {
    height: fit-content;
  }

  .h-lh {
    height: 1lh;
  }

  @media (min-width: 40rem) {
    .sm\:h-auto {
      height: auto;
    }

    .sm\:h-full {
      height: 100%;
    }

    .sm\:h-screen {
      height: 100vh;
    }

    .sm\:h-dvh {
      height: 100dvh;
    }

    .sm\:h-dvw {
      height: 100dvw;
    }

    .sm\:h-lvh {
      height: 100lvh;
    }

    .sm\:h-lvw {
      height: 100lvw;
    }

    .sm\:h-svh {
      height: 100svh;
    }

    .sm\:h-svw {
      height: 100svw;
    }

    .sm\:h-min {
      height: min-content;
    }

    .sm\:h-max {
      height: max-content;
    }

    .sm\:h-fit {
      height: fit-content;
    }

    .sm\:h-lh {
      height: 1lh;
    }
  }

  @media (min-width: 48rem) {
    .md\:h-auto {
      height: auto;
    }

    .md\:h-full {
      height: 100%;
    }

    .md\:h-screen {
      height: 100vh;
    }

    .md\:h-dvh {
      height: 100dvh;
    }

    .md\:h-dvw {
      height: 100dvw;
    }

    .md\:h-lvh {
      height: 100lvh;
    }

    .md\:h-lvw {
      height: 100lvw;
    }

    .md\:h-svh {
      height: 100svh;
    }

    .md\:h-svw {
      height: 100svw;
    }

    .md\:h-min {
      height: min-content;
    }

    .md\:h-max {
      height: max-content;
    }

    .md\:h-fit {
      height: fit-content;
    }

    .md\:h-lh {
      height: 1lh;
    }
  }

  @media (min-width: 64rem) {
    .lg\:h-auto {
      height: auto;
    }

    .lg\:h-full {
      height: 100%;
    }

    .lg\:h-screen {
      height: 100vh;
    }

    .lg\:h-dvh {
      height: 100dvh;
    }

    .lg\:h-dvw {
      height: 100dvw;
    }

    .lg\:h-lvh {
      height: 100lvh;
    }

    .lg\:h-lvw {
      height: 100lvw;
    }

    .lg\:h-svh {
      height: 100svh;
    }

    .lg\:h-svw {
      height: 100svw;
    }

    .lg\:h-min {
      height: min-content;
    }

    .lg\:h-max {
      height: max-content;
    }

    .lg\:h-fit {
      height: fit-content;
    }

    .lg\:h-lh {
      height: 1lh;
    }
  }

  @media (min-width: 80rem) {
    .xl\:h-auto {
      height: auto;
    }

    .xl\:h-full {
      height: 100%;
    }

    .xl\:h-screen {
      height: 100vh;
    }

    .xl\:h-dvh {
      height: 100dvh;
    }

    .xl\:h-dvw {
      height: 100dvw;
    }

    .xl\:h-lvh {
      height: 100lvh;
    }

    .xl\:h-lvw {
      height: 100lvw;
    }

    .xl\:h-svh {
      height: 100svh;
    }

    .xl\:h-svw {
      height: 100svw;
    }

    .xl\:h-min {
      height: min-content;
    }

    .xl\:h-max {
      height: max-content;
    }

    .xl\:h-fit {
      height: fit-content;
    }

    .xl\:h-lh {
      height: 1lh;
    }
  }

  @media (min-width: 96rem) {
    .\32xl\:h-auto {
      height: auto;
    }

    .\32xl\:h-full {
      height: 100%;
    }

    .\32xl\:h-screen {
      height: 100vh;
    }

    .\32xl\:h-dvh {
      height: 100dvh;
    }

    .\32xl\:h-dvw {
      height: 100dvw;
    }

    .\32xl\:h-lvh {
      height: 100lvh;
    }

    .\32xl\:h-lvw {
      height: 100lvw;
    }

    .\32xl\:h-svh {
      height: 100svh;
    }

    .\32xl\:h-svw {
      height: 100svw;
    }

    .\32xl\:h-min {
      height: min-content;
    }

    .\32xl\:h-max {
      height: max-content;
    }

    .\32xl\:h-fit {
      height: fit-content;
    }

    .\32xl\:h-lh {
      height: 1lh;
    }
  }
}
