@layer utilities {
  .list-decimal {
    list-style-type: decimal;
  }
  .list-disc {
    list-style-type: disc;
  }
  .list-none {
    list-style-type: none;
  }

  @media (min-width: 40rem) {
    .sm\:list-decimal {
      list-style-type: decimal;
    }
    .sm\:list-disc {
      list-style-type: disc;
    }
    .sm\:list-none {
      list-style-type: none;
    }
  }

  @media (min-width: 48rem) {
    .md\:list-decimal {
      list-style-type: decimal;
    }
    .md\:list-disc {
      list-style-type: disc;
    }
    .md\:list-none {
      list-style-type: none;
    }
  }

  @media (min-width: 64rem) {
    .lg\:list-decimal {
      list-style-type: decimal;
    }
    .lg\:list-disc {
      list-style-type: disc;
    }
    .lg\:list-none {
      list-style-type: none;
    }
  }

  @media (min-width: 80rem) {
    .xl\:list-decimal {
      list-style-type: decimal;
    }
    .xl\:list-disc {
      list-style-type: disc;
    }
    .xl\:list-none {
      list-style-type: none;
    }
  }

  @media (min-width: 96rem) {
    .\32xl\:list-decimal {
      list-style-type: decimal;
    }
    .\32xl\:list-disc {
      list-style-type: disc;
    }
    .\32xl\:list-none {
      list-style-type: none;
    }
  }
}
