.outline-none {
  outline: none;
}
.outline-hidden {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.outline {
  outline-style: solid;
}
.outline-dashed {
  outline-style: dashed;
}
.outline-dotted {
  outline-style: dotted;
}
.outline-double {
  outline-style: double;
}

@media (min-width: 40rem) {
  .sm\:outline-none {
    outline: none;
  }
  .sm\:outline-hidden {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  .sm\:outline {
    outline-style: solid;
  }
  .sm\:outline-dashed {
    outline-style: dashed;
  }
  .sm\:outline-dotted {
    outline-style: dotted;
  }
  .sm\:outline-double {
    outline-style: double;
  }
}

@media (min-width: 48rem) {
  .md\:outline-none {
    outline: none;
  }
  .md\:outline-hidden {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  .md\:outline {
    outline-style: solid;
  }
  .md\:outline-dashed {
    outline-style: dashed;
  }
  .md\:outline-dotted {
    outline-style: dotted;
  }
  .md\:outline-double {
    outline-style: double;
  }
}

@media (min-width: 64rem) {
  .lg\:outline-none {
    outline: none;
  }
  .lg\:outline-hidden {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  .lg\:outline {
    outline-style: solid;
  }
  .lg\:outline-dashed {
    outline-style: dashed;
  }
  .lg\:outline-dotted {
    outline-style: dotted;
  }
  .lg\:outline-double {
    outline-style: double;
  }
}

@media (min-width: 80rem) {
  .xl\:outline-none {
    outline: none;
  }
  .xl\:outline-hidden {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  .xl\:outline {
    outline-style: solid;
  }
  .xl\:outline-dashed {
    outline-style: dashed;
  }
  .xl\:outline-dotted {
    outline-style: dotted;
  }
  .xl\:outline-double {
    outline-style: double;
  }
}

@media (min-width: 96rem) {
  .\32xl\:outline-none {
    outline: none;
  }
  .\32xl\:outline-hidden {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  .\32xl\:outline {
    outline-style: solid;
  }
  .\32xl\:outline-dashed {
    outline-style: dashed;
  }
  .\32xl\:outline-dotted {
    outline-style: dotted;
  }
  .\32xl\:outline-double {
    outline-style: double;
  }
}
