@layer utilities {
  .transform-none {
    transform: none;
  }

  @media (min-width: 40rem) {
    .sm\:transform-none {
      transform: none;
    }
  }

  @media (min-width: 48rem) {
    .md\:transform-none {
      transform: none;
    }
  }

  @media (min-width: 64rem) {
    .lg\:transform-none {
      transform: none;
    }
  }

  @media (min-width: 80rem) {
    .xl\:transform-none {
      transform: none;
    }
  }

  @media (min-width: 96rem) {
    .\32xl\:transform-none {
      transform: none;
    }
  }
}
