@layer utilities {
  .align-baseline {
    vertical-align: baseline;
  }
  .align-top {
    vertical-align: top;
  }
  .align-middle {
    vertical-align: middle;
  }
  .align-bottom {
    vertical-align: bottom;
  }
  .align-text-top {
    vertical-align: text-top;
  }
  .align-text-bottom {
    vertical-align: text-bottom;
  }
  .align-sub {
    vertical-align: sub;
  }
  .align-super {
    vertical-align: super;
  }

  @media (min-width: 40rem) {
    .sm\:align-baseline {
      vertical-align: baseline;
    }
    .sm\:align-top {
      vertical-align: top;
    }
    .sm\:align-middle {
      vertical-align: middle;
    }
    .sm\:align-bottom {
      vertical-align: bottom;
    }
    .sm\:align-text-top {
      vertical-align: text-top;
    }
    .sm\:align-text-bottom {
      vertical-align: text-bottom;
    }
    .sm\:align-sub {
      vertical-align: sub;
    }
    .sm\:align-super {
      vertical-align: super;
    }
  }

  @media (min-width: 48rem) {
    .md\:align-baseline {
      vertical-align: baseline;
    }
    .md\:align-top {
      vertical-align: top;
    }
    .md\:align-middle {
      vertical-align: middle;
    }
    .md\:align-bottom {
      vertical-align: bottom;
    }
    .md\:align-text-top {
      vertical-align: text-top;
    }
    .md\:align-text-bottom {
      vertical-align: text-bottom;
    }
    .md\:align-sub {
      vertical-align: sub;
    }
    .md\:align-super {
      vertical-align: super;
    }
  }

  @media (min-width: 64rem) {
    .lg\:align-baseline {
      vertical-align: baseline;
    }
    .lg\:align-top {
      vertical-align: top;
    }
    .lg\:align-middle {
      vertical-align: middle;
    }
    .lg\:align-bottom {
      vertical-align: bottom;
    }
    .lg\:align-text-top {
      vertical-align: text-top;
    }
    .lg\:align-text-bottom {
      vertical-align: text-bottom;
    }
    .lg\:align-sub {
      vertical-align: sub;
    }
    .lg\:align-super {
      vertical-align: super;
    }
  }

  @media (min-width: 80rem) {
    .xl\:align-baseline {
      vertical-align: baseline;
    }
    .xl\:align-top {
      vertical-align: top;
    }
    .xl\:align-middle {
      vertical-align: middle;
    }
    .xl\:align-bottom {
      vertical-align: bottom;
    }
    .xl\:align-text-top {
      vertical-align: text-top;
    }
    .xl\:align-text-bottom {
      vertical-align: text-bottom;
    }
    .xl\:align-sub {
      vertical-align: sub;
    }
    .xl\:align-super {
      vertical-align: super;
    }
  }

  @media (min-width: 96rem) {
    .\32xl\:align-baseline {
      vertical-align: baseline;
    }
    .\32xl\:align-top {
      vertical-align: top;
    }
    .\32xl\:align-middle {
      vertical-align: middle;
    }
    .\32xl\:align-bottom {
      vertical-align: bottom;
    }
    .\32xl\:align-text-top {
      vertical-align: text-top;
    }
    .\32xl\:align-text-bottom {
      vertical-align: text-bottom;
    }
    .\32xl\:align-sub {
      vertical-align: sub;
    }
    .\32xl\:align-super {
      vertical-align: super;
    }
  }
}
