@layer styles {
  .backdrop-blur {
    backdrop-filter: blur(var(--backdrop-blur));
  }

  @media (min-width: 40rem) {
    .sm\:backdrop-blur {
      backdrop-filter: blur(var(--sm-backdrop-blur));
    }
  }

  @media (min-width: 48rem) {
    .md\:backdrop-blur {
      backdrop-filter: blur(var(--md-backdrop-blur));
    }
  }

  @media (min-width: 64rem) {
    .lg\:backdrop-blur {
      backdrop-filter: blur(var(--lg-backdrop-blur));
    }
  }

  @media (min-width: 80rem) {
    .xl\:backdrop-blur {
      backdrop-filter: blur(var(--xl-backdrop-blur));
    }
  }

  @media (min-width: 96rem) {
    .\32xl\:backdrop-blur {
      backdrop-filter: blur(var(--\32xl-backdrop-blur));
    }
  }
}
