@layer styles {
  .backdrop-opacity {
    backdrop-filter: opacity(var(--backdrop-opacity));
  }

  @media (min-width: 40rem) {
    .sm\:backdrop-opacity {
      backdrop-filter: opacity(var(--sm-backdrop-opacity));
    }
  }

  @media (min-width: 48rem) {
    .md\:backdrop-opacity {
      backdrop-filter: opacity(var(--md-backdrop-opacity));
    }
  }

  @media (min-width: 64rem) {
    .lg\:backdrop-opacity {
      backdrop-filter: opacity(var(--lg-backdrop-opacity));
    }
  }

  @media (min-width: 80rem) {
    .xl\:backdrop-opacity {
      backdrop-filter: opacity(var(--xl-backdrop-opacity));
    }
  }

  @media (min-width: 96rem) {
    .\32xl\:backdrop-opacity {
      backdrop-filter: opacity(var(--\32xl-backdrop-opacity));
    }
  }
}
