@layer styles {
  .backdrop-hue-rotate {
    backdrop-filter: hue-rotate(var(--backdrop-hue-rotate));
  }

  @media (min-width: 40rem) {
    .sm\:backdrop-hue-rotate {
      backdrop-filter: hue-rotate(var(--sm-backdrop-hue-rotate));
    }
  }

  @media (min-width: 48rem) {
    .md\:backdrop-hue-rotate {
      backdrop-filter: hue-rotate(var(--md-backdrop-hue-rotate));
    }
  }

  @media (min-width: 64rem) {
    .lg\:backdrop-hue-rotate {
      backdrop-filter: hue-rotate(var(--lg-backdrop-hue-rotate));
    }
  }

  @media (min-width: 80rem) {
    .xl\:backdrop-hue-rotate {
      backdrop-filter: hue-rotate(var(--xl-backdrop-hue-rotate));
    }
  }

  @media (min-width: 96rem) {
    .\32xl\:backdrop-hue-rotate {
      backdrop-filter: hue-rotate(var(--\32xl-backdrop-hue-rotate));
    }
  }
}
