@layer styles {
  .backdrop-invert {
    backdrop-filter: invert(--backdrop-invert);
  }

  @media (min-width: 40rem) {
    .sm\:backdrop-invert {
      backdrop-filter: invert(--sm-backdrop-invert);
    }
  }

  @media (min-width: 48rem) {
    .md\:backdrop-invert {
      backdrop-filter: invert(--md-backdrop-invert);
    }
  }

  @media (min-width: 64rem) {
    .lg\:backdrop-invert {
      backdrop-filter: invert(--lg-backdrop-invert);
    }
  }

  @media (min-width: 80rem) {
    .xl\:backdrop-invert {
      backdrop-filter: invert(--xl-backdrop-invert);
    }
  }

  @media (min-width: 96rem) {
    .\32xl\:backdrop-invert {
      backdrop-filter: invert(--\32xl-backdrop-invert);
    }
  }
}
