@layer styles {
  .bg {
    background-color: var(--bg);
  }

  @media (min-width: 40rem) {
    .sm\:bg {
      background-color: var(--sm-bg);
    }
  }

  @media (min-width: 48rem) {
    .md\:bg {
      background-color: var(--md-bg);
    }
  }

  @media (min-width: 64rem) {
    .lg\:bg {
      background-color: var(--lg-bg);
    }
  }

  @media (min-width: 80rem) {
    .xl\:bg {
      background-color: var(--xl-bg);
    }
  }

  @media (min-width: 96rem) {
    .\32xl\:bg {
      background-color: var(--\32xl-bg);
    }
  }
}
