@layer styles {
  .backdrop-saturate {
    backdrop-filter: saturate(var(--backdrop-saturate));
  }

  @media (min-width: 40rem) {
    .sm\:backdrop-saturate {
      backdrop-filter: saturate(var(--sm-backdrop-saturate));
    }
  }

  @media (min-width: 48rem) {
    .md\:backdrop-saturate {
      backdrop-filter: saturate(var(--md-backdrop-saturate));
    }
  }

  @media (min-width: 64rem) {
    .lg\:backdrop-saturate {
      backdrop-filter: saturate(var(--lg-backdrop-saturate));
    }
  }

  @media (min-width: 80rem) {
    .xl\:backdrop-saturate {
      backdrop-filter: saturate(var(--xl-backdrop-saturate));
    }
  }

  @media (min-width: 96rem) {
    .\32xl\:backdrop-saturate {
      backdrop-filter: saturate(var(--\32xl-backdrop-saturate));
    }
  }
}
