@layer styles {
  .backdrop-contrast {
    backdrop-filter: contrast(var(--backdrop-contrast));
  }

  @media (min-width: 40rem) {
    .sm\:backdrop-contrast {
      backdrop-filter: contrast(var(--sm-backdrop-contrast));
    }
  }

  @media (min-width: 48rem) {
    .md\:backdrop-contrast {
      backdrop-filter: contrast(var(--md-backdrop-contrast));
    }
  }

  @media (min-width: 64rem) {
    .lg\:backdrop-contrast {
      backdrop-filter: contrast(var(--lg-backdrop-contrast));
    }
  }

  @media (min-width: 80rem) {
    .xl\:backdrop-contrast {
      backdrop-filter: contrast(var(--xl-backdrop-contrast));
    }
  }

  @media (min-width: 96rem) {
    .\32xl\:backdrop-contrast {
      backdrop-filter: contrast(var(--\32xl-backdrop-contrast));
    }
  }
}
