@layer styles {
  .bg\/o {
    background-color: color-mix(
      in oklab,
      var(--bg) var(--bg-o, 100%),
      transparent
    );
  }
  .dark .dark\:bg\/o {
    background-color: color-mix(
      in oklab,
      var(--dark-bg) var(--dark-bg-o, 100%),
      transparent
    );
  }

  @media (min-width: 40rem) {
    .sm\:bg\/o {
      background-color: color-mix(
        in oklab,
        var(--sm-bg) var(--sm-bg-o, 100%),
        transparent
      );
    }
    .dark .dark\:sm\:bg\/o {
      background-color: color-mix(
        in oklab,
        var(--dark-sm-bg) var(--dark-sm-bg-o, 100%),
        transparent
      );
    }
  }

  @media (min-width: 48rem) {
    .md\:bg\/o {
      background-color: color-mix(
        in oklab,
        var(--md-bg) var(--md-bg-o, 100%),
        transparent
      );
    }
    .dark .dark\:md\:bg\/o {
      background-color: color-mix(
        in oklab,
        var(--dark-md-bg) var(--dark-md-bg-o, 100%),
        transparent
      );
    }
  }

  @media (min-width: 64rem) {
    .lg\:bg\/o {
      background-color: color-mix(
        in oklab,
        var(--lg-bg) var(--lg-bg-o, 100%),
        transparent
      );
    }
    .dark .dark\:lg\:bg\/o {
      background-color: color-mix(
        in oklab,
        var(--dark-lg-bg) var(--dark-lg-bg-o, 100%),
        transparent
      );
    }
  }

  @media (min-width: 80rem) {
    .xl\:bg\/o {
      background-color: color-mix(
        in oklab,
        var(--xl-bg) var(--xl-bg-o, 100%),
        transparent
      );
    }
    .dark .dark\:xl\:bg\/o {
      background-color: color-mix(
        in oklab,
        var(--dark-xl-bg) var(--dark-xl-bg-o, 100%),
        transparent
      );
    }
  }

  @media (min-width: 96rem) {
    .\32xl\:bg\/o {
      background-color: color-mix(
        in oklab,
        var(--\32xl-bg) var(--\32xl-bg-o, 100%),
        transparent
      );
    }
    .dark .dark\:2xl\:bg\/o {
      background-color: color-mix(
        in oklab,
        var(--dark-2xl-bg) var(--dark-2xl-bg-o, 100%),
        transparent
      );
    }
  }
}
