@layer styles {
  .shadow\/o {
    --tw-shadow-color: color-mix(
      in oklab,
      var(--shadow) var(--shadow-o, 100%),
      transparent
    );
    --tw-shadow:
      0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow:
      var(--tw-inset-shadow), var(--tw-inset-ring-shadow),
      var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  }
  .dark .dark\:shadow\/o {
    --tw-shadow-color: color-mix(
      in oklab,
      var(--dark-shadow) var(--dark-shadow-o, 100%),
      transparent
    );
    --tw-shadow:
      0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow:
      var(--tw-inset-shadow), var(--tw-inset-ring-shadow),
      var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  }

  @media (min-width: 40rem) {
    .sm\:shadow\/o {
      --tw-shadow-color: color-mix(
        in oklab,
        var(--sm-shadow) var(--sm-shadow-o, 100%),
        transparent
      );
      --tw-shadow:
        0 1px 3px 0 var(--tw-shadow-color),
        0 1px 2px -1px var(--tw-shadow-color);
      box-shadow:
        var(--tw-inset-shadow), var(--tw-inset-ring-shadow),
        var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    }
    .dark .dark\:sm\:shadow\/o {
      --tw-shadow-color: color-mix(
        in oklab,
        var(--dark-sm-shadow) var(--dark-sm-shadow-o, 100%),
        transparent
      );
      --tw-shadow:
        0 1px 3px 0 var(--tw-shadow-color),
        0 1px 2px -1px var(--tw-shadow-color);
      box-shadow:
        var(--tw-inset-shadow), var(--tw-inset-ring-shadow),
        var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    }
  }

  @media (min-width: 48rem) {
    .md\:shadow\/o {
      --tw-shadow-color: color-mix(
        in oklab,
        var(--md-shadow) var(--md-shadow-o, 100%),
        transparent
      );
      --tw-shadow:
        0 1px 3px 0 var(--tw-shadow-color),
        0 1px 2px -1px var(--tw-shadow-color);
      box-shadow:
        var(--tw-inset-shadow), var(--tw-inset-ring-shadow),
        var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    }
    .dark .dark\:md\:shadow\/o {
      --tw-shadow-color: color-mix(
        in oklab,
        var(--dark-md-shadow) var(--dark-md-shadow-o, 100%),
        transparent
      );
      --tw-shadow:
        0 1px 3px 0 var(--tw-shadow-color),
        0 1px 2px -1px var(--tw-shadow-color);
      box-shadow:
        var(--tw-inset-shadow), var(--tw-inset-ring-shadow),
        var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    }
  }

  @media (min-width: 64rem) {
    .lg\:shadow\/o {
      --tw-shadow-color: color-mix(
        in oklab,
        var(--lg-shadow) var(--lg-shadow-o, 100%),
        transparent
      );
      --tw-shadow:
        0 1px 3px 0 var(--tw-shadow-color),
        0 1px 2px -1px var(--tw-shadow-color);
      box-shadow:
        var(--tw-inset-shadow), var(--tw-inset-ring-shadow),
        var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    }
    .dark .dark\:lg\:shadow\/o {
      --tw-shadow-color: color-mix(
        in oklab,
        var(--dark-lg-shadow) var(--dark-lg-shadow-o, 100%),
        transparent
      );
      --tw-shadow:
        0 1px 3px 0 var(--tw-shadow-color),
        0 1px 2px -1px var(--tw-shadow-color);
      box-shadow:
        var(--tw-inset-shadow), var(--tw-inset-ring-shadow),
        var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    }
  }

  @media (min-width: 80rem) {
    .xl\:shadow\/o {
      --tw-shadow-color: color-mix(
        in oklab,
        var(--xl-shadow) var(--xl-shadow-o, 100%),
        transparent
      );
      --tw-shadow:
        0 1px 3px 0 var(--tw-shadow-color),
        0 1px 2px -1px var(--tw-shadow-color);
      box-shadow:
        var(--tw-inset-shadow), var(--tw-inset-ring-shadow),
        var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    }
    .dark .dark\:xl\:shadow\/o {
      --tw-shadow-color: color-mix(
        in oklab,
        var(--dark-xl-shadow) var(--dark-xl-shadow-o, 100%),
        transparent
      );
      --tw-shadow:
        0 1px 3px 0 var(--tw-shadow-color),
        0 1px 2px -1px var(--tw-shadow-color);
      box-shadow:
        var(--tw-inset-shadow), var(--tw-inset-ring-shadow),
        var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    }
  }

  @media (min-width: 96rem) {
    .\32xl\:shadow\/o {
      --tw-shadow-color: color-mix(
        in oklab,
        var(--\32xl-shadow) var(--\32xl-shadow-o, 100%),
        transparent
      );
      --tw-shadow:
        0 1px 3px 0 var(--tw-shadow-color),
        0 1px 2px -1px var(--tw-shadow-color);
      box-shadow:
        var(--tw-inset-shadow), var(--tw-inset-ring-shadow),
        var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    }
    .dark .dark\:2xl\:shadow\/o {
      --tw-shadow-color: color-mix(
        in oklab,
        var(--dark-2xl-shadow) var(--dark-2xl-shadow-o, 100%),
        transparent
      );
      --tw-shadow:
        0 1px 3px 0 var(--tw-shadow-color),
        0 1px 2px -1px var(--tw-shadow-color);
      box-shadow:
        var(--tw-inset-shadow), var(--tw-inset-ring-shadow),
        var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    }
  }
}
