@layer styles {
  .color {
    color: color-mix(
      in oklab,
      var(--color) var(--color-opacity, 100%),
      transparent
    );
  }

  @media (min-width: 40rem) {
    .sm\:color {
      color: color-mix(
        in oklab,
        var(--sm-color, var(--color))
          var(--sm-color-opacity, var(--color-opacity, 100%)),
        transparent
      );
    }
  }

  @media (min-width: 48rem) {
    .md\:color {
      color: color-mix(
        in oklab,
        var(--md-color, var(--sm-color, var(--color)))
          var(
            --md-color-opacity,
            var(--sm-color-opacity, var(--color-opacity, 100%))
          ),
        transparent
      );
    }
  }

  @media (min-width: 64rem) {
    .lg\:color {
      color: color-mix(
        in oklab,
        var(--lg-color, var(--md-color, var(--sm-color, var(--color))))
          var(
            --lg-color-opacity,
            var(
              --md-color-opacity,
              var(--sm-color-opacity, var(--color-opacity, 100%))
            )
          ),
        transparent
      );
    }
  }

  @media (min-width: 80rem) {
    .xl\:color {
      color: color-mix(
        in oklab,
        var(
            --xl-color,
            var(--lg-color, var(--md-color, var(--sm-color, var(--color))))
          )
          var(
            --xl-color-opacity,
            var(
              --lg-color-opacity,
              var(
                --md-color-opacity,
                var(--sm-color-opacity, var(--color-opacity, 100%))
              )
            )
          ),
        transparent
      );
    }
  }

  @media (min-width: 96rem) {
    .\32xl\:color {
      color: color-mix(
        in oklab,
        var(
            --\32xl-color,
            var(
              --xl-color,
              var(--lg-color, var(--md-color, var(--sm-color, var(--color))))
            )
          )
          var(
            --\32xl-color-opacity,
            var(
              --xl-color-opacity,
              var(
                --lg-color-opacity,
                var(
                  --md-color-opacity,
                  var(--sm-color-opacity, var(--color-opacity, 100%))
                )
              )
            )
          ),
        transparent
      );
    }
  }
}
