@layer styles {
  /* Columns */
  .columns {
    columns: var(--columns);
  }

  /* sm */
  @media (min-width: 40rem) {
    .sm\:columns {
      columns: var(--sm-columns, var(--columns));
    }
  }

  /* md */
  @media (min-width: 48rem) {
    .md\:columns {
      columns: var(--md-columns, var(--sm-columns, var(--columns)));
    }
  }

  /* lg */
  @media (min-width: 64rem) {
    .lg\:columns {
      columns: var(
        --lg-columns,
        var(--md-columns, var(--sm-columns, var(--columns)))
      );
    }
  }

  /* xl */
  @media (min-width: 80rem) {
    .xl\:columns {
      columns: var(
        --xl-columns,
        var(--lg-columns, var(--md-columns, var(--sm-columns, var(--columns))))
      );
    }
  }

  /* 2xl */
  @media (min-width: 96rem) {
    .\32xl\:columns {
      columns: var(
        --\32xl-columns,
        var(
          --xl-columns,
          var(
            --lg-columns,
            var(--md-columns, var(--sm-columns, var(--columns)))
          )
        )
      );
    }
  }
}
