@layer styles {
  .dark .from {
    --tw-gradient-from: color-mix(
      in oklab,
      var(--dark-from, var(--from))
        var(--dark-from-opacity, var(--from-opacity, 100%)),
      transparent
    );
    --tw-gradient-stops: var(
      --tw-gradient-via-stops,
      var(--tw-gradient-position),
      var(--tw-gradient-from) var(--tw-gradient-from-position),
      var(--tw-gradient-to) var(--tw-gradient-to-position)
    );
  }

  @media (min-width: 40rem) {
    .dark .sm\:from {
      --tw-gradient-from: color-mix(
        in oklab,
        var(--dark-sm-from, var(--dark-from, var(--sm-from, var(--from))))
          var(
            --dark-sm-from-opacity,
            var(
              --dark-from-opacity,
              var(--sm-from-opacity, var(--from-opacity, 100%))
            )
          ),
        transparent
      );
    }
  }

  @media (min-width: 48rem) {
    .dark .md\:from {
      --tw-gradient-from: color-mix(
        in oklab,
        var(
            --dark-md-from,
            var(
              --dark-sm-from,
              var(--dark-from, var(--md-from, var(--sm-from, var(--from))))
            )
          )
          var(
            --dark-md-from-opacity,
            var(
              --dark-sm-from-opacity,
              var(
                --dark-from-opacity,
                var(
                  --md-from-opacity,
                  var(--sm-from-opacity, var(--from-opacity, 100%))
                )
              )
            )
          ),
        transparent
      );
    }
  }

  @media (min-width: 64rem) {
    .dark .lg\:from {
      --tw-gradient-from: color-mix(
        in oklab,
        var(
            --dark-lg-from,
            var(
              --dark-md-from,
              var(
                --dark-sm-from,
                var(
                  --dark-from,
                  var(--lg-from, var(--md-from, var(--sm-from, var(--from))))
                )
              )
            )
          )
          var(
            --dark-lg-from-opacity,
            var(
              --dark-md-from-opacity,
              var(
                --dark-sm-from-opacity,
                var(
                  --dark-from-opacity,
                  var(
                    --lg-from-opacity,
                    var(
                      --md-from-opacity,
                      var(--sm-from-opacity, var(--from-opacity, 100%))
                    )
                  )
                )
              )
            )
          ),
        transparent
      );
    }
  }

  @media (min-width: 80rem) {
    .dark .xl\:from {
      --tw-gradient-from: color-mix(
        in oklab,
        var(
            --dark-xl-from,
            var(
              --dark-lg-from,
              var(
                --dark-md-from,
                var(
                  --dark-sm-from,
                  var(
                    --dark-from,
                    var(
                      --xl-from,
                      var(
                        --lg-from,
                        var(--md-from, var(--sm-from, var(--from)))
                      )
                    )
                  )
                )
              )
            )
          )
          var(
            --dark-xl-from-opacity,
            var(
              --dark-lg-from-opacity,
              var(
                --dark-md-from-opacity,
                var(
                  --dark-sm-from-opacity,
                  var(
                    --dark-from-opacity,
                    var(
                      --xl-from-opacity,
                      var(
                        --lg-from-opacity,
                        var(
                          --md-from-opacity,
                          var(--sm-from-opacity, var(--from-opacity, 100%))
                        )
                      )
                    )
                  )
                )
              )
            )
          ),
        transparent
      );
    }
  }

  @media (min-width: 96rem) {
    .dark .\32xl\:from {
      --tw-gradient-from: color-mix(
        in oklab,
        var(
            --dark-2xl-from,
            var(
              --dark-xl-from,
              var(
                --dark-lg-from,
                var(
                  --dark-md-from,
                  var(
                    --dark-sm-from,
                    var(
                      --dark-from,
                      var(
                        --\32xl-from,
                        var(
                          --xl-from,
                          var(
                            --lg-from,
                            var(--md-from, var(--sm-from, var(--from)))
                          )
                        )
                      )
                    )
                  )
                )
              )
            )
          )
          var(
            --dark-2xl-from-opacity,
            var(
              --dark-xl-from-opacity,
              var(
                --dark-lg-from-opacity,
                var(
                  --dark-md-from-opacity,
                  var(
                    --dark-sm-from-opacity,
                    var(
                      --dark-from-opacity,
                      var(
                        --\32xl-from-opacity,
                        var(
                          --xl-from-opacity,
                          var(
                            --lg-from-opacity,
                            var(
                              --md-from-opacity,
                              var(--sm-from-opacity, var(--from-opacity, 100%))
                            )
                          )
                        )
                      )
                    )
                  )
                )
              )
            )
          ),
        transparent
      );
    }
  }
}
