@layer styles {
  .dark .border {
    border-color: color-mix(
      in oklab,
      var(--dark-border-color, var(--border-color))
        var(--dark-border-color-opacity, var(--border-color-opacity, 100%)),
      transparent
    );
  }

  @media (min-width: 40rem) {
    .dark .sm\:border {
      border-color: color-mix(
        in oklab,
        var(
            --dark-sm-border-color,
            var(
              --dark-border-color,
              var(--sm-border-color, var(--border-color))
            )
          )
          var(
            --dark-sm-border-color-opacity,
            var(
              --dark-border-color-opacity,
              var(--sm-border-color-opacity, var(--border-color-opacity, 100%))
            )
          ),
        transparent
      );
    }
  }

  @media (min-width: 48rem) {
    .dark .md\:border {
      border-color: color-mix(
        in oklab,
        var(
            --dark-md-border-color,
            var(
              --dark-sm-border-color,
              var(
                --dark-border-color,
                var(
                  --md-border-color,
                  var(--sm-border-color, var(--border-color))
                )
              )
            )
          )
          var(
            --dark-md-border-color-opacity,
            var(
              --dark-sm-border-color-opacity,
              var(
                --dark-border-color-opacity,
                var(
                  --md-border-color-opacity,
                  var(
                    --sm-border-color-opacity,
                    var(--border-color-opacity, 100%)
                  )
                )
              )
            )
          ),
        transparent
      );
    }
  }

  @media (min-width: 64rem) {
    .dark .lg\:border {
      border-color: color-mix(
        in oklab,
        var(
            --dark-lg-border-color,
            var(
              --dark-md-border-color,
              var(
                --dark-sm-border-color,
                var(
                  --dark-border-color,
                  var(
                    --lg-border-color,
                    var(
                      --md-border-color,
                      var(--sm-border-color, var(--border-color))
                    )
                  )
                )
              )
            )
          )
          var(
            --dark-lg-border-color-opacity,
            var(
              --dark-md-border-color-opacity,
              var(
                --dark-sm-border-color-opacity,
                var(
                  --dark-border-color-opacity,
                  var(
                    --lg-border-color-opacity,
                    var(
                      --md-border-color-opacity,
                      var(
                        --sm-border-color-opacity,
                        var(--border-color-opacity, 100%)
                      )
                    )
                  )
                )
              )
            )
          ),
        transparent
      );
    }
  }

  @media (min-width: 80rem) {
    .dark .xl\:border {
      border-color: color-mix(
        in oklab,
        var(
            --dark-xl-border-color,
            var(
              --dark-lg-border-color,
              var(
                --dark-md-border-color,
                var(
                  --dark-sm-border-color,
                  var(
                    --dark-border-color,
                    var(
                      --xl-border-color,
                      var(
                        --lg-border-color,
                        var(
                          --md-border-color,
                          var(--sm-border-color, var(--border-color))
                        )
                      )
                    )
                  )
                )
              )
            )
          )
          var(
            --dark-xl-border-color-opacity,
            var(
              --dark-lg-border-color-opacity,
              var(
                --dark-md-border-color-opacity,
                var(
                  --dark-sm-border-color-opacity,
                  var(
                    --dark-border-color-opacity,
                    var(
                      --xl-border-color-opacity,
                      var(
                        --lg-border-color-opacity,
                        var(
                          --md-border-color-opacity,
                          var(
                            --sm-border-color-opacity,
                            var(--border-color-opacity, 100%)
                          )
                        )
                      )
                    )
                  )
                )
              )
            )
          ),
        transparent
      );
    }
  }

  @media (min-width: 96rem) {
    .dark .\32xl\:border {
      border-color: color-mix(
        in oklab,
        var(
            --dark-2xl-border-color,
            var(
              --dark-xl-border-color,
              var(
                --dark-lg-border-color,
                var(
                  --dark-md-border-color,
                  var(
                    --dark-sm-border-color,
                    var(
                      --dark-border-color,
                      var(
                        --\32xl-border-color,
                        var(
                          --xl-border-color,
                          var(
                            --lg-border-color,
                            var(
                              --md-border-color,
                              var(--sm-border-color, var(--border-color))
                            )
                          )
                        )
                      )
                    )
                  )
                )
              )
            )
          )
          var(
            --dark-2xl-border-color-opacity,
            var(
              --dark-xl-border-color-opacity,
              var(
                --dark-lg-border-color-opacity,
                var(
                  --dark-md-border-color-opacity,
                  var(
                    --dark-sm-border-color-opacity,
                    var(
                      --dark-border-color-opacity,
                      var(
                        --\32xl-border-color-opacity,
                        var(
                          --xl-border-color-opacity,
                          var(
                            --lg-border-color-opacity,
                            var(
                              --md-border-color-opacity,
                              var(
                                --sm-border-color-opacity,
                                var(--border-color-opacity, 100%)
                              )
                            )
                          )
                        )
                      )
                    )
                  )
                )
              )
            )
          ),
        transparent
      );
    }
  }
}
