@layer styles {
  .basis {
    flex-basis: calc(var(--spacing) * var(--basis));
  }
  .\[basis\] {
    flex-basis: var(--basis);
  }

  @media (min-width: 40rem) {
    .sm\:basis {
      flex-basis: calc(var(--spacing) * var(--sm-basis));
    }
    .sm\:\[basis\] {
      flex-basis: var(--sm-basis);
    }
  }

  @media (min-width: 48rem) {
    .md\:basis {
      flex-basis: calc(var(--spacing) * var(--md-basis));
    }
    .md\:\[basis\] {
      flex-basis: var(--md-basis);
    }
  }

  @media (min-width: 64rem) {
    .lg\:basis {
      flex-basis: calc(var(--spacing) * var(--lg-basis));
    }
    .lg\:\[basis\] {
      flex-basis: var(--lg-basis);
    }
  }

  @media (min-width: 80rem) {
    .xl\:basis {
      flex-basis: calc(var(--spacing) * var(--xl-basis));
    }
    .xl\:\[basis\] {
      flex-basis: var(--xl-basis);
    }
  }

  @media (min-width: 96rem) {
    .\32xl\:basis {
      flex-basis: calc(var(--spacing) * var(--\32xl-basis));
    }
    .\32xl\:\[basis\] {
      flex-basis: var(--\32xl-basis);
    }
  }
}
