@layer styles {
  .from {
    --tw-gradient-from: var(--from);
    --tw-gradient-stops: var(
      --tw-gradient-from-stops,
      var(--tw-gradient-position),
      var(--tw-gradient-from) var(--tw-gradient-from-position),
      var(--tw-gradient-from) var(--tw-gradient-from-position)
    );
  }

  @media (min-width: 40rem) {
    .sm\:from {
      --tw-gradient-from: var(--sm-from);
      --tw-gradient-stops: var(
        --tw-gradient-from-stops,
        var(--tw-gradient-position),
        var(--tw-gradient-from) var(--tw-gradient-from-position),
        var(--tw-gradient-from) var(--tw-gradient-from-position)
      );
    }
  }

  @media (min-width: 48rem) {
    .md\:from {
      --tw-gradient-from: var(--md-from);
      --tw-gradient-stops: var(
        --tw-gradient-from-stops,
        var(--tw-gradient-position),
        var(--tw-gradient-from) var(--tw-gradient-from-position),
        var(--tw-gradient-from) var(--tw-gradient-from-position)
      );
    }
  }

  @media (min-width: 64rem) {
    .lg\:from {
      --tw-gradient-from: var(--lg-from);
      --tw-gradient-stops: var(
        --tw-gradient-from-stops,
        var(--tw-gradient-position),
        var(--tw-gradient-from) var(--tw-gradient-from-position),
        var(--tw-gradient-from) var(--tw-gradient-from-position)
      );
    }
  }

  @media (min-width: 80rem) {
    .xl\:from {
      --tw-gradient-from: var(--xl-from);
      --tw-gradient-stops: var(
        --tw-gradient-from-stops,
        var(--tw-gradient-position),
        var(--tw-gradient-from) var(--tw-gradient-from-position),
        var(--tw-gradient-from) var(--tw-gradient-from-position)
      );
    }
  }

  @media (min-width: 96rem) {
    .\32xl\:from {
      --tw-gradient-from: var(--\32xl-from);
      --tw-gradient-stops: var(
        --tw-gradient-from-stops,
        var(--tw-gradient-position),
        var(--tw-gradient-from) var(--tw-gradient-from-position),
        var(--tw-gradient-from) var(--tw-gradient-from-position)
      );
    }
  }
}
