@layer styles {
  .row {
    grid-row: var(--row);
  }
  .row-span {
    grid-row: span var(--row-span) / span var(--row-span);
  }
  .row-start {
    grid-row-start: var(--row-start);
  }
  .row-end {
    grid-row-end: var(--row-end);
  }

  @media (min-width: 40rem) {
    .sm\:row {
      grid-row: var(--sm-row);
    }
    .sm\:row-span {
      grid-row: span var(--sm-row-span) / span var(--sm-row-span);
    }
    .sm\:row-start {
      grid-row-start: var(--sm-row-start);
    }
    .sm\:row-end {
      grid-row-end: var(--sm-row-end);
    }
  }

  @media (min-width: 48rem) {
    .md\:row {
      grid-row: var(--md-row);
    }
    .md\:row-span {
      grid-row: span var(--md-row-span) / span var(--md-row-span);
    }
    .md\:row-start {
      grid-row-start: var(--md-row-start);
    }
    .md\:row-end {
      grid-row-end: var(--md-row-end);
    }
  }

  @media (min-width: 64rem) {
    .lg\:row {
      grid-row: var(--lg-row);
    }
    .lg\:row-span {
      grid-row: span var(--lg-row-span) / span var(--lg-row-span);
    }
    .lg\:row-start {
      grid-row-start: var(--lg-row-start);
    }
    .lg\:row-end {
      grid-row-end: var(--lg-row-end);
    }
  }

  @media (min-width: 80rem) {
    .xl\:row {
      grid-row: var(--xl-row);
    }
    .xl\:row-span {
      grid-row: span var(--xl-row-span) / span var(--xl-row-span);
    }
    .xl\:row-start {
      grid-row-start: var(--xl-row-start);
    }
    .xl\:row-end {
      grid-row-end: var(--xl-row-end);
    }
  }

  @media (min-width: 96rem) {
    .\32xl\:row {
      grid-row: var(--\32xl-row);
    }
    .\32xl\:row-span {
      grid-row: span var(--\32xl-row-span) / span var(--\32xl-row-span);
    }
    .\32xl\:row-start {
      grid-row-start: var(--\32xl-row-start);
    }
    .\32xl\:row-end {
      grid-row-end: var(--\32xl-row-end);
    }
  }
}
