@layer styles {
  .col {
    grid-column: var(--col);
  }
  .col-span {
    grid-column: span var(--col-span) / span var(--col-span);
  }
  .col-start {
    grid-column-start: var(--col-start);
  }
  .col-end {
    grid-column-end: var(--col-end);
  }

  @media (min-width: 40rem) {
    .sm\:col {
      grid-column: var(--sm-col);
    }
    .sm\:col-span {
      grid-column: span var(--sm-col-span) / span var(--sm-col-span);
    }
    .sm\:col-start {
      grid-column-start: var(--sm-col-start);
    }
    .sm\:col-end {
      grid-column-end: var(--sm-col-end);
    }
  }

  @media (min-width: 48rem) {
    .md\:col {
      grid-column: var(--md-col);
    }
    .md\:col-span {
      grid-column: span var(--md-col-span) / span var(--md-col-span);
    }
    .md\:col-start {
      grid-column-start: var(--md-col-start);
    }
    .md\:col-end {
      grid-column-end: var(--md-col-end);
    }
  }

  @media (min-width: 64rem) {
    .lg\:col {
      grid-column: var(--lg-col);
    }
    .lg\:col-span {
      grid-column: span var(--lg-col-span) / span var(--lg-col-span);
    }
    .lg\:col-start {
      grid-column-start: var(--lg-col-start);
    }
    .lg\:col-end {
      grid-column-end: var(--lg-col-end);
    }
  }

  @media (min-width: 80rem) {
    .xl\:col {
      grid-column: var(--xl-col);
    }
    .xl\:col-span {
      grid-column: span var(--xl-col-span) / span var(--xl-col-span);
    }
    .xl\:col-start {
      grid-column-start: var(--xl-col-start);
    }
    .xl\:col-end {
      grid-column-end: var(--xl-col-end);
    }
  }

  @media (min-width: 96rem) {
    .\32xl\:col {
      grid-column: var(--\32xl-col);
    }
    .\32xl\:col-span {
      grid-column: span var(--\32xl-col-span) / span var(--\32xl-col-span);
    }
    .\32xl\:col-start {
      grid-column-start: var(--\32xl-col-start);
    }
    .\32xl\:col-end {
      grid-column-end: var(--\32xl-col-end);
    }
  }
}
