@layer styles {
  .hue-rotate {
    filter: hue-rotate(var(--hue-rotate));
  }

  @media (min-width: 40rem) {
    .sm\:hue-rotate {
      filter: hue-rotate(var(--sm-hue-rotate));
    }
  }

  @media (min-width: 48rem) {
    .md\:hue-rotate {
      filter: hue-rotate(var(--md-hue-rotate));
    }
  }

  @media (min-width: 64rem) {
    .lg\:hue-rotate {
      filter: hue-rotate(var(--lg-hue-rotate));
    }
  }

  @media (min-width: 80rem) {
    .xl\:hue-rotate {
      filter: hue-rotate(var(--xl-hue-rotate));
    }
  }

  @media (min-width: 96rem) {
    .\32xl\:hue-rotate {
      filter: hue-rotate(var(--\32xl-hue-rotate));
    }
  }
}
