@layer styles {
  .inset {
    inset: calc(var(--spacing) * var(--inset));
  }
  .start {
    inset-inline-start: calc(var(--spacing) * var(--start));
  }
  .end {
    inset-inline-end: calc(var(--spacing) * var(--end));
  }
  .inset-x {
    inset-inline: calc(var(--spacing) * var(--inset-x));
  }
  .inset-y {
    inset-block: calc(var(--spacing) * var(--inset-y));
  }
  .\[inset\] {
    inset: var(--inset);
  }
  .\[start\] {
    inset-inline-start: var(--start);
  }
  .\[end\] {
    inset-inline-end: var(--end);
  }
  .\[inset-x\] {
    inset-inline: var(--inset-x);
  }
  .\[inset-y\] {
    inset-block: var(--inset-y);
  }

  @media (min-width: 40rem) {
    .sm\:inset {
      inset: calc(var(--spacing) * var(--sm-inset));
    }
    .sm\:start {
      inset-inline-start: calc(var(--spacing) * var(--sm-start));
    }
    .sm\:end {
      inset-inline-end: calc(var(--spacing) * var(--sm-end));
    }
    .sm\:inset-x {
      inset-inline: calc(var(--spacing) * var(--sm-inset-x));
    }
    .sm\:inset-y {
      inset-block: calc(var(--spacing) * var(--sm-inset-y));
    }
    .sm\:\[inset\] {
      inset: var(--sm-inset);
    }
    .sm\:\[start\] {
      inset-inline-start: var(--sm-start);
    }
    .sm\:\[end\] {
      inset-inline-end: var(--sm-end);
    }
    .sm\:\[inset-x\] {
      inset-inline: var(--sm-inset-x);
    }
    .sm\:\[inset-y\] {
      inset-block: var(--sm-inset-y);
    }
  }

  @media (min-width: 48rem) {
    .md\:inset {
      inset: calc(var(--spacing) * var(--md-inset));
    }
    .md\:start {
      inset-inline-start: calc(var(--spacing) * var(--md-start));
    }
    .md\:end {
      inset-inline-end: calc(var(--spacing) * var(--md-end));
    }
    .md\:inset-x {
      inset-inline: calc(var(--spacing) * var(--md-inset-x));
    }
    .md\:inset-y {
      inset-block: calc(var(--spacing) * var(--md-inset-y));
    }
    .md\:\[inset\] {
      inset: var(--md-inset);
    }
    .md\:\[start\] {
      inset-inline-start: var(--md-start);
    }
    .md\:\[end\] {
      inset-inline-end: var(--md-end);
    }
    .md\:\[inset-x\] {
      inset-inline: var(--md-inset-x);
    }
    .md\:\[inset-y\] {
      inset-block: var(--md-inset-y);
    }
  }

  @media (min-width: 64rem) {
    .lg\:inset {
      inset: calc(var(--spacing) * var(--lg-inset));
    }
    .lg\:start {
      inset-inline-start: calc(var(--spacing) * var(--lg-start));
    }
    .lg\:end {
      inset-inline-end: calc(var(--spacing) * var(--lg-end));
    }
    .lg\:inset-x {
      inset-inline: calc(var(--spacing) * var(--lg-inset-x));
    }
    .lg\:inset-y {
      inset-block: calc(var(--spacing) * var(--lg-inset-y));
    }
    .lg\:\[inset\] {
      inset: var(--lg-inset);
    }
    .lg\:\[start\] {
      inset-inline-start: var(--lg-start);
    }
    .lg\:\[end\] {
      inset-inline-end: var(--lg-end);
    }
    .lg\:\[inset-x\] {
      inset-inline: var(--lg-inset-x);
    }
    .lg\:\[inset-y\] {
      inset-block: var(--lg-inset-y);
    }
  }

  @media (min-width: 80rem) {
    .xl\:inset {
      inset: calc(var(--spacing) * var(--xl-inset));
    }
    .xl\:start {
      inset-inline-start: calc(var(--spacing) * var(--xl-start));
    }
    .xl\:end {
      inset-inline-end: calc(var(--spacing) * var(--xl-end));
    }
    .xl\:inset-x {
      inset-inline: calc(var(--spacing) * var(--xl-inset-x));
    }
    .xl\:inset-y {
      inset-block: calc(var(--spacing) * var(--xl-inset-y));
    }
    .xl\:\[inset\] {
      inset: var(--xl-inset);
    }
    .xl\:\[start\] {
      inset-inline-start: var(--xl-start);
    }
    .xl\:\[end\] {
      inset-inline-end: var(--xl-end);
    }
    .xl\:\[inset-x\] {
      inset-inline: var(--xl-inset-x);
    }
    .xl\:\[inset-y\] {
      inset-block: var(--xl-inset-y);
    }
  }

  @media (min-width: 96rem) {
    .\32xl\:inset {
      inset: calc(var(--spacing) * var(--\32xl-inset));
    }
    .\32xl\:start {
      inset-inline-start: calc(var(--spacing) * var(--\32xl-start));
    }
    .\32xl\:end {
      inset-inline-end: calc(var(--spacing) * var(--\32xl-end));
    }
    .\32xl\:inset-x {
      inset-inline: calc(var(--spacing) * var(--\32xl-inset-x));
    }
    .\32xl\:inset-y {
      inset-block: calc(var(--spacing) * var(--\32xl-inset-y));
    }
    .\32xl\:\[inset\] {
      inset: var(--\32xl-inset);
    }
    .\32xl\:\[start\] {
      inset-inline-start: var(--\32xl-start);
    }
    .\32xl\:\[end\] {
      inset-inline-end: var(--\32xl-end);
    }
    .\32xl\:\[inset-x\] {
      inset-inline: var(--\32xl-inset-x);
    }
    .\32xl\:\[inset-y\] {
      inset-block: var(--\32xl-inset-y);
    }
  }
}
