@layer styles {
  /* Object-position */
  .object-position {
    object-position: var(--object);
  }

  /* sm */
  @media (min-width: 40rem) {
    .sm\:object-position {
      object-position: var(--sm-object, var(--object));
    }
  }

  /* md */
  @media (min-width: 48rem) {
    .md\:object-position {
      object-position: var(--md-object, var(--sm-object, var(--object)));
    }
  }

  /* lg */
  @media (min-width: 64rem) {
    .lg\:object-position {
      object-position: var(
        --lg-object,
        var(--md-object, var(--sm-object, var(--object)))
      );
    }
  }

  /* xl */
  @media (min-width: 80rem) {
    .xl\:object-position {
      object-position: var(
        --xl-object,
        var(--lg-object, var(--md-object, var(--sm-object, var(--object))))
      );
    }
  }

  /* 2xl */
  @media (min-width: 96rem) {
    .\32xl\:object-position {
      object-position: var(
        --\32xl-object,
        var(
          --xl-object,
          var(--lg-object, var(--md-object, var(--sm-object, var(--object))))
        )
      );
    }
  }
}
