@layer styles {
  .p {
    padding: calc(var(--spacing) * var(--p));
  }
  .\[p\] {
    padding: var(--p);
  }
  .pt {
    padding-top: calc(var(--spacing) * var(--pt, var(--p)));
  }
  .pb {
    padding-bottom: calc(var(--spacing) * var(--pb, var(--p)));
  }
  .pl {
    padding-left: calc(var(--spacing) * var(--pl, var(--p)));
  }
  .pr {
    padding-right: calc(var(--spacing) * var(--pr, var(--p)));
  }
  .ps {
    padding-inline-start: calc(var(--spacing) * var(--ps, var(--p)));
  }
  .pe {
    padding-inline-end: calc(var(--spacing) * var(--pe, var(--p)));
  }
  .\[pt\] {
    padding-top: var(--pt, var(--p));
  }
  .\[pb\] {
    padding-bottom: var(--pb, var(--p));
  }
  .\[pl\] {
    padding-left: var(--pl, var(--p));
  }
  .\[pr\] {
    padding-right: var(--pr, var(--p));
  }
  .\[ps\] {
    padding-inline-start: var(--ps, var(--p));
  }
  .\[pe\] {
    padding-inline-end: var(--pe, var(--p));
  }
  .px {
    padding-inline: calc(var(--spacing) * var(--px, var(--p)));
  }
  .py {
    padding-block: calc(var(--spacing) * var(--py, var(--p)));
  }
  .\[px\] {
    padding-inline: var(--px, var(--p));
  }
  .\[py\] {
    padding-block: var(--py, var(--p));
  }

  @media (min-width: 40rem) {
    .sm\:p {
      padding: calc(var(--spacing) * var(--sm-p));
    }
    .sm\:\[p\] {
      padding: var(--sm-p);
    }
    .sm\:pt {
      padding-top: calc(var(--spacing) * var(--sm-pt, var(--p)));
    }
    .sm\:pb {
      padding-bottom: calc(var(--spacing) * var(--sm-pb, var(--p)));
    }
    .sm\:pl {
      padding-left: calc(var(--spacing) * var(--sm-pl, var(--p)));
    }
    .sm\:pr {
      padding-right: calc(var(--spacing) * var(--sm-pr, var(--p)));
    }
    .sm\:ps {
      padding-inline-start: calc(var(--spacing) * var(--sm-ps, var(--p)));
    }
    .sm\:pe {
      padding-inline-end: calc(var(--spacing) * var(--sm-pe, var(--p)));
    }
    .sm\:\[pt\] {
      padding-top: var(--sm-pt, var(--p));
    }
    .sm\:\[pb\] {
      padding-bottom: var(--sm-pb, var(--p));
    }
    .sm\:\[pl\] {
      padding-left: var(--sm-pl, var(--p));
    }
    .sm\:\[pr\] {
      padding-right: var(--sm-pr, var(--p));
    }
    .sm\:\[ps\] {
      padding-inline-start: var(--sm-ps, var(--p));
    }
    .sm\:\[pe\] {
      padding-inline-end: var(--sm-pe, var(--p));
    }
    .sm\:px {
      padding-inline: calc(var(--spacing) * var(--sm-px, var(--p)));
    }
    .sm\:py {
      padding-block: calc(var(--spacing) * var(--sm-py, var(--p)));
    }
    .sm\:\[px\] {
      padding-inline: var(--sm-px, var(--p));
    }
    .sm\:\[py\] {
      padding-block: var(--sm-py, var(--p));
    }
  }

  @media (min-width: 48rem) {
    .md\:p {
      padding: calc(var(--spacing) * var(--md-p));
    }
    .md\:\[p\] {
      padding: var(--md-p);
    }
    .md\:pt {
      padding-top: calc(var(--spacing) * var(--md-pt, var(--p)));
    }
    .md\:pb {
      padding-bottom: calc(var(--spacing) * var(--md-pb, var(--p)));
    }
    .md\:pl {
      padding-left: calc(var(--spacing) * var(--md-pl, var(--p)));
    }
    .md\:pr {
      padding-right: calc(var(--spacing) * var(--md-pr, var(--p)));
    }
    .md\:ps {
      padding-inline-start: calc(var(--spacing) * var(--md-ps, var(--p)));
    }
    .md\:pe {
      padding-inline-end: calc(var(--spacing) * var(--md-pe, var(--p)));
    }
    .md\:\[pt\] {
      padding-top: var(--md-pt, var(--p));
    }
    .md\:\[pb\] {
      padding-bottom: var(--md-pb, var(--p));
    }
    .md\:\[pl\] {
      padding-left: var(--md-pl, var(--p));
    }
    .md\:\[pr\] {
      padding-right: var(--md-pr, var(--p));
    }
    .md\:\[ps\] {
      padding-inline-start: var(--md-ps, var(--p));
    }
    .md\:\[pe\] {
      padding-inline-end: var(--md-pe, var(--p));
    }
    .md\:px {
      padding-inline: calc(var(--spacing) * var(--md-px, var(--p)));
    }
    .md\:py {
      padding-block: calc(var(--spacing) * var(--md-py, var(--p)));
    }
    .md\:\[px\] {
      padding-inline: var(--md-px, var(--p));
    }
    .md\:\[py\] {
      padding-block: var(--md-py, var(--p));
    }
  }

  @media (min-width: 64rem) {
    .lg\:p {
      padding: calc(var(--spacing) * var(--lg-p));
    }
    .lg\:\[p\] {
      padding: var(--lg-p);
    }
    .lg\:pt {
      padding-top: calc(var(--spacing) * var(--lg-pt, var(--p)));
    }
    .lg\:pb {
      padding-bottom: calc(var(--spacing) * var(--lg-pb, var(--p)));
    }
    .lg\:pl {
      padding-left: calc(var(--spacing) * var(--lg-pl, var(--p)));
    }
    .lg\:pr {
      padding-right: calc(var(--spacing) * var(--lg-pr, var(--p)));
    }
    .lg\:ps {
      padding-inline-start: calc(var(--spacing) * var(--lg-ps, var(--p)));
    }
    .lg\:pe {
      padding-inline-end: calc(var(--spacing) * var(--lg-pe, var(--p)));
    }
    .lg\:\[pt\] {
      padding-top: var(--lg-pt, var(--p));
    }
    .lg\:\[pb\] {
      padding-bottom: var(--lg-pb, var(--p));
    }
    .lg\:\[pl\] {
      padding-left: var(--lg-pl, var(--p));
    }
    .lg\:\[pr\] {
      padding-right: var(--lg-pr, var(--p));
    }
    .lg\:\[ps\] {
      padding-inline-start: var(--lg-ps, var(--p));
    }
    .lg\:\[pe\] {
      padding-inline-end: var(--lg-pe, var(--p));
    }
    .lg\:px {
      padding-inline: calc(var(--spacing) * var(--lg-px, var(--p)));
    }
    .lg\:py {
      padding-block: calc(var(--spacing) * var(--lg-py, var(--p)));
    }
    .lg\:\[px\] {
      padding-inline: var(--lg-px, var(--p));
    }
    .lg\:\[py\] {
      padding-block: var(--lg-py, var(--p));
    }
  }

  @media (min-width: 80rem) {
    .xl\:p {
      padding: calc(var(--spacing) * var(--xl-p));
    }
    .xl\:\[p\] {
      padding: var(--xl-p);
    }
    .xl\:pt {
      padding-top: calc(var(--spacing) * var(--xl-pt, var(--p)));
    }
    .xl\:pb {
      padding-bottom: calc(var(--spacing) * var(--xl-pb, var(--p)));
    }
    .xl\:pl {
      padding-left: calc(var(--spacing) * var(--xl-pl, var(--p)));
    }
    .xl\:pr {
      padding-right: calc(var(--spacing) * var(--xl-pr, var(--p)));
    }
    .xl\:ps {
      padding-inline-start: calc(var(--spacing) * var(--xl-ps, var(--p)));
    }
    .xl\:pe {
      padding-inline-end: calc(var(--spacing) * var(--xl-pe, var(--p)));
    }
    .xl\:\[pt\] {
      padding-top: var(--xl-pt, var(--p));
    }
    .xl\:\[pb\] {
      padding-bottom: var(--xl-pb, var(--p));
    }
    .xl\:\[pl\] {
      padding-left: var(--xl-pl, var(--p));
    }
    .xl\:\[pr\] {
      padding-right: var(--xl-pr, var(--p));
    }
    .xl\:\[ps\] {
      padding-inline-start: var(--xl-ps, var(--p));
    }
    .xl\:\[pe\] {
      padding-inline-end: var(--xl-pe, var(--p));
    }
    .xl\:px {
      padding-inline: calc(var(--spacing) * var(--xl-px, var(--p)));
    }
    .xl\:py {
      padding-block: calc(var(--spacing) * var(--xl-py, var(--p)));
    }
    .xl\:\[px\] {
      padding-inline: var(--xl-px, var(--p));
    }
    .xl\:\[py\] {
      padding-block: var(--xl-py, var(--p));
    }
  }

  @media (min-width: 96rem) {
    .\32xl\:p {
      padding: calc(var(--spacing) * var(--\32xl-p));
    }
    .\32xl\:\[p\] {
      padding: var(--\32xl-p);
    }
    .\32xl\:pt {
      padding-top: calc(var(--spacing) * var(--\32xl-pt, var(--p)));
    }
    .\32xl\:pb {
      padding-bottom: calc(var(--spacing) * var(--\32xl-pb, var(--p)));
    }
    .\32xl\:pl {
      padding-left: calc(var(--spacing) * var(--\32xl-pl, var(--p)));
    }
    .\32xl\:pr {
      padding-right: calc(var(--spacing) * var(--\32xl-pr, var(--p)));
    }
    .\32xl\:ps {
      padding-inline-start: calc(var(--spacing) * var(--\32xl-ps, var(--p)));
    }
    .\32xl\:pe {
      padding-inline-end: calc(var(--spacing) * var(--\32xl-pe, var(--p)));
    }
    .\32xl\:\[pt\] {
      padding-top: var(--\32xl-pt, var(--p));
    }
    .\32xl\:\[pb\] {
      padding-bottom: var(--\32xl-pb, var(--p));
    }
    .\32xl\:\[pl\] {
      padding-left: var(--\32xl-pl, var(--p));
    }
    .\32xl\:\[pr\] {
      padding-right: var(--\32xl-pr, var(--p));
    }
    .\32xl\:\[ps\] {
      padding-inline-start: var(--\32xl-ps, var(--p));
    }
    .\32xl\:\[pe\] {
      padding-inline-end: var(--\32xl-pe, var(--p));
    }
    .\32xl\:px {
      padding-inline: calc(var(--spacing) * var(--\32xl-px, var(--p)));
    }
    .\32xl\:py {
      padding-block: calc(var(--spacing) * var(--\32xl-py, var(--p)));
    }
    .\32xl\:\[px\] {
      padding-inline: var(--\32xl-px, var(--p));
    }
    .\32xl\:\[py\] {
      padding-block: var(--\32xl-py, var(--p));
    }
  }
}
