@layer styles {
  /* Size */
  .size {
    width: calc(var(--spacing) * var(--size));
    height: calc(var(--spacing) * var(--size));
  }

  .\[size\] {
    width: var(--size);
    height: var(--size);
  }

  /* sm */
  @media (min-width: 40rem) {
    .sm\:size {
      width: calc(var(--spacing) * var(--sm-size, var(--size)));
      height: calc(var(--spacing) * var(--sm-size, var(--size)));
    }

    .sm\:\[size\] {
      width: var(--sm-size, var(--size));
      height: var(--sm-size, var(--size));
    }
  }

  /* md */
  @media (min-width: 48rem) {
    .md\:size {
      width: calc(var(--spacing) * var(--md-size, var(--sm-size, var(--size))));
      height: calc(
        var(--spacing) * var(--md-size, var(--sm-size, var(--size)))
      );
    }

    .md\:\[size\] {
      width: var(--md-size, var(--sm-size, var(--size)));
      height: var(--md-size, var(--sm-size, var(--size)));
    }
  }

  /* lg */
  @media (min-width: 64rem) {
    .lg\:size {
      width: calc(
        var(--spacing) *
          var(--lg-size, var(--md-size, var(--sm-size, var(--size))))
      );
      height: calc(
        var(--spacing) *
          var(--lg-size, var(--md-size, var(--sm-size, var(--size))))
      );
    }

    .lg\:\[size\] {
      width: var(--lg-size, var(--md-size, var(--sm-size, var(--size))));
      height: var(--lg-size, var(--md-size, var(--sm-size, var(--size))));
    }
  }

  /* xl */
  @media (min-width: 80rem) {
    .xl\:size {
      width: calc(
        var(--spacing) *
          var(
            --xl-size,
            var(--lg-size, var(--md-size, var(--sm-size, var(--size))))
          )
      );
      height: calc(
        var(--spacing) *
          var(
            --xl-size,
            var(--lg-size, var(--md-size, var(--sm-size, var(--size))))
          )
      );
    }

    .xl\:\[size\] {
      width: var(
        --xl-size,
        var(--lg-size, var(--md-size, var(--sm-size, var(--size))))
      );
      height: var(
        --xl-size,
        var(--lg-size, var(--md-size, var(--sm-size, var(--size))))
      );
    }
  }

  /* 2xl */
  @media (min-width: 96rem) {
    .\32xl\:size {
      width: calc(
        var(--spacing) *
          var(
            --\32xl-size,
            var(
              --xl-size,
              var(--lg-size, var(--md-size, var(--sm-size, var(--size))))
            )
          )
      );
      height: calc(
        var(--spacing) *
          var(
            --\32xl-size,
            var(
              --xl-size,
              var(--lg-size, var(--md-size, var(--sm-size, var(--size))))
            )
          )
      );
    }

    .\32xl\:\[size\] {
      width: var(
        --\32xl-size,
        var(
          --xl-size,
          var(--lg-size, var(--md-size, var(--sm-size, var(--size))))
        )
      );
      height: var(
        --\32xl-size,
        var(
          --xl-size,
          var(--lg-size, var(--md-size, var(--sm-size, var(--size))))
        )
      );
    }
  }
}
