@layer styles {
  .decoration\/o {
    text-decoration-color: color-mix(
      in oklab,
      var(--color) var(--color-o, 100%),
      transparent
    );
  }
  .dark .dark\:decoration\/o {
    text-decoration-color: color-mix(
      in oklab,
      var(--dark-color) var(--dark-color-o, 100%),
      transparent
    );
  }

  @media (min-width: 40rem) {
    .sm\:decoration\/o {
      text-decoration-color: color-mix(
        in oklab,
        var(--sm-color) var(--sm-color-o, 100%),
        transparent
      );
    }
    .dark .dark\:sm\:decoration\/o {
      text-decoration-color: color-mix(
        in oklab,
        var(--dark-sm-color) var(--dark-sm-color-o, 100%),
        transparent
      );
    }
  }

  @media (min-width: 48rem) {
    .md\:decoration\/o {
      text-decoration-color: color-mix(
        in oklab,
        var(--md-color) var(--md-color-o, 100%),
        transparent
      );
    }
    .dark .dark\:md\:decoration\/o {
      text-decoration-color: color-mix(
        in oklab,
        var(--dark-md-color) var(--dark-md-color-o, 100%),
        transparent
      );
    }
  }

  @media (min-width: 64rem) {
    .lg\:decoration\/o {
      text-decoration-color: color-mix(
        in oklab,
        var(--lg-color) var(--lg-color-o, 100%),
        transparent
      );
    }
    .dark .dark\:lg\:decoration\/o {
      text-decoration-color: color-mix(
        in oklab,
        var(--dark-lg-color) var(--dark-lg-color-o, 100%),
        transparent
      );
    }
  }

  @media (min-width: 80rem) {
    .xl\:decoration\/o {
      text-decoration-color: color-mix(
        in oklab,
        var(--xl-color) var(--xl-color-o, 100%),
        transparent
      );
    }
    .dark .dark\:xl\:decoration\/o {
      text-decoration-color: color-mix(
        in oklab,
        var(--dark-xl-color) var(--dark-xl-color-o, 100%),
        transparent
      );
    }
  }

  @media (min-width: 96rem) {
    .\32xl\:decoration\/o {
      text-decoration-color: color-mix(
        in oklab,
        var(--\32xl-color) var(--\32xl-color-o, 100%),
        transparent
      );
    }
    .dark .dark\:2xl\:decoration\/o {
      text-decoration-color: color-mix(
        in oklab,
        var(--dark-2xl-color) var(--dark-2xl-color-o, 100%),
        transparent
      );
    }
  }
}
