@layer styles {
  .to-position {
    --tw-gradient-to-position: var(--to-position);
  }

  @media (min-width: 40rem) {
    .sm\:to-position {
      --tw-gradient-to-position: var(--sm-to-position, var(--to-position));
    }
  }

  @media (min-width: 48rem) {
    .md\:to-position {
      --tw-gradient-to-position: var(
        --md-to-position,
        var(--sm-to-position, var(--to-position))
      );
    }
  }

  @media (min-width: 64rem) {
    .lg\:to-position {
      --tw-gradient-to-position: var(
        --lg-to-position,
        var(--md-to-position, var(--sm-to-position, var(--to-position)))
      );
    }
  }

  @media (min-width: 80rem) {
    .xl\:to-position {
      --tw-gradient-to-position: var(
        --xl-to-position,
        var(
          --lg-to-position,
          var(--md-to-position, var(--sm-to-position, var(--to-position)))
        )
      );
    }
  }

  @media (min-width: 96rem) {
    .\32xl\:to-position {
      --tw-gradient-to-position: var(
        --\32xl-to-position,
        var(
          --xl-to-position,
          var(
            --lg-to-position,
            var(--md-to-position, var(--sm-to-position, var(--to-position)))
          )
        )
      );
    }
  }
}
