@layer styles {
  .to {
    --tw-gradient-to: var(--to);
    --tw-gradient-stops: var(
      --tw-gradient-to-stops,
      var(--tw-gradient-position),
      var(--tw-gradient-to) var(--tw-gradient-to-position),
      var(--tw-gradient-to) var(--tw-gradient-to-position)
    );
  }
  .dark .dark\:to {
    --tw-gradient-to: var(--dark-to);
    --tw-gradient-stops: var(
      --tw-gradient-to-stops,
      var(--tw-gradient-position),
      var(--tw-gradient-to) var(--tw-gradient-to-position),
      var(--tw-gradient-to) var(--tw-gradient-to-position)
    );
  }

  @media (min-width: 40rem) {
    .sm\:to {
      --tw-gradient-to: var(--sm-to);
      --tw-gradient-stops: var(
        --tw-gradient-to-stops,
        var(--tw-gradient-position),
        var(--tw-gradient-to) var(--tw-gradient-to-position),
        var(--tw-gradient-to) var(--tw-gradient-to-position)
      );
    }
    .dark .dark\:sm\:to {
      --tw-gradient-to: var(--dark-sm-to);
      --tw-gradient-stops: var(
        --tw-gradient-to-stops,
        var(--tw-gradient-position),
        var(--tw-gradient-to) var(--tw-gradient-to-position),
        var(--tw-gradient-to) var(--tw-gradient-to-position)
      );
    }
  }

  @media (min-width: 48rem) {
    .md\:to {
      --tw-gradient-to: var(--md-to);
      --tw-gradient-stops: var(
        --tw-gradient-to-stops,
        var(--tw-gradient-position),
        var(--tw-gradient-to) var(--tw-gradient-to-position),
        var(--tw-gradient-to) var(--tw-gradient-to-position)
      );
    }
    .dark .dark\:md\:to {
      --tw-gradient-to: var(--dark-md-to);
      --tw-gradient-stops: var(
        --tw-gradient-to-stops,
        var(--tw-gradient-position),
        var(--tw-gradient-to) var(--tw-gradient-to-position),
        var(--tw-gradient-to) var(--tw-gradient-to-position)
      );
    }
  }

  @media (min-width: 64rem) {
    .lg\:to {
      --tw-gradient-to: var(--lg-to);
      --tw-gradient-stops: var(
        --tw-gradient-to-stops,
        var(--tw-gradient-position),
        var(--tw-gradient-to) var(--tw-gradient-to-position),
        var(--tw-gradient-to) var(--tw-gradient-to-position)
      );
    }
    .dark .dark\:lg\:to {
      --tw-gradient-to: var(--dark-lg-to);
      --tw-gradient-stops: var(
        --tw-gradient-to-stops,
        var(--tw-gradient-position),
        var(--tw-gradient-to) var(--tw-gradient-to-position),
        var(--tw-gradient-to) var(--tw-gradient-to-position)
      );
    }
  }

  @media (min-width: 80rem) {
    .xl\:to {
      --tw-gradient-to: var(--xl-to);
      --tw-gradient-stops: var(
        --tw-gradient-to-stops,
        var(--tw-gradient-position),
        var(--tw-gradient-to) var(--tw-gradient-to-position),
        var(--tw-gradient-to) var(--tw-gradient-to-position)
      );
    }
    .dark .dark\:xl\:to {
      --tw-gradient-to: var(--dark-xl-to);
      --tw-gradient-stops: var(
        --tw-gradient-to-stops,
        var(--tw-gradient-position),
        var(--tw-gradient-to) var(--tw-gradient-to-position),
        var(--tw-gradient-to) var(--tw-gradient-to-position)
      );
    }
  }

  @media (min-width: 96rem) {
    .\32xl\:to {
      --tw-gradient-to: var(--\32xl-to);
      --tw-gradient-stops: var(
        --tw-gradient-to-stops,
        var(--tw-gradient-position),
        var(--tw-gradient-to) var(--tw-gradient-to-position),
        var(--tw-gradient-to) var(--tw-gradient-to-position)
      );
    }
    .dark .dark\:2xl\:to {
      --tw-gradient-to: var(--dark-2xl-to);
      --tw-gradient-stops: var(
        --tw-gradient-to-stops,
        var(--tw-gradient-position),
        var(--tw-gradient-to) var(--tw-gradient-to-position),
        var(--tw-gradient-to) var(--tw-gradient-to-position)
      );
    }
  }
}
