@layer styles {
  .translate {
    --tw-translate-x: calc(var(--spacing) * var(--translate));
    --tw-translate-y: calc(var(--spacing) * var(--translate));
    translate: var(--tw-translate-x) var(--tw-translate-y);
  }
  .\[translate\] {
    --tw-translate-x: var(--translate);
    --tw-translate-y: var(--translate);
    translate: var(--tw-translate-x) var(--tw-translate-y);
  }
  .translate-x {
    --tw-translate-x: calc(var(--spacing) * var(--translate-x));
    translate: var(--tw-translate-x) var(--tw-translate-y);
  }
  .\[translate-x\] {
    --tw-translate-x: var(--translate-x);
    translate: var(--tw-translate-x) var(--tw-translate-y);
  }
  .translate-y {
    --tw-translate-y: calc(var(--spacing) * var(--translate-y));
    translate: var(--tw-translate-x) var(--tw-translate-y);
  }
  .\[translate-y\] {
    --tw-translate-y: var(--translate-y);
    translate: var(--tw-translate-x) var(--tw-translate-y);
  }
  .translate-z {
    --tw-translate-z: calc(var(--spacing) * var(--translate-z));
    translate: var(--tw-translate-x) var(--tw-translate-y) var(--tw-translate-z);
  }
  .\[translate-z\] {
    --tw-translate-z: var(--translate-z);
    translate: var(--tw-translate-x) var(--tw-translate-y) var(--tw-translate-z);
  }

  @media (min-width: 40rem) {
    .sm\:translate {
      --tw-translate-x: calc(var(--spacing) * var(--sm-translate));
      --tw-translate-y: calc(var(--spacing) * var(--sm-translate));
      translate: var(--tw-translate-x) var(--tw-translate-y);
    }
    .sm\:\[translate\] {
      --tw-translate-x: var(--sm-translate);
      --tw-translate-y: var(--sm-translate);
      translate: var(--tw-translate-x) var(--tw-translate-y);
    }
    .sm\:translate-x {
      --tw-translate-x: calc(var(--spacing) * var(--sm-translate-x));
      translate: var(--tw-translate-x) var(--tw-translate-y);
    }
    .sm\:\[translate-x\] {
      --tw-translate-x: var(--sm-translate-x);
      translate: var(--tw-translate-x) var(--tw-translate-y);
    }
    .sm\:translate-y {
      --tw-translate-y: calc(var(--spacing) * var(--sm-translate-y));
      translate: var(--tw-translate-x) var(--tw-translate-y);
    }
    .sm\:\[translate-y\] {
      --tw-translate-y: var(--sm-translate-y);
      translate: var(--tw-translate-x) var(--tw-translate-y);
    }
    .sm\:translate-z {
      --tw-translate-z: calc(var(--spacing) * var(--sm-translate-z));
      translate: var(--tw-translate-x) var(--tw-translate-y)
        var(--tw-translate-z);
    }
    .sm\:\[translate-z\] {
      --tw-translate-z: var(--sm-translate-z);
      translate: var(--tw-translate-x) var(--tw-translate-y)
        var(--tw-translate-z);
    }
  }

  @media (min-width: 48rem) {
    .md\:translate {
      --tw-translate-x: calc(var(--spacing) * var(--md-translate));
      --tw-translate-y: calc(var(--spacing) * var(--md-translate));
      translate: var(--tw-translate-x) var(--tw-translate-y);
    }
    .md\:\[translate\] {
      --tw-translate-x: var(--md-translate);
      --tw-translate-y: var(--md-translate);
      translate: var(--tw-translate-x) var(--tw-translate-y);
    }
    .md\:translate-x {
      --tw-translate-x: calc(var(--spacing) * var(--md-translate-x));
      translate: var(--tw-translate-x) var(--tw-translate-y);
    }
    .md\:\[translate-x\] {
      --tw-translate-x: var(--md-translate-x);
      translate: var(--tw-translate-x) var(--tw-translate-y);
    }
    .md\:translate-y {
      --tw-translate-y: calc(var(--spacing) * var(--md-translate-y));
      translate: var(--tw-translate-x) var(--tw-translate-y);
    }
    .md\:\[translate-y\] {
      --tw-translate-y: var(--md-translate-y);
      translate: var(--tw-translate-x) var(--tw-translate-y);
    }
    .md\:translate-z {
      --tw-translate-z: calc(var(--spacing) * var(--md-translate-z));
      translate: var(--tw-translate-x) var(--tw-translate-y)
        var(--tw-translate-z);
    }
    .md\:\[translate-z\] {
      --tw-translate-z: var(--md-translate-z);
      translate: var(--tw-translate-x) var(--tw-translate-y)
        var(--tw-translate-z);
    }
  }

  @media (min-width: 64rem) {
    .lg\:translate {
      --tw-translate-x: calc(var(--spacing) * var(--lg-translate));
      --tw-translate-y: calc(var(--spacing) * var(--lg-translate));
      translate: var(--tw-translate-x) var(--tw-translate-y);
    }
    .lg\:\[translate\] {
      --tw-translate-x: var(--lg-translate);
      --tw-translate-y: var(--lg-translate);
      translate: var(--tw-translate-x) var(--tw-translate-y);
    }
    .lg\:translate-x {
      --tw-translate-x: calc(var(--spacing) * var(--lg-translate-x));
      translate: var(--tw-translate-x) var(--tw-translate-y);
    }
    .lg\:\[translate-x\] {
      --tw-translate-x: var(--lg-translate-x);
      translate: var(--tw-translate-x) var(--tw-translate-y);
    }
    .lg\:translate-y {
      --tw-translate-y: calc(var(--spacing) * var(--lg-translate-y));
      translate: var(--tw-translate-x) var(--tw-translate-y);
    }
    .lg\:\[translate-y\] {
      --tw-translate-y: var(--lg-translate-y);
      translate: var(--tw-translate-x) var(--tw-translate-y);
    }
    .lg\:translate-z {
      --tw-translate-z: calc(var(--spacing) * var(--lg-translate-z));
      translate: var(--tw-translate-x) var(--tw-translate-y)
        var(--tw-translate-z);
    }
    .lg\:\[translate-z\] {
      --tw-translate-z: var(--lg-translate-z);
      translate: var(--tw-translate-x) var(--tw-translate-y)
        var(--tw-translate-z);
    }
  }

  @media (min-width: 80rem) {
    .xl\:translate {
      --tw-translate-x: calc(var(--spacing) * var(--xl-translate));
      --tw-translate-y: calc(var(--spacing) * var(--xl-translate));
      translate: var(--tw-translate-x) var(--tw-translate-y);
    }
    .xl\:\[translate\] {
      --tw-translate-x: var(--xl-translate);
      --tw-translate-y: var(--xl-translate);
      translate: var(--tw-translate-x) var(--tw-translate-y);
    }
    .xl\:translate-x {
      --tw-translate-x: calc(var(--spacing) * var(--xl-translate-x));
      translate: var(--tw-translate-x) var(--tw-translate-y);
    }
    .xl\:\[translate-x\] {
      --tw-translate-x: var(--xl-translate-x);
      translate: var(--tw-translate-x) var(--tw-translate-y);
    }
    .xl\:translate-y {
      --tw-translate-y: calc(var(--spacing) * var(--xl-translate-y));
      translate: var(--tw-translate-x) var(--tw-translate-y);
    }
    .xl\:\[translate-y\] {
      --tw-translate-y: var(--xl-translate-y);
      translate: var(--tw-translate-x) var(--tw-translate-y);
    }
    .xl\:translate-z {
      --tw-translate-z: calc(var(--spacing) * var(--xl-translate-z));
      translate: var(--tw-translate-x) var(--tw-translate-y)
        var(--tw-translate-z);
    }
    .xl\:\[translate-z\] {
      --tw-translate-z: var(--xl-translate-z);
      translate: var(--tw-translate-x) var(--tw-translate-y)
        var(--tw-translate-z);
    }
  }

  @media (min-width: 96rem) {
    .\32xl\:translate {
      --tw-translate-x: calc(var(--spacing) * var(--\32xl-translate));
      --tw-translate-y: calc(var(--spacing) * var(--\32xl-translate));
      translate: var(--tw-translate-x) var(--tw-translate-y);
    }
    .\32xl\:\[translate\] {
      --tw-translate-x: var(--\32xl-translate);
      --tw-translate-y: var(--\32xl-translate);
      translate: var(--tw-translate-x) var(--tw-translate-y);
    }
    .\32xl\:translate-x {
      --tw-translate-x: calc(var(--spacing) * var(--\32xl-translate-x));
      translate: var(--tw-translate-x) var(--tw-translate-y);
    }
    .\32xl\:\[translate-x\] {
      --tw-translate-x: var(--\32xl-translate-x);
      translate: var(--tw-translate-x) var(--tw-translate-y);
    }
    .\32xl\:translate-y {
      --tw-translate-y: calc(var(--spacing) * var(--\32xl-translate-y));
      translate: var(--tw-translate-x) var(--tw-translate-y);
    }
    .\32xl\:\[translate-y\] {
      --tw-translate-y: var(--\32xl-translate-y);
      translate: var(--tw-translate-x) var(--tw-translate-y);
    }
    .\32xl\:translate-z {
      --tw-translate-z: calc(var(--spacing) * var(--\32xl-translate-z));
      translate: var(--tw-translate-x) var(--tw-translate-y)
        var(--tw-translate-z);
    }
    .\32xl\:\[translate-z\] {
      --tw-translate-z: var(--\32xl-translate-z);
      translate: var(--tw-translate-x) var(--tw-translate-y)
        var(--tw-translate-z);
    }
  }
}
