@layer styles {
  .via-position {
    --tw-gradient-via-position: var(--via-position);
  }

  @media (min-width: 40rem) {
    .sm\:via-position {
      --tw-gradient-via-position: var(--sm-via-position, var(--via-position));
    }
  }

  @media (min-width: 48rem) {
    .md\:via-position {
      --tw-gradient-via-position: var(
        --md-via-position,
        var(--sm-via-position, var(--via-position))
      );
    }
  }

  @media (min-width: 64rem) {
    .lg\:via-position {
      --tw-gradient-via-position: var(
        --lg-via-position,
        var(--md-via-position, var(--sm-via-position, var(--via-position)))
      );
    }
  }

  @media (min-width: 80rem) {
    .xl\:via-position {
      --tw-gradient-via-position: var(
        --xl-via-position,
        var(
          --lg-via-position,
          var(--md-via-position, var(--sm-via-position, var(--via-position)))
        )
      );
    }
  }

  @media (min-width: 96rem) {
    .\32xl\:via-position {
      --tw-gradient-via-position: var(
        --\32xl-via-position,
        var(
          --xl-via-position,
          var(
            --lg-via-position,
            var(--md-via-position, var(--sm-via-position, var(--via-position)))
          )
        )
      );
    }
  }
}
