@layer styles {
  .via\/o {
    --tw-gradient-via: color-mix(
      in oklab,
      var(--via) var(--via-o, 100%),
      transparent
    );
    --tw-gradient-stops: var(
      --tw-gradient-via-stops,
      var(--tw-gradient-position),
      var(--tw-gradient-via) var(--tw-gradient-via-position),
      var(--tw-gradient-to) var(--tw-gradient-to-position)
    );
  }

  @media (min-width: 40rem) {
    .sm\:via\/o {
      --tw-gradient-via: color-mix(
        in oklab,
        var(--sm-via) var(--sm-via-o, 100%),
        transparent
      );
      --tw-gradient-stops: var(
        --tw-gradient-via-stops,
        var(--tw-gradient-position),
        var(--tw-gradient-via) var(--tw-gradient-via-position),
        var(--tw-gradient-to) var(--tw-gradient-to-position)
      );
    }
  }

  @media (min-width: 48rem) {
    .md\:via\/o {
      --tw-gradient-via: color-mix(
        in oklab,
        var(--md-via) var(--md-via-o, 100%),
        transparent
      );
      --tw-gradient-stops: var(
        --tw-gradient-via-stops,
        var(--tw-gradient-position),
        var(--tw-gradient-via) var(--tw-gradient-via-position),
        var(--tw-gradient-to) var(--tw-gradient-to-position)
      );
    }
  }

  @media (min-width: 64rem) {
    .lg\:via\/o {
      --tw-gradient-via: color-mix(
        in oklab,
        var(--lg-via) var(--lg-via-o, 100%),
        transparent
      );
      --tw-gradient-stops: var(
        --tw-gradient-via-stops,
        var(--tw-gradient-position),
        var(--tw-gradient-via) var(--tw-gradient-via-position),
        var(--tw-gradient-to) var(--tw-gradient-to-position)
      );
    }
  }

  @media (min-width: 80rem) {
    .xl\:via\/o {
      --tw-gradient-via: color-mix(
        in oklab,
        var(--xl-via) var(--xl-via-o, 100%),
        transparent
      );
      --tw-gradient-stops: var(
        --tw-gradient-via-stops,
        var(--tw-gradient-position),
        var(--tw-gradient-via) var(--tw-gradient-via-position),
        var(--tw-gradient-to) var(--tw-gradient-to-position)
      );
    }
  }

  @media (min-width: 96rem) {
    .\32xl\:via\/o {
      --tw-gradient-via: color-mix(
        in oklab,
        var(--\32xl-via) var(--\32xl-via-o, 100%),
        transparent
      );
      --tw-gradient-stops: var(
        --tw-gradient-via-stops,
        var(--tw-gradient-position),
        var(--tw-gradient-via) var(--tw-gradient-via-position),
        var(--tw-gradient-to) var(--tw-gradient-to-position)
      );
    }
  }
}
