@layer styles {
  .via {
    --tw-gradient-via: color-mix(
      in oklab,
      var(--via) var(--via-opacity, 100%),
      transparent
    );
    --tw-gradient-via-stops:
      var(--tw-gradient-position),
      var(--tw-gradient-from) var(--tw-gradient-from-position),
      var(--tw-gradient-via) var(--tw-gradient-via-position),
      var(--tw-gradient-to) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-via-stops);
  }

  @media (min-width: 40rem) {
    .sm\:via {
      --tw-gradient-via: color-mix(
        in oklab,
        var(--sm-via, var(--via))
          var(--sm-via-opacity, var(--via-opacity, 100%)),
        transparent
      );
      --tw-gradient-via-stops: var(
        --tw-gradient-position,
        var(--tw-gradient-from) var(--tw-gradient-from-position),
        var(--tw-gradient-via) var(--tw-gradient-via-position),
        var(--tw-gradient-to) var(--tw-gradient-to-position)
      );
      --tw-gradient-stops: var(--tw-gradient-via-stops);
    }
  }

  @media (min-width: 48rem) {
    .md\:via {
      --tw-gradient-via: color-mix(
        in oklab,
        var(--md-via, var(--sm-via, var(--via)))
          var(--md-via-opacity, var(--sm-via-opacity, var(--via-opacity, 100%))),
        transparent
      );
      --tw-gradient-via-stops: var(
        --tw-gradient-position,
        var(--tw-gradient-from) var(--tw-gradient-from-position),
        var(--tw-gradient-via) var(--tw-gradient-via-position),
        var(--tw-gradient-to) var(--tw-gradient-to-position)
      );
      --tw-gradient-stops: var(--tw-gradient-via-stops);
    }
  }

  @media (min-width: 64rem) {
    .lg\:via {
      --tw-gradient-via: color-mix(
        in oklab,
        var(--lg-via, var(--md-via, var(--sm-via, var(--via))))
          var(
            --lg-via-opacity,
            var(
              --md-via-opacity,
              var(--sm-via-opacity, var(--via-opacity, 100%))
            )
          ),
        transparent
      );
      --tw-gradient-via-stops: var(
        --tw-gradient-position,
        var(--tw-gradient-from) var(--tw-gradient-from-position),
        var(--tw-gradient-via) var(--tw-gradient-via-position),
        var(--tw-gradient-to) var(--tw-gradient-to-position)
      );
      --tw-gradient-stops: var(--tw-gradient-via-stops);
    }
  }

  @media (min-width: 80rem) {
    .xl\:via {
      --tw-gradient-via: color-mix(
        in oklab,
        var(--xl-via, var(--lg-via, var(--md-via, var(--sm-via, var(--via)))))
          var(
            --xl-via-opacity,
            var(
              --lg-via-opacity,
              var(
                --md-via-opacity,
                var(--sm-via-opacity, var(--via-opacity, 100%))
              )
            )
          ),
        transparent
      );
      --tw-gradient-via-stops: var(
        --tw-gradient-position,
        var(--tw-gradient-from) var(--tw-gradient-from-position),
        var(--tw-gradient-via) var(--tw-gradient-via-position),
        var(--tw-gradient-to) var(--tw-gradient-to-position)
      );
      --tw-gradient-stops: var(--tw-gradient-via-stops);
    }
  }

  @media (min-width: 96rem) {
    .\32xl\:via {
      --tw-gradient-via: color-mix(
        in oklab,
        var(
            --\32xl-via,
            var(
              --xl-via,
              var(--lg-via, var(--md-via, var(--sm-via, var(--via))))
            )
          )
          var(
            --\32xl-via-opacity,
            var(
              --xl-via-opacity,
              var(
                --lg-via-opacity,
                var(
                  --md-via-opacity,
                  var(--sm-via-opacity, var(--via-opacity, 100%))
                )
              )
            )
          ),
        transparent
      );
      --tw-gradient-via-stops: var(
        --tw-gradient-position,
        var(--tw-gradient-from) var(--tw-gradient-from-position),
        var(--tw-gradient-via) var(--tw-gradient-via-position),
        var(--tw-gradient-to) var(--tw-gradient-to-position)
      );
      --tw-gradient-stops: var(--tw-gradient-via-stops);
    }
  }
}
