@layer styles {
  .via {
    --tw-gradient-via: var(--via);
    --tw-gradient-stops: var(
      --tw-gradient-via-stops,
      var(--tw-gradient-position),
      var(--tw-gradient-via) var(--tw-gradient-via-position),
      var(--tw-gradient-to) var(--tw-gradient-to-position)
    );
  }
  .dark .dark\:via {
    --tw-gradient-via: var(--dark-via);
    --tw-gradient-stops: var(
      --tw-gradient-via-stops,
      var(--tw-gradient-position),
      var(--tw-gradient-via) var(--tw-gradient-via-position),
      var(--tw-gradient-to) var(--tw-gradient-to-position)
    );
  }

  @media (min-width: 40rem) {
    .sm\:via {
      --tw-gradient-via: var(--sm-via);
      --tw-gradient-stops: var(
        --tw-gradient-via-stops,
        var(--tw-gradient-position),
        var(--tw-gradient-via) var(--tw-gradient-via-position),
        var(--tw-gradient-to) var(--tw-gradient-to-position)
      );
    }
    .dark .dark\:sm\:via {
      --tw-gradient-via: var(--dark-sm-via);
      --tw-gradient-stops: var(
        --tw-gradient-via-stops,
        var(--tw-gradient-position),
        var(--tw-gradient-via) var(--tw-gradient-via-position),
        var(--tw-gradient-to) var(--tw-gradient-to-position)
      );
    }
  }

  @media (min-width: 48rem) {
    .md\:via {
      --tw-gradient-via: var(--md-via);
      --tw-gradient-stops: var(
        --tw-gradient-via-stops,
        var(--tw-gradient-position),
        var(--tw-gradient-via) var(--tw-gradient-via-position),
        var(--tw-gradient-to) var(--tw-gradient-to-position)
      );
    }
    .dark .dark\:md\:via {
      --tw-gradient-via: var(--dark-md-via);
      --tw-gradient-stops: var(
        --tw-gradient-via-stops,
        var(--tw-gradient-position),
        var(--tw-gradient-via) var(--tw-gradient-via-position),
        var(--tw-gradient-to) var(--tw-gradient-to-position)
      );
    }
  }

  @media (min-width: 64rem) {
    .lg\:via {
      --tw-gradient-via: var(--lg-via);
      --tw-gradient-stops: var(
        --tw-gradient-via-stops,
        var(--tw-gradient-position),
        var(--tw-gradient-via) var(--tw-gradient-via-position),
        var(--tw-gradient-to) var(--tw-gradient-to-position)
      );
    }
    .dark .dark\:lg\:via {
      --tw-gradient-via: var(--dark-lg-via);
      --tw-gradient-stops: var(
        --tw-gradient-via-stops,
        var(--tw-gradient-position),
        var(--tw-gradient-via) var(--tw-gradient-via-position),
        var(--tw-gradient-to) var(--tw-gradient-to-position)
      );
    }
  }

  @media (min-width: 80rem) {
    .xl\:via {
      --tw-gradient-via: var(--xl-via);
      --tw-gradient-stops: var(
        --tw-gradient-via-stops,
        var(--tw-gradient-position),
        var(--tw-gradient-via) var(--tw-gradient-via-position),
        var(--tw-gradient-to) var(--tw-gradient-to-position)
      );
    }
    .dark .dark\:xl\:via {
      --tw-gradient-via: var(--dark-xl-via);
      --tw-gradient-stops: var(
        --tw-gradient-via-stops,
        var(--tw-gradient-position),
        var(--tw-gradient-via) var(--tw-gradient-via-position),
        var(--tw-gradient-to) var(--tw-gradient-to-position)
      );
    }
  }

  @media (min-width: 96rem) {
    .\32xl\:via {
      --tw-gradient-via: var(--\32xl-via);
      --tw-gradient-stops: var(
        --tw-gradient-via-stops,
        var(--tw-gradient-position),
        var(--tw-gradient-via) var(--tw-gradient-via-position),
        var(--tw-gradient-to) var(--tw-gradient-to-position)
      );
    }
    .dark .dark\:2xl\:via {
      --tw-gradient-via: var(--dark-2xl-via);
      --tw-gradient-stops: var(
        --tw-gradient-via-stops,
        var(--tw-gradient-position),
        var(--tw-gradient-via) var(--tw-gradient-via-position),
        var(--tw-gradient-to) var(--tw-gradient-to-position)
      );
    }
  }
}
